/*BG, Title*/
#promo header {background-image: url('bg.jpg')}		/* bg: #000 */

/*Bonus bg, Bonus text*/
#promo header .playCode div {background-color: #00307e; color: #cee717;}								/* bg: #b3b3b3; c: #000 */
#promo header .playCode div span {color: #cee717;}

/*Play bg, Play text*/
#promo header .playCode a {background-color: #cee717; color: #00307e;}												/* bg: #333; c: #fff */