#landing {
	background-color: #000;
	background-image: url('/img/landing/default/bg.jpg');
	background-position: top left;
	background-repeat: no-repeat;
	margin-bottom: 20px;
	color: #fff;
	padding: 40px 65px 65px;
}
	#landing .article, #landing .article p {color: #fff}
	#landing a {color: #8feaf5}
	#landing a:hover {color: #fff}
	#landing .head {
		padding: 0 0 0 420px;
		height: 400px;
	}
	#landing h1 {
		font-weight: normal;
		font-size: 40px;
		line-height: 44px;
		margin-bottom: 25px;
	}
	#landing .download {
		background-image: url('/img/landing/default/download.png');
		background-position: top left;
		background-repeat: no-repeat;
		width: 169px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		font-weight: bold;
		font-size: 14px;
		text-transform: uppercase;
		color: #fff;
		display: inline-block;
		margin-bottom: 25px;
	}
	#landing .head table {
		margin-bottom: 10px;
		width: 100%;
	}
	#landing .head tr td:first-child {padding-right: 50px;}
	#landing .head tr:first-child td {padding-bottom: 10px;}
	#landing .head td {color: #fff; text-transform: uppercase}
	#landing .bonusCode span {
			display: inline-block;
			background: #fff9c4;
			border: 1px dashed #999576;
			color: #c00;
			text-transform: uppercase;
			line-height: 27px;
			padding: 0 10px;
			margin-bottom: 15px;
			font-size: 18px;
		}
		#landing .bonusCode span {margin-top: 5px}
	#landing .head td b {
		display: block;
		font-size: 20px;
		font-weight: normal;
		text-transform: capitalize;
		white-space: nowrap;
		margin: 5px 0;
	}
	#landing .tzone {
		background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAAHeq0ewAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALFJREFUeNpidHBwYACCaQxAxrT/QAAQQCDGf0YQCyCAwCwYAAggRpA8UGEmEDMywERBKpgYEGA6QADBjUEGIDEmqF4wYGRkhDEzGeEuQCiYDsRZAAEEk/iPZD4j3E0gCZgLGKECYHOhTAa4s2ACYEFHR0cGZADis4B0AhkoFgEEGIqz9u/fz4AOoCaBnYoSUjAAcyFaSKCEF0GAVTHMR0jBCFcM8sh0dF/CNIHEQfIgdQDH7ohBFJ6WYgAAAABJRU5ErkJggg==') no-repeat left 3px;
		display: inline-block;
		font-size: 11px;
		font-weight: bold;
		padding-left: 16px;
	}
	#landing .article table th {color: #fff}
	#landing .article table tr.even, #landing .article table th {background: none}
	#landing .article table tr.odd {
		background: rgba(255, 255, 255, 0.2);
		background: transparent\9;
	}

	#upcomingFreerolls {margin-top: 40px;}
		#upcomingFreerolls h2 {
			font-size: 14px;
			font-weight: bold;
			margin: 0 0 10px 10px;
		}
		#upcomingFreerolls table {
			border-collapse: collapse;
			width: 100%;
		}
		#upcomingFreerolls table .odd td, #upcomingFreerolls table .odd th {background: rgba(255, 255, 255, 0.2)}
		#upcomingFreerolls td {
			padding: 0 10px 10px;
			vertical-align: top;
		}
		#upcomingFreerolls .title {padding-top: 10px;}
		#upcomingFreerolls .expandable {font-size: 14px}
		#upcomingFreerolls th {
			font-weight: normal;
			line-height: 14px;
			padding: 10px 10px 3px;
			text-align: left;
			vertical-align: bottom;
		} #upcomingFreerolls th span {color: #fff; opacity: 0.5}


/*SKINS*/
#landing.scoop2012 {background-image: url('/img/landing/scoop-2012/intro.jpg?1')}
#landing.scoop2012 .download {background-image: url('/img/landing/scoop-2012/download.png'); color: #900; position: relative}
#landing.scoop2012 .download:after {position: absolute; top: 7px; right: -180px; content: ''; background: url('/img/landing/scoop-2012/stars-logo.png'); width: 149px; height: 22px}