#landing {
	background-color: #000;
	background-image: url('/img/landing/default/bg.jpg');
	background-position: top left;
	background-repeat: no-repeat;
	margin-bottom: 20px;
	color: #fff;
	padding: 40px 65px 65px;
}
	#landing .article, #landing .article p {color: #fff}
	#landing a {color: #8feaf5}
	#landing a:hover {color: #fff}
	#landing .head {
		padding: 0 0 0 420px;
		margin-bottom: 40px;
	}
	#landing h1 {
		font-weight: normal;
		font-size: 40px;
		line-height: 44px;
		margin-bottom: 25px;
	}
	#landing .download {
		background-image: url('/img/landing/default/download.png');
		background-position: top left;
		background-repeat: no-repeat;
		width: 169px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		font-weight: bold;
		font-size: 14px;
		text-transform: uppercase;
		color: #fff;
		display: inline-block;
		margin-bottom: 25px;
	}
	#landing .head table {
		margin-bottom: 10px;
		width: 100%;
	}
	#landing .head tr td:first-child {padding-right: 50px;}
	#landing .head tr:first-child td {padding-bottom: 10px;}
	#landing .head td {color: #fff; text-transform: uppercase; vertical-align: top}
	#landing .bonusCode span {
			display: inline-block;
			background: #fff9c4;
			border: 1px dashed #999576;
			color: #c00;
			text-transform: uppercase;
			line-height: 27px;
			padding: 0 10px;
			margin-bottom: 15px;
			font-size: 18px;
		}
		#landing .bonusCode span {margin-top: 5px}
	#landing .head td b {
		display: block;
		font-size: 20px;
		font-weight: normal;
		text-transform: capitalize;
		white-space: nowrap;
		margin: 5px 0;
	}
	#landing .tzone {
		background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAAHeq0ewAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALFJREFUeNpidHBwYACCaQxAxrT/QAAQQCDGf0YQCyCAwCwYAAggRpA8UGEmEDMywERBKpgYEGA6QADBjUEGIDEmqF4wYGRkhDEzGeEuQCiYDsRZAAEEk/iPZD4j3E0gCZgLGKECYHOhTAa4s2ACYEFHR0cGZADis4B0AhkoFgEEGIqz9u/fz4AOoCaBnYoSUjAAcyFaSKCEF0GAVTHMR0jBCFcM8sh0dF/CNIHEQfIgdQDH7ohBFJ6WYgAAAABJRU5ErkJggg==') no-repeat left 3px;
		display: inline-block;
		font-size: 11px;
		font-weight: bold;
		padding-left: 16px;
	}
	#landing .article table th {color: #fff}
	#landing .article table tr.even, #landing .article table th {background: none}
	#landing .article table tr.odd {
		background: rgba(255, 255, 255, 0.2);
		background: transparent\9;
	}

	#upcomingFreerolls {margin-top: 40px;}
		#upcomingFreerolls h2 {
			font-size: 14px;
			font-weight: bold;
			margin: 0 0 10px 10px;
		}
		#upcomingFreerolls table {
			border-collapse: collapse;
			width: 100%;
		}
		#upcomingFreerolls table .odd td, #upcomingFreerolls table .odd th {background: rgba(255, 255, 255, 0.2)}
		#upcomingFreerolls td {
			padding: 0 10px 10px;
			vertical-align: top;
		}
		#upcomingFreerolls .title {padding-top: 10px;}
		#upcomingFreerolls .expandable {font-size: 14px}
		#upcomingFreerolls th {
			font-weight: normal;
			line-height: 14px;
			padding: 10px 10px 3px;
			text-align: left;
			vertical-align: bottom;
		} #upcomingFreerolls th span {color: #fff; opacity: 0.5}


/*SKINS*/
#landing.pokerstars5k {background-image: url('/img/landing/pokerstars5k/intro.jpg?1'); padding: 40px 35px 65px 65px}
#landing.pokerstars5k .download {background-image: url('/img/landing/pokerstars5k/download.png?1'); line-height: 60px; width: 306px; height: 60px; font-size: 29px; text-transform: none; font-weight: normal}

#landing.pca2012 {background-image: url('/img/landing/pca2012/intro.jpg?1'); padding: 40px 35px 65px 65px}
#landing.pca2012 .download {background: url('/img/landing/pca2012/download.png?1') repeat-x; line-height: 40px; height: 40px; font-size: 14px; color: #fff; position: relative; }
#landing.pca2012 .download:hover {background-position: bottom}
#landing.pca2012 .download:after {position: absolute; top: 8px; right: -160px; content: ''; background: url('/img/landing/pca2012/logo.png'); width: 128px; height: 20px}
#landing.pca2012 .head td, #landing.pca2012 h1 {color: #000;}

#landing.vault365 {background-image: url('/img/landing/vault365/intro.jpg')}
#landing.vault365 .download {
	background-image: -moz-linear-gradient(top, #fffcbc 0%, #efe722 100%);
	background-image: -webkit-linear-gradient(top, #fffcbc 0%, #efe722 100%);
	background-image: -o-linear-gradient(top, #fffcbc 0%, #efe722 100%);
	background-image: -ms-linear-gradient(top, #fffcbc 0%, #efe722 100%);
	background-color: #efe722; line-height: 40px; height: 40px; font-size: 14px; color: #323232 !important; position: relative; }
#landing.vault365 .download:hover {background: #efe722}
#landing.vault365 .download:after {position: absolute; top: 6px; right: -120px; content: ''; background: url('/img/landing/vault365/logo.png'); width: 98px; height: 23px}
#landing.vault365 a {color: #00c482;}
#landing.vault365 a:hover {color: #ffff0c;}

#landing.ps-sm {background-image: url('/img/landing/ps-sm/intro.jpg')}
#landing.ps-sm .download {
	background-image: -moz-linear-gradient(top, #ff0000 0%, #810000 100%);
	background-image: -webkit-linear-gradient(top, #ff0000 0%, #810000 100%);
	background-image: -o-linear-gradient(top, #ff0000 0%, #810000 100%);
	background-image: -ms-linear-gradient(top, #ff0000 0%, #810000 100%);
	background-color: #ff0000; line-height: 40px; height: 40px; font-size: 14px; color: #fff !important; position: relative; }
#landing.ps-sm .download:hover {background: #810000}
#landing.ps-sm .download:after {position: absolute; top: 8px; right: -160px; content: ''; background: url('/img/landing/ps-sm/logo.png'); width: 124px; height: 19px}
#landing.ps-sm a {color: #fff;}
#landing.ps-sm a:hover {color: #ff0000;}

#landing.ps-10k {background-image: url('/img/landing/ps-10k/intro.jpg')}
#landing.ps-10k .download {
	background-image: -moz-linear-gradient(top, #ffe3a7 0%, #b38700 100%);
	background-image: -webkit-linear-gradient(top, #ffe3a7 0%, #b38700 100%);
	background-image: -o-linear-gradient(top, #ffe3a7 0%, #b38700 100%);
	background-image: -ms-linear-gradient(top, #ffe3a7 0%, #b38700 100%);
	background-color: #ffe3a7; line-height: 40px; height: 40px; font-size: 14px; color: #000 !important; position: relative; }
#landing.ps-10k .download:after {position: absolute; top: 8px; right: -160px; content: ''; background: url('/img/landing/ps-10k/logo.png'); width: 124px; height: 19px}
#landing.ps-10k a {color: #fff;}
#landing.ps-10k a:hover {color: #ff0000;}