.terms .widgetTitle {margin-bottom: 1px;}
.terms .backSearchNext {
	margin: 20px 0;
	text-align: center;
}
	.terms .backSearchNext .prev,
	.terms .backSearchNext .next {
		background: url('/img/forms/button_prev_next.png') no-repeat left top;
		color: #000000;
		display: inline-block;
		font-size: 12px;
		height: 25px;
		line-height: 25px;
		margin-right: 5px;
		padding: 0 5px 0 10px;
		position: relative;
		text-decoration: none;
		vertical-align: top;
	}
		.terms .backSearchNext .prev:hover,
		.terms .backSearchNext .next:hover {background-position: left -30px;}
	.terms .backSearchNext .prev .ctr,
	.terms .backSearchNext .next .ctr {
		background: url('/img/forms/button_prev_next.png') no-repeat right top;
		display: block;
		height: 25px;
		position: absolute;
		right: -5px;
		top: 0;
		width: 5px;
	}
		.terms .backSearchNext .prev:hover .ctr,
		.terms .backSearchNext .next:hover .ctr {background-position: right -30px;}
	.terms .backSearchNext .prev .linkText,
	.terms .backSearchNext .next .linkText {
		background: url('/img/forms/button_prev_next_arrows.png') no-repeat left top;
		display: block;
		height: 25px;
		padding: 0 5px 0 15px;
		text-align: right;
		width: 85px;
		} .terms .backSearchNext .next .linkText {
		background-position: right -30px;
		padding-left: 5px;
		padding-right: 15px;
		text-align: left;
		}
	.terms .liveSearch {
		display: inline-block;
		margin: 0 5px;
		text-align: left;
		vertical-align: top;
		*display: inline; *zoom: 1; /* IE7 */
	}
.terms .termsList {
	display: block;
	list-style: none;
	margin: 0;
}
.terms .termsList li {
	display: inline-block;
	margin: 30px 10px 0 10px;
	vertical-align: top;
	width: 155px;
	*display: inline; /* IE7 */
	*zoom: 1; /* IE7 */
}
.terms .termsList .letter {
	background: #e5e5e5;
	display: block;
	font-size: 24px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	width: 35px;
}
.terms .termsList li ul {
	display: block;
	list-style: none;
	margin-top: 10px;
}
.terms .termsList li li {
	display: block;
	margin: 0;
	padding: 0 2px;
	width: auto;
}
.terms .termsList a:link {color: #000000;}
.terms .termsList a:hover {color: #0069d0;}