<% main%>
<div id="landing" class="{pageID}">
	<div class="head">
		<h1>{name}</h1>
		<a href="{roomDownloadLink}" class="download">Download Now</a>
		<table>
			<tr>
				<td class="bonusCode">
					<%if{bonus_code}%>Bonus Code<br /><span>{bonus_code}</span><%end%>
				</td>
				<td class="bonusCode">
					<%if{marketing_code}%>Marketing Code<br /><span>{marketing_code}</span><%end%>
				</td>
			</tr>
			<tr>
				<td>
					Tournament Date
					<b>{tourDate}</b>
					<span class="tzone">{gmt}</span>
				</td>
				<td>
					Qualification Period
					<b><% if {qualificationFrom} %>{qualificationFrom} - <% end %>{qualificationTo}</b>
				</td>
			</tr>
		</table>
	</div>
	<%if{text}%><div class="details article">{text}</div><%end%>
</div>