<% main%>
<div id="landing" class="{pageID}">
	<div class="head">
		<h1>{name}</h1>
		<a href="{roomDownloadLink}" class="download">Download Now</a>
		<table>
			<tr>
				<td class="bonusCode">
					<%if{bonus_code}%>Bonus Code<br /><span>{bonus_code}</span><%end%>
				</td>
				<td class="bonusCode">
					<%if{marketing_code}%>Marketing Code<br /><span>{marketing_code}</span><%end%>
				</td>
			</tr>
			<tr>
				<td>
					Tournament Date
					<b>{tourDate}</b>
					<span class="tzone">{gmt}</span>
				</td>
				<td>
					Qualification Period
					<b><% if {qualificationFrom} %>{qualificationFrom} - <% end %>{qualificationTo}</b>
				</td>
			</tr>
		</table>
	</div>
	<%if{titan}%>
	<div class="fr downloadApp">
		<a href="http://itunes.apple.com/us/app/pokernews.com/id531059348?ls=1&mt=8" target="_blank"><img src="http://www.pokernews.com/i/appStore.png" width="172" height="59" alt="PokerNews App on App Store" /></a>
		<a href="https://play.google.com/store/apps/details?id=com.phonegap.pokernews" target="_blank"><img src="http://www.pokernews.com/i/googlePlay.png" width="172" height="60" alt="PokerNews App on Google Play" /></a>
	</div>
	<%end%>
	<%if{text}%><div class="details article">{text}</div><%end%>
</div>