<% main %>
<div class="review">
	<div class="reviewHeader wFullDark">
		<div class="fl">
			<% if {logoBigSrc} %>
			<a href="{downloadURL}" rel="nofollow" target="_blank"><img src="{logoBigSrc}" alt="{roomName}" /></a>
			<% end %>
			<div class="reviewBonus clrfix">
				<% if {bonus_text} %>
				<strong>{bonus_text}</strong>
				<em>Exclusive PokerNetwork offer</em>
				<% end %>
			</div>
		</div>
		<div class="fr">
			<a href="{visitURL}" rel="nofollow" class="bigButton whiteButton bigButtonIcon" target="_blank">Visit Website</a><a href="{downloadURL}" rel="nofollow" class="bigButton blueButton bigButtonIcon" target="_blank">Download</a>
			<% if {osText} %><div><span class="meta">OS: {osText}</span></div><% end %>
			<div class="bonusCode">Bonus code<br /><span><% if {bonusCode} %>{bonusCode}<% else {bonusCode} %>Use our link<% end %></span></div>
			<% if {marketingCode} %><div class="bonusCode">Marketing code<br /><span>{marketingCode}</span></div><% end %>
		</div>
		<span class="clr"></span>
	</div>

	<div class="left fl">
		<div class="widget article">
			<h1>{roomName}</h1>
			{intro}
			<!--# fieldset class="commingPromos">
				<legend>Ongoing promotions</legend>
				<a href="#"><img src="http://placekitten.com/517/175" alt="Avatar" width="495" class="promoImg" /></a>
				<p>To date, 41 responses have been issued. The responses come not from Obama himself but from someone within the administration who deals with the topic. Judging by the responses made so far, the poker response won't be worth the wait. The responses have not addressed concerns made in the petitions but instead merely stated the administration's stand on the topics.</p>
				<a href="#" class="more2">$10,000 Maxstack tournaments »</a>
			</fieldset-->
			{review}

			<div class="reviewFooter">
				<a href="{downloadURL}" rel="nofollow" class="bigButton blueButton" target="_blank">Start playing at {roomName}</a>
				<% if {osText} %><div><span class="meta">OS: {osText}</span></div><% end %>
				<div class="bonusCode">Bonus code<br /><span><% if {bonusCode} %>{bonusCode}<% else {bonusCode} %>Use our link<% end %></span></div>
				<% if {marketingCode} %><div class="bonusCode">Marketing code<br /><span>{marketingCode}</span></div><% end %>
			</div>
		</div>
	</div>
	<div class="right fr">
		<div class="rightInsert wFull">
			<h2>Editor’s ratings</h2>
			<table class="ratings">
				<colgroup>
					<col />
					<col style="width: 270px" />
					<col style="width: 30px" />
				</colgroup>
				<%loop{ratings}%>
				<tr>
					<td>{name}</td>
					<td><span class="ratingBarBackground fl"><span style="width: {rate%}%;" class="ratingBar"></span></span></td>
					<td><b>{rate}</b></td>
				</tr>
				<%end{loop-ratings}%>
				<tr class="overall">
					<td>Overall score</td>
					<td><span class="ratingBarBackground fl"><span style="width: {editors_rating%}%;" class="ratingBar"></span></span></td>
					<td><b>{editors_rating}</b></td>
				</tr>
			</table>

			<%if{promotions}%>
			<h2>Bonuses and Promotions</h2>
			<ul>
				<%loop{promotions}%>
					<% if{url} %>
						<li><a href="{url}">{title}</a></li>
					<% else{url} %>
						<li>{title}</li>
					<%end%>
				<%end%>
			</ul>
			<%end%>


		</div>
		<div class="widget">
			<h2 class="widgetTitle">Basic info</h2>
			<dl>
				<%if{url}%><dt>Website</dt><dd><a href="{url}" onclick="window.open('{visitURL}');return false;">{url.www}</a></dd><%end%>
				<%if{established}%><dt>Established </dt> <dd>{established}</dd><%end%>
				<%if{auditor}%><dt>Auditor </dt> <dd>{auditor}</dd><%end%>
				<%if{network}%><dt>Network </dt> <dd>{network}</dd><%end%>
				<%if{email}%><dt>Support e-mail </dt> <dd><a href="mailto:{email}">{email}</a></dd><%end%>

				<%if{isOs}%><dt style="margin-top: 10px">Available on</dt><dd style="margin-top: 10px"><div class="os"><%if{isWindows}%><span class="osWin"></span><%end%><%if{isApple}%><span class="osMac"></span><%end%><%if{isLinux}%><span class="osLinux"></span><%end%></div></dd><%end%>
			</dl>
		</div>

		<%if{freerolls}%>
		<div class="widget">
			<h2 class="widgetTitle">Freerolls</h2>
			<ul class="freerolls">
				<%loop{freerolls}%>
				<li>
					<a href="{url.full}" class="title">{name}</a>
					<dl>
						<dt>Date</dt>
						<dd>{tourDate}</dd>
						<dt>Prize Pool</dt>
						<dd>{prizePool}</dd>
						<dt>Points required</dt>
						<dd>{pointsReq}</dd>
						<dt>Qualification Period</dt>
						<dd><% if {qualificationFrom} %>{qualificationFrom} – <% end %>{qualificationTo}</dd>
					</dl>
					<!--#<span class="timeLeft">3 hours left to register!</span>-->
				</li>
                <%end%>
			</ul>
			<a href="{url.moreFreerolls}" class="more">More Freerolls »</a>
		</div>
		<%end%>

		<%if{pages}%>
		<div class="widget">
			<h2 class="widgetTitle">Related pages</h2>
			<%loop{pages}%><a href="{url}" title="{title}">{title}</a><br /><%end%>
		</div>
		<%end%>

		<% insert{screenshots} %>
			<script type="text/javascript">
			jQuery(document).ready(function() {
				jQuery('a[rel*=lightbox]').lightBox(); // Select all links that contains lightbox in the attribute rel
			});
			</script>
			<div class="widget clrfix">
				<h2 class="widgetTitle">Screenshots</h2>
				<div class="screenShots">
					<%loop{img-items}%><a href="{imgOrig}" rel="lightbox" title="{alt}"><img src="{img}" width="138" alt="{alt}" /></a><%end%>
				</div>
			</div>
		<% end{screenshots} %>

		<% if {deposits} %>
		<div class="widget">
			<h2 class="widgetTitle">Deposit options</h2>
			<div class="depositOptions">
			<!--#<fieldset style="margin-bottom: 20px">
				<legend><a href="#">Preferred payment partner</a></legend>
				<a href="#"><img src="http://placekitten.com/460/60" alt="Avatar" width="460" height="60" /></a>
			</fieldset>
			<fieldset class="depositOptions">
				<legend>Other options</legend>-->
				<%loop{deposits}%>
						<% if{url} %><a href="{url}"><img src="{img}" alt="{name}" /></a>
						<% else{url} %><img src="{img}" alt="{name}" />
						<%end%>
					<%end%>
			<!--#</fieldset>-->
			</div>
		</div>
		<% end %>
	</div>


</div>
