<% tabs %>
rooms=All Rooms
rooms-mac=Mac Compatible
rooms-linux=Linux compatible


<% viewList %>
<div class="widget">
	<div class="filterTabs clrfix">
		<b>Show:</b>
		<ul><%loop{tab-item}%><li{class-on}><a href="{url}">{name}</a></li><%end%></ul>
	</div><span class="clr"></span>
	<div class="pageIntro">
		<h1 class="pageTitle">{str_header}</h1>
		{intro}
	</div>
	
	<ul class="twoColsList roomsList">
	<% if{items2} %>
		<% loop{items2} %>
		<li{class-odd}>
			<fieldset>
				<legend>{roomName}</legend>
				<a href="{roomLink}"><img src="{logo}" alt="{roomName}" class="fl" /></a>
				<div class="download fr">
					<a class="button" href="{roomDownloadLink}">Download</a>
					<div class="os">OS: <% if{osAlt1} %><span class="osWin"></span><% end %><% if{osAlt2} %><span class="osMac"></span><% end %><% if{osAlt4} %><span class="osLinux"></span><% end %></div>
				</div>
				<div class="reviewBonus clrfix">
					<% if{intro_text} %>
					<strong>{intro_text}</strong>
					<em>Exclusive PokerNetwork offer</em>
					<% end{if-intro_text} %>
				</div>
				<h2>Editor’s ratings</h2>
				<table class="fl ratings">
					<colgroup>
						<col />
						<col style="width: 120px" />
						<col style="width: 20px" />
					</colgroup>
					<%loop{ratings}%>
					<tr>
						<td>{name}</td>
						<td><span class="ratingBarBackground fl"><span style="width: {rate%}%;" class="ratingBar"></span></span></td>
						<td><b>{rate}</b></td>
					</tr>
					<%end{loop-ratings}%>
					<tr>
						<td>Overall score</td>
						<td><span class="ratingBarBackground fl"><span style="width:{editors_rating%}%;" class="ratingBar"></span></span></td>
						<td><b>{editors_rating}</b></td>
					</tr>
				</table>
				<div class="bonusCode">
					Bonus code<br />
					<span><% if{bonus_code} %>{bonus_code}<% else{bonus_code} %>Use our link<% end %></span><br />
					<% if{marketing_code} %>Marketing code<br /> <span>{marketing_code}</span><% end %>

				</div>
				<% if{promo} %>
				<h2>Bonuses and Promotions</h2>
				<ul><%loop{promo}%><li>{0}</li><% end %></ul>
				<% end{if-promo} %>
				<a href="{roomLink}" class="clrfix more2">Read full {roomName} review »</a>
			</fieldset>
		</li>
		<% end %>
	<% end %>
	</ul>
</div>