<% qualification:title %>
PokerNetwork Alert: Qualification start - {tournament_name}

<% qualification:body %>
{tournament_name}
Qualification Period - {qualification_period}
Start Date - {start_date}
Room - {poker_room}
Prize Pool - {prize_pool}

{description}

Freeroll page - {url}

Good luck at the tables,
PokerNetwork

<% start:title %>
PokerNetwork Alert: {tournament_name} is about to begin

<% start:body %>
{tournament_name}
Start Date - {start_date}
Room - {poker_room}
Prize Pool - {prize_pool}

{description}

Freeroll page - {url}

Good luck at the tables,
PokerNetwork