<% error %>
1=Please enter message.
2=Please select a subject.
3=Please enter correct email address!
4=Please enter correct code!
5=An error occurred. Please try again later.


<% main %>
<div class="widget contactUs">
	<h1 class="pageTitle">Contact Us</h1>
	{pageIntro}
	<form action="{!action}" method="post" name="frmContact" id="frmContact">
		<% if {error} %><div class="error">{error}</div><% end %>
		<input type="hidden" name="event" value="{event}" />
		{refresh_field}
		<% if {test} %><input type="hidden" name="test" value="1" /><% end %>
		<dl>
			<dt><label>Your Name</label></dt>
			<dd><input type="text" name="name" value="{name}" id="fld_name" size="25" /></dd>
			
			<dt><label>Your E-mail</label></dt>
			<dd><input type="text" name="email" id="fld_email" value="{email}" size="25" /></dd>
			
			<dt><label>Subject</label></dt>
			<dd>
			<select name="subject" size="1" id="fld_subject"><option value="0">-- Select a subject --</option>
				{subject}
			</select>
			</dd>
			
			<dt><label>Code</label></dt>
			<dd class="captcha"><img alt="CAPTCHA image" src="/captcha.php" width="103" height="28" /><input type="text" value="" id="fld_code" name="captcha" size="4" /></dd>

			<dt><label>Message</label></dt>
			<dd><textarea name="body" id="fld_body" rows="10" cols="59">{body}</textarea></dd>

			<dt></dt>
			<dd><button type="submit" name="send" class="button"><% if {test} %>Test<% else {test} %>Send<% end %></button></dd>
		</dl>
	
	</form>
</div>

<% success %>
<div class="widget">
	<h1 class="pageTitle">Contact Us</h1>
	<p>Thank you for your message.</p>
	<p>We will reply to your inquiry (in case you provide your email address) in 24 hours.</p>
</div>



<% mail_body %>
From: {from}

{name} wrote:
{body}

<% subject %>
1=General inquiry
2=Feedback on design and features
3=Partnership proposal
4=Advertising inquiry
5=Link exchange inquiry
6=Bug report
7=Mistakes and omissions report
8=Report Piracy
9=Submit Poker Term