<% cloud:main %>
<div class="widget tagCloud">
	<h1 class="pageTitle">Tags</h1>
	<div class="widgetIntro">{description}</div>
	<%loop {list.tags += cloud:tag} %>
		<a href="{url.tag}" rel="tag" style="font-size: {fontSize}px;" class="cloud">{name}</a>
	<%end%>
</div>




<% list:main %>
<div class="widget searchResults">
	<h1 class="pageTitle">Tag: {tag} <%if {filter} %> @ {filter}<%end%></h1>

	<div class="filterTabs filterTabsTopLine clrfix">
		<b>Show:</b>
		<ul>
			<%loop{list.tabs += list:tabs.item}%>
				<%if{on}%>
				<li class="on"><a href="{url}">{title}</a></li>
				<%else{on}%>
				<li><a href="{url}">{title}</a></li>
				<%end%>
			<%end%>
		</ul>
	</div>

	<ul class="newsList">
	<%loop {list.items += list:items.item}%>
		<li>
			<a href="{url}"><img src="{img}" alt="{img_alt}" width="120" /></a>
			<div>
				<a href="{url}" class="title">{title}</a>
				<%if{date}%><span class="meta">{date}</span><%end%>
				<p>{excerpt}</p>
			</div><span class="clr"></span>
		</li>
	<%end%>
	</ul>

	{pagination}
</div>

<% list:tabs %>
=All Content
news=News
videos=Video
strategy=Strategy
interviews=Interviews
spanish-poker-show=Spanish Poker Show
live-reporting=Live Reporting