<% cloud:main %>
<div class="widget tagCloud newsList">
	<div class="widgetInner">
		<div class="ctl"></div>
		<div class="ctr"></div>
		<div class="cbl"></div>
		<div class="cbr"></div>
		<h1 class="widgetTitle">Tags</h1>
		<div>{description}</div>
		
		<%loop {list.tags += cloud:tag} %>
			<a href="{url.tag}" rel="tag" style="font-size: {fontSize}px;" class="cloud">{name}</a>
		<%end%>
	</div>
</div>




<% list:main %>
<div class="widget tagCloud newsList">
	<div class="widgetInner">
		<div class="ctl"></div>
		<div class="ctr"></div>
		<div class="cbl"></div>
		<div class="cbr"></div>
		<h1 class="widgetTitle">Tag: {tag} <%if {filter} %> @ {filter}<%end%></h1>

		<ul class="navigationButtons">
		<%loop{list.tabs += list:tabs.item}%>
			<%if{on}%>
			<li class="fl"><a href="{url}" class="current">{title}<span class="cbr"></span></a></li>
			<%else{on}%>
			<li class="fl"><a href="{url}">{title}<span class="cbr"></span></a></li>
			<%end%>
		<%end%>
		</ul>

		<%loop {list.items += list:items.item}%>
			<div class="articlePreview articlePreviewWithImage">
				<a href="{url}" class="tagReportingImage fl20" style="background: url('{img}') no-repeat 50% 25%;"></a>
				<h2 class="articleTitle"><a href="{url}">{title}</a></h2>
				<p class="articleMeta"><span class="date">{date}</span></p>
				<div>{excerpt}</div>
				<div class="cb"></div>
			</div>
		<%end%>

		{pagination}
	</div>
</div>

<% list:tabs %>
=All Content
news=News
videos=Video
strategy=Strategy
interviews=Interviews
spanish-poker-show=Spanish Poker Show
live-reporting=Live Reporting