<% cloud:main %>
<div class="widget newsList">
	<h1 class="widgetTitle">Tags</h1>
	<div class="widgetIntro">{description}</div>
	
	<%loop {list.tags += cloud:tag} %>
		<a href="{url.tag}" rel="tag" style="font-size: {fontSize}px;" class="cloud">{name}</a>
	<%end%>
</div>




<% list:main %>
<div class="widget">
	<h1 class="pageTitle">Tag: {tag} <%if {filter} %> @ {filter}<%end%></h1>

	<div class="filterTabs filterTabsTopLine clrfix">
		<b>Show:</b>
		<ul>
			<%loop{list.tabs += list:tabs.item}%>
				<%if{on}%>
				<li class="on"><a href="{url}">{title}</a></li>
				<%else{on}%>
				<li><a href="{url}">{title}</a></li>
				<%end%>
			<%end%>
		</ul>
	</div>

	<ul class="newsList">
	<%loop {list.items += list:items.item}%>
		<li>
			<a href="{url}" class="tagReportingImage fl20" style="background: url('{img}') no-repeat 50% 25%;"></a>
			<h2 class="articleTitle"><a href="{url}">{title}</a></h2>
			<p class="articleMeta"><span class="date">{date}</span></p>
			<div>{excerpt}</div>
			<div class="cb"></div>
		</li>
	<%end%>
	</ul>

	{pagination}
</div>

<% list:tabs %>
=All Content
news=News
videos=Video
strategy=Strategy
interviews=Interviews
spanish-poker-show=Spanish Poker Show
live-reporting=Live Reporting