<% main %>
<div class="widget terms">
	<h1 class="pageTitle">{title}</h1>
	<div class="article widgetIntro wFullDark">
		{info}
	</div>
	<div class="search">
		<form class="liveSearch">
			<div>
				<input type="text" name="search" placeholder="Live search" class="ajax-suggestion url-{ajaxuri}ajax-suggest/" autocomplete="off" /><button type="reset" title="Clear" onclick="$(this).prev().val('').trigger('focus');return false;" class="button">Clear</button>
				<div id="search-result-suggestions">
					<div id="search-results"></div>
				</div>

			</div>
		</form>
	</div>
	<div class="letterFilter">{abc}</div>
	<ul class="termsList">
		{boxItems}
	</ul>
</div>

<% letter %>
<a href="{!action}#letter{letter}" class="letter">{letter}</a>

<% term_item %>
<li><a href="{goTerm}">{title}</a></li>

<% term_box %>
<li>
	<span class="letter" id="letter{letter}">{letter}</span>
	<ul>{items}</ul>
</li>

<% term_info %>
<p>{description}</p>


