<% list_messages %>
<div class="widget twitterListPage">
	<h1 class="pageTitle">Poker Tweets<% if {playerName} %> - {playerName}<% else {playerName} %> <% end %></h1>
	<p class="widgetIntro"><%if{playerName}%>Keep track of {playerName} tweets right here at PokerNetwork.<%else{playerName}%>Keep track of all your favorite poker players right here at PokerNetwork.<%end%></p>
	<div class="filterTabs filterTabsTopLine clrfix">
		<b>Show:</b>
		<ul>
			<li class="on"><a href="{uri.messages}">Tweets by date</a></li>
			<li><a href="{uri.players}">Tweeters</a></li>
		</ul>
	</div>
	<% if {items:messages} %>
	<ul class="tweets clrfix" style="margin-bottom: 30px">
		<% loop {items:messages} %>
		<li>
			<a href="https://twitter.com/{screen_name}" target="_blank"><img src="{image_url}" width="48" height="48" alt="{author}" /></a>
				<div class="tweetContent">
					<b><a href="{authorUri}">{name}</a></b> <a href="https://twitter.com/{screen_name}" target="_blank" class="nick">@{screen_name}</a>
					<p>{message}</p>
				</div>
			<a href="https://twitter.com/{screen_name}/status/{message_id}" target="_blank" class="tweetDate">{date}</a>
			<div class="tweetActions">
				<a href="https://twitter.com/intent/tweet?in_reply_to={message_id}" class="tweetReply">Reply</a>
				<a href="https://twitter.com/intent/retweet?tweet_id={message_id}" class="tweetRetweet">Retweet</a>
				<a href="https://twitter.com/intent/favorite?tweet_id={message_id}" class="tweetFavorite">Favorite</a>
			</div>
		</li>
		<% end %>
	</ul>
	{paging}
	<% end %>
</div>


<% list_players %>
<div class="widget twitterListPage">
	<h1 class="pageTitle">Poker Tweeters</h1>
	<p class="widgetIntro">Keep track of all your favorite poker players right here at PokerNetwork.</p>
	<div class="filterTabs filterTabsTopLine clrfix">
		<b>Show:</b>
		<ul>
			<li><a href="{uri.messages}">Tweets by date</a></li>
			<li class="on"><a href="{uri.players}">Tweeters</a></li>
		</ul>
	</div>
	<% if {items:players} %>
	<ul class="twitterList" style="margin-bottom: 30px">
		<% loop {items:players} %>
		<li>
			<a href="{url.author}">
				<img class="fl20" src="{avatarSrc}" width="48" height="48" alt="{author}" />
				{author}<br />
				<% if {date} %><span class="date">Last post: {date}</span><% end %>
			</a>
		</li>
		<% end %>
	</ul>
	{paging}
	<% end %>
</div>


<% twitter_box %>
<% if {items:box} %>
<div class="widget homePageTweets">
	<h2 class="widgetTitle"><a href="{allMessagesUri}">Fresh Tweets</a> <img src="/img/twitter-bird-16x16.png" alt="Twitter" class="fr" /></h2>
	<ul class="tweets clrfix">
		<% loop {items:box} %>
		<li>
			<a href="https://twitter.com/{screen_name}" target="_blank"><img src="{image_url}" width="48" height="48" alt="{author}" /></a>
				<div class="tweetContent">
					<b><a href="{authorUri}">{name}</a></b> <a href="https://twitter.com/{screen_name}" target="_blank" class="nick">@{screen_name}</a>
					<p>{message}</p>
				</div>
			<a href="https://twitter.com/{screen_name}/status/{message_id}" target="_blank" class="tweetDate">{time}</a>
			<div class="tweetActions">
				<a href="https://twitter.com/intent/tweet?in_reply_to={message_id}" class="tweetReply">Reply</a>
				<a href="https://twitter.com/intent/retweet?tweet_id={message_id}" class="tweetRetweet">Retweet</a>
				<a href="https://twitter.com/intent/favorite?tweet_id={message_id}" class="tweetFavorite">Favorite</a>
			</div>
		</li>
		<% end %>
	</ul>
	<a href="{allMessagesUri}" class="more">More Tweets »</a>
</div>
<div style="text-align: center">
	<a id="ps-live-player" href="http://www.pokerstars.tv/" data-config="event=ept&amp;autoStart=false&amp;language=en">Watch on PokerStars.tv <script type="text/javascript" src="//s1.rationalcdn.com/js/live-external/live.js"></script></a>
</div>
<% end %>


<% twitter_box_reporting %>
<% if {items:box:reporting} %>
<div class="widget widgetWithMoreLink widgetTwitterTracker">
	<div class="widgetInner">
		<span class="ctl"></span>
		<span class="ctr"></span>
		<span class="cbl"></span>
		<span class="cbr"></span>
		<h3 class="widgetTitle">{!twitter_tracker}</h3>

		<% loop {items:box:reporting} %>
		<div class="tweet">
			<a href="{authorUri}" class="tweetAuthorPhoto">
				<img class="fl10" src="{avatarSrc}" width="48" height="48" alt="{name}" />
			</a>
			<dl class="tweetContent fl">
				<dt class="tweetAuthor"><a href="{authorUri}">{name}</a></dt>
				<dd class="tweetContent">{message}</dd>
				<dd class="tweetDate">{time}</dd>
			</dl>
			<span class="clr"> </span>
		</div>
		<% end %>
		<p class="more tar"><a href="{allMessagesUri}">{!full_list}</a></p>
	</div>
</div>
<% end %>


<%search_box%>
<form onsubmit="return false;" class="liveSearch" action="{goSearch}" method="get" style="background: #f2f3f4; margin-top: 20px; padding: 20px 200px;">
	<div>
		<input type="text" name="q" placeholder="{!live_search}" value="<%if{searchKeyword}%>{searchKeyword}<%else{searchKeyword}%>{!live_search}<%end%>" class="altStyle hasPlaceholder ajax-suggestion url-{ajaxuri}ajax-suggest/" autocomplete="off" onfocus="($(this).val()=='{!live_search}')?$(this).val(''):'';"/><button type="reset" title="{!clear}" onclick="$(this).prev().val('').trigger('focus');return false;"><span class="a11y">{!clear}</span></button>
		<div id="search-result-suggestions">
		<div id="search-results"></div>
		</div>
	</div>
</form>