<% messages %>
e.entry_not_found=Entry not found
e.invalid_id=Invalid id
e.empty_title=Title is empty
e.empty_uri=Uri is empty
e.uri_duplicate=Duplicate uri
e.empty_network_id=Network is empty
e.empty_game_code=Game code is empty
e.invalid_file=Invalid file
e.file_save_error=File save error
e.save_error=Save error


<% list:main %>
<h2>Free games</h2>
<%if {submenu} %>{submenu}<% end %>
<%if {filter} %>{filter}<% end %>

<% if {site-master} %><div class="fr"><a href="{url.add_entry}">Add item</a></div><% end %>
<span class="clr"></span>

<div>
	<table class="list">
		<colgroup>
			<col width="20" />
			<col />
			<col width="220" />
			<% if {site-master} %><col width="12" /><% end %>
		</colgroup>
		<tr>
			<th> </th>
			<th>Title</th>
			<th>Category</th>
			<% if {site-master} %><th style="text-align:center;"><a href="javascript:;" title="Check / uncheck all" id="checkUncheckEntries"><img src="/img/adm/_check.gif" alt="x" /></a></th><% end %>
		</tr>
		{list.entries}
	</table>
	<br />
	{paging}
	<div class="list-footer clrfix">
		<input type="button" id="deleteLevel" class="button fr btDel" style="display:none" value="Delete selected" /> 
	</div>
</div>
<br style="clear:both" />
	<% if {site-slave} %>
	<div class="explain">Some games are imported from the www.casinogrinder.com. Such games are marked with special icons: <br/><img src="{!_AIMG_}sync1.png" / alt="Status: up to date"> - the game is up to date, <br/><img src="{!_AIMG_}sync2.png" / alt="Status: needs attention"> - the game was updated, so you have to check it and update.</div>
	<% end {site-slave} %>

<div style="height:2px"> </div>
<% if {site-master} %>
<script type="text/javascript">
	var jsActionDelete = '{event.delete}';
</script>
<form method="post" id="jsActionForm" action="{!action}">
	<input type="hidden" name="ids" value="" id="jsActionFormIds" />
	<input type="hidden" name="event" value="" id="jsActionFormEvent" />
</form>
<% end %>

<% list:entries.item %>
<tr class="{class}">
	<td{styleTD}></td>
	<td><a href="{url}"><%if {name} %>{name}<%else{name}%>&mdash;<%end%></a></td>
	<td>{category}</td>
	<% if {site-master} %><td><input type="checkbox" class="rowMark" id="row:{id}" /></td><% end %>
</tr>

<%list:filter%>
<form action="{!action}" method="post" id="filter" class="filterForm <%if {is_active} %>filter-on<%end%>">
	<input type="hidden" name="event" value="{event.filter}">
	<table>
	<tr>
		<td><label>Network:
			<select name="network">
				<option value="0">Any</option>
				<% loop {filter.networks += list:networks.item} %>
				<option value="{value}"<%if {selected} %> selected="selected"<%end%>>{name}</option>
				<% end %>
			</select>
			</label></td>
		<td><input type="submit" name="do-filter" value="Filter" /></td>
	</tr>
	</table>
	<%if{is_active}%><a href="{url.reset-filter}" class="reset" title="Turn off filter">Turn off filter</a><%end%>
</form>