<% messages %>
e.entry_not_found=Entry not found
e.invalid_id=Invalid id
e.save_error=Save error
e.invalid_file=Invalid file
e.file_save_error=File save error
e.empty_title=Title is empty
e.empty_alias=Uri is empty
e.empty_description=Content is empty
e.dupe_alias=Uri is already used
e.alias_duplicate=Duplicate uri
e.bad_date_start=Bad start date
e.bad_date_end=Bad end date
e.reserved_alias=Uri is reserved


<% list:main %>
<div class="tabzoneHeader clrfix">
	<h1>{title}</h1>
	<%if {submenu} %>{submenu}<% end %>
</div>
<%if {filter} %>{filter}<% end %>

<form method="post" name="list-form" action="{!action}">
	<table class="list">
		<colgroup>
			<col style="width: 20px" />
			<col />
			<col style="width: 30px" />
		</colgroup>
		<thead>
		<tr>
			<th></th>
			<th><span>Title</span></th>
			<th class="tar"><span>Position</span></th>
		</tr>
		</thead>
		<tbody>
		{list.entries}
		</tbody>
	</table>
	<div class="footer">{paging}</div>
	<div class="explain"><br>
		<span class="sync1" title="Status: up to date"></span> - the entry is up to date, <br/>
		<span class="sync2" title="Status: needs attention"></span> - the entry was updated, so you have to check it and update.
	</div>
</form>




<% list:entries.item %>
<tr class="{class}">
	<td><span class="sync{sync_state}"></span></td>
	<td><a href="{url}" ><%if {name} %>{name}<%else{name}%>&mdash;<%end%></a></td>
	<td class="tar">{pos}</td>
</tr>


<% entry:slaveMain %>
<div class="tabzoneHeader clrfix">
	<h1>{title}</h1>
	<%if {submenu} %>{submenu}<% end %>
	<a href="{url.back}" class="goBack">Back to list</a>
</div>

<form action="{!action}" method="post" class="editForm aform">
	<input type="hidden" name="event" value="{event.save}" />
	<input type="hidden" name="id" value="{entry.id}" />
	<span class="clr"></span>

	<p><span class="sync1"></span>This entry is synchronized. You must ensure that your translation will correspond to the original.</p>

	<dl>
		<dt><label>Title</label></dt>
		<dd class="w100">
			<div class="forSlaveOriginalText">{form.origin_title}</div>
			<input type="text" maxlength="60" size="50" class="width60 required" name="title" id="entry-title" value="{entry.title}" />
		</dd>

		<dt></dt>
		<dd><label><input type="checkbox" name="is_hidden" id="i_hide" value="{form.hide}" /> Hide this item</label></dd>

		<dt><label>Description</label></dt>
		<dd class="w100">
			<div class="forSlaveOriginalText">{form.origin_description}</div>
			{entry.description.toolbar}
			<textarea name="description" cols="105" rows="8" id="description">{entry.description}</textarea>
		</dd>

		<dt><label>Meta keywords</label></dt>
		<dd class="w100">
			<div class="forSlaveOriginalText">{form.origin_meta_kwd}</div>
			<input type="text" maxlength="{form.meta_kwd.maxlen}" size="50" name="meta_kwd" value="{entry.meta_kwd}" />
		</dd>

		<dt><label>Meta description</label></dt>
		<dd class="w100">
			<div class="forSlaveOriginalText">{form.origin_meta_descr}</div>
			<input type="text" maxlength="{form.meta_descr.maxlen}" size="50" name="meta_descr" value="{entry.meta_descr}" />
		</dd>
	</dl>
	<div class="footer"><div class="formButton"><input type="submit" name="save" value="Save" /><input type="submit" name="stayhere" value="Save &amp; return" /><input type="button" value="Cancel" onclick="window.location.href='{url.back}'" /></div></div>
</form>