<% messages %>
e.entry_not_found=Entry not found
e.invalid_id=Invalid id


<% entry:main %>
<div class="tabzoneHeader clrfix">
	<h1>{entry.title}: Leaderboard</h1>
	<%if {submenu} %>{submenu}<% end %>
</div>
<form action="{!action}" method="post" class="editForm aform" enctype="multipart/form-data">
	<input type="hidden" name="event" value="{event.save}" />
	<input type="hidden" name="id" value="{entry.id}" />
	<h2 class="formTitle">Leaderboard</h2><span class="clr"></span>

	<dl>
		<dt><label>Results Columns</label></dt>
		<dd><b>{entry.lb_columns}</b></dd>

		<dt><label>Results</label></dt>
		<dd class="w100"><textarea name="lb_data" cols="105" rows="4" id="description">{entry.lb_data}</textarea>
			<div class="explain">Select &amp; Post data into the text area. Values must be tab separated.</div>
		</dd>
	</dl>
	<div class="formButton clrfix"><input type="submit" name="save" value="Save" /></div>
</form>
<%if {results.show} %>
<h2 class="headline topSeperator">Results</h2>
	<table class="list">
		<thead>
		<tr><%loop {result.headers += entry:result.header} %><th><span>{name}</span></th><%end%></tr>
		</thead>
		<tbody>
		<%loop {result.data.rows += entry:result.data.row} %>
		<tr class="class">
			<%loop {result.data += entry:result.data} %><td>{value}</td><%end%>
		</tr>
		<%end%>
		</tbody>
	</table>
<%end%>


<% icons.data %>
1=Default
2=Online Poker
3=Poker News
4=Poker Strategy
5=Poker Tournaments

<% icons.item %>
<option value="{value}"<%if {selected} %> selected="selected"<%end%>>{name}</option>

<% parent_forums.item %>
<option value="{value}"<%if {selected} %> selected="selected"<%end%>>{name_prefix}{name}</option>


<% restrictions.data %>
0=Default
1=Only admins create topics
8=Auto topics from news

<% restrictions.item %>
<option value="{value}"<%if {selected} %> selected="selected"<%end%>>{name}</option>
