<% messages %>
e.entry_not_found=Entry not found
e.invalid_id=Invalid id
e.save_error=Save error
e.invalid_file=Invalid file
e.file_save_error=File save error
e.empty_title=Title is empty
e.empty_alias=Uri is empty
e.alias_duplicate=Duplicate uri
e.bad_date_start=Bad start date
e.bad_date_end=Bad end date
e.bad_lb_auto_columns=Automatic leaderboard must have exactly 2 columns
e.bad_lb_columns=Leaderboard columns must include player name and player points


<% list:main %>
<div class="tabzoneHeader clrfix">
	<h1>{title}</h1>
	<%if {submenu} %>{submenu}<% end %>
</div>

<form method="post" name="list-form" action="{!action}">
	<table class="list">
		<colgroup>
			<col style="width: 20px" />
			<col style="width: 75px" />
			<col style="width: 75px" />
			<col />
			<col style="width: 120px" />
		</colgroup>
		<thead>
		<tr>
			<th> </th>
			<th><span>Start date</span></th>
			<th><span>End date</span></th>
			<th><span>Title</span></th>
			<th><span>Room</span></th>
		</tr>
		</thead>
		<tbody>
		{list.entries}
		</tbody>
	</table>
	<div class="footer">{paging}</div>
	<div class="explain"><br>
		<span class="sync1" title="Status: up to date"></span> - the entry is up to date,<br/>
		<span class="sync2" title="Status: needs attention"></span> - the entry was updated, so you have to check it and update.
	</div>
</form>

<% list:entries.item %>
<tr class="{class}">
	<td><span class="sync{sync_state}"></span></td>
	<td>{date_start}</td>
	<td>{date_end}</td>
	<td>
		<a href="{url}" ><%if {name} %>{name}<%else{name}%>&mdash;<%end%></a>
		<div class="explain" id="trn{id}">
			<%if {weight} %>Weight: <strong>{weight}</strong>.<%end%>
			<%if {page_previews} %>Page preview: <%loop {page_previews += list:entries.page_previews.item} %><a href="{url}" class="_{siteid}" target="_blank">{title}</a>; <%end%><%end%>
		</div>
	</td>
	<td>{room}</td>
</tr>



<% sync_tool:main %>
<div>
	<div style="height:32px" class="clrfix">
		<div id="progress" style="margin:10px 40px 10px 0;border:1px solid #DCDCDC;">
			<div style="height:10px;background:#39f;width:0"></div>
		</div>
	</div>
	<ul id="siteList" class="clrfix" style="margin-bottom: 0">
		<li>
			<table class="list">
			<%loop{sync_column_0+=sync_site}%><tr><td><b>{name}</b></td><td><span data-site="{site_id}" data-promo="{promo_id}">&nbsp;</span></td></tr><%end%>
			</table>
		</li>
		<li><table class="list">{sync_column_1}</table></li>
		<li><table class="list">{sync_column_2}</table></li>
		<li><table class="list">{sync_column_3}</table></li>
	</ul>
	<span class="clrb"></span>
</div>



<% entry:slaveMain %>
<div class="tabzoneHeader clrfix">
	<h1>{title}</h1>
	<div class="fr">
		<a href="javascript:;" class="button buttonRefresh" data-action="sync" data-loading-text="Sending to subdomains..." data-url="{url.sync}">Send to subdomains</a>
	</div><span class="clr"></span>
	<%if {submenu} %>{submenu}<% end %>
	<div class="fr">
		<a href="{url.back}" class="goBack">Back to list</a>
	</div>
</div>

<form action="{!action}" method="post" class="editForm aform" enctype="multipart/form-data">
	<input type="hidden" name="event" value="{event.save}" />
	<input type="hidden" name="id" value="{entry.id}" />

	<span class="clr"></span>

	<p><span class="sync1"></span>This entry is synchronized. You must ensure that your translation will correspond to the original.</p>

	<dl>

		<dt><label>Title</label></dt>
		<dd class="w100">
			<div class="forSlaveOriginalText">{form.origin_title}</div>
			<input type="text" maxlength="60" size="50" class="width60 required" name="title" id="entry-title" value="{entry.title}" />
			<%if {url.preview} %><div><a href="{url.preview}" target="_blank" class="newwindow">View in new window</a></div><%end%>
		</dd>

		<dt><label>Menu title</label></dt>
		<dd class="w100">
			<div class="forSlaveOriginalText">{form.origin_menu_title}</div>
			<input type="text" maxlength="60" size="50" class="width60" name="menu_title" value="{entry.menu_title}" />
		</dd>

		<dt></dt>
		<dd><label><input type="checkbox" name="is_hidden" id="i_hide" value="{form.hide}" /> Hide this item </label></dd>

		<dt><label>Prize</label></dt>
		<dd class="w100">
			<div class="forSlaveOriginalText">{form.origin_prize}</div>
			<input type="text" maxlength="255" size="50" class="width60 required" name="prize" value="{entry.prize}" />
		</dd>

		<dt><label>Intro text</label></dt>
		<dd class="w100">
			<div class="forSlaveOriginalText">{form.origin_descr_intro}</div>
			<textarea name="descr_intro" cols="105" rows="2" id="descr_intro">{entry.descr_intro}</textarea>
		</dd>

		<dt><label>Promo steps</label></dt>
		<dd>
			<div class="forSlaveOriginalText">{form.origin_descr_steps}</div>
			<input type="text" size="50" name="descr_steps[0]" value="{form.descr_steps_0}" /><br />
			<input type="text" size="50" name="descr_steps[1]" value="{form.descr_steps_1}" /><br />
			<input type="text" size="50" name="descr_steps[2]" value="{form.descr_steps_2}" />
		</dd>

		<dt><label>Qualification description</label></dt>
		<dd class="w100">
			<div class="forSlaveOriginalText">{form.origin_descr_qualify}</div>
			<textarea name="descr_qualify" cols="105" rows="4" id="descr_qualify">{entry.descr_qualify}</textarea>
		</dd>

		<dt><label>Prize/home description</label></dt>
		<dd class="w100">
			<div class="forSlaveOriginalText">{form.origin_descr_prize}</div>
			{entry.descr_prize.toolbar}<textarea name="descr_prize" cols="105" rows="15" id="descr_prize">{entry.descr_prize}</textarea>
		</dd>

		<dt><label>Terms and conditions</label></dt>
		<dd class="w100">
			<div class="forSlaveOriginalText">{form.origin_terms_conditions}</div>
			{entry.terms_conditions.toolbar}<textarea name="terms_conditions" cols="105" rows="15" id="terms_conditions">{entry.terms_conditions}</textarea>
		</dd>

		<dt><label>Meta description</label></dt>
		<dd class="w100">
			<div class="forSlaveOriginalText">{form.origin_descr_meta}</div>
			<input type="text" maxlength="{form.descr_meta.maxlen}" size="50" name="descr_meta" value="{entry.descr_meta}" />
		</dd>

		<dt><label>Leaderboard description</label></dt>
		<dd class="w100">
			<div class="forSlaveOriginalText">{form.origin_lb_descr}</div>
			<textarea name="lb_descr" cols="105" rows="3">{entry.lb_descr}</textarea>
		</dd>

		<dt><label>Leaderboard Results Columns</label></dt>
		<dd class="w100">
			<div class="forSlaveOriginalText">{form.origin_lb_columns}</div>
			<input type="text" maxlength="50" size="50" class="width60" name="lb_columns" value="{entry.lb_columns}" />
			<div class="explain">The order of columns in the Excel Spreadsheet or the text area. Values must be ';' separated.<br />
				"*" at the beginning of column name marks Player Name, "+" marks Player Points.
			</div>
			<%if {form.not_lb_auto} %><%else {form.not_lb_auto} %>
			<div class="explain">For automatic leaderboard (current default), you should have a localised counterpart of &quot;*Player; +Points&quot; as value of this field (key point: only 2 fields).</div>
			<%end%>
		</dd>
	</dl>
	<div class="footer"><div class="formButton"><input type="submit" name="save" value="Save" /><input type="submit" name="stayhere" value="Save &amp; return" /><input type="button" value="Cancel" onclick="window.location.href='{url.back}'" /></div></div>
</form>
<%if{edits}%>{edits}<%end%>