#Options -MultiViews
php_flag magic_quotes_gpc off
php_flag register_globals off
php_flag session.use_trans_sid off
php_value mbstring.internal_encoding UTF-8
php_value mbstring.func_overload 2
#php_flag display_errors on
#php_value error_reporting 7
php_value mysql.connect_timeout 5


RewriteEngine on
RewriteBase    /

# kad apache nesiustu Vary: Host headerio
#RewriteRule .*  - [E=MY_HTTP_HOST:%{HTTP_HOST}]

#RewriteCond {ENV:MY_HTTP_HOST} ^pokernetwork.com [NC]
#RewriteRule ^(.*) http://www.pokernetwork.com/$1 [L,R=301]

RewriteCond %{HTTP_HOST} ^pokernetwork.com [NC]
RewriteRule ^(.*) http://pokernetwork.com/$1 [L,R=301]

RewriteRule ^adm$ adm/ [L,R=301]
RewriteRule ^adm/ adm.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$	index.php [QSA,L]
