<% main %>
<div class="right fr">
	<a href="#"><img src="http://placekitten.com/348/180" alt="" /></a>
	<p>Nulla vehicula eleifend dapibus. <a href="#">Mauris</a> sollicitudin blandit arcu ut sagittis. Nunc sodales nisi sit amet nibh molestie ut tincidunt arcu lacinia.</p>
	<a href="#"><img src="http://placekitten.com/348/180" alt="" /></a>
	<p>Nulla vehicula eleifend dapibus. <a href="#">Mauris</a> sollicitudin blandit arcu ut sagittis. Nunc sodales nisi sit amet nibh molestie ut tincidunt arcu lacinia.</p>
	<a href="#"><img src="http://placekitten.com/348/180" alt="" /></a>
	<p>Nulla vehicula eleifend dapibus. <a href="#">Mauris</a> sollicitudin blandit arcu ut sagittis. Nunc sodales nisi sit amet nibh molestie ut tincidunt arcu lacinia.</p>
</div><span class="clr"></span>


<% main2222 %>
<ul class="leftMenu">
	<li><a href="#" class="active">{!c1}</a></li>
	<li><a href="#">{!c2}</a></li>
	<li><a href="#">{!c3}</a></li>
</ul>