<%main%>
<%if{homepage-news:items}%>
<ul class="news">
	<% loop {homepage-news:items} %>
	<li>
		<a href="{url.article}"><img src="{img}" alt="{img_alt}" /></a>
		<strong class="headline"><a href="{url.article}">{title}</a></strong>
		<em class="meta">{date}</em>
		<p>{description}</p>
	</li>
	<% end %>

	<% loop {homepage-news-more:items} %>
	<li>
		<strong><a href="{url.article}">{title}</a></strong>
		<em class="meta">{date}</em>
		<p>{description}</p>
	</li>
	<% end %>

</ul>
<%end%>
