<% info %>
titleNew=Add deposit option
titleEdit=Edit deposit option
404=Item not found!
error1=Name required
error2=URI required

<% viewList %>
<div class="tabzoneHeader clrfix">
	<h1>Deposits</h1>
</div>
<!--# items list -->
<% if {items} %>
<form action="{!action}" method="post" name="list-form">
	<input type="hidden" name="event" value="{goHide}" />
	<input type="hidden" name="event-saveorder" value="{goSort}" />
	<table class="list">
		<colgroup>
			<col style="width: 300px" />
			<col />
			<col style="width: 20px" />
		<colgroup>
		<thead>
		<tr>
			<th><span>Title</span></th>
			<th><span>Image</span></th>
			<th class="checkall"></th>
		</tr>
		</thead>
		<tbody>
		<% loop {items} %>
		<tr id="row{id}" class="{class}">
			<td><a href="{goEdit}">{title}</a></td>
			<td><%if{img}%><a href="{goEdit}"><img src="{img}" alt="logo" /></a><%end%></td>
			<td><input type="checkbox" name="it[]" value="{id}" /></td>
		</tr>
		<% end {items} %>
		</tbody>
	</table>
	<!--# delete items -->
	<div class="list-footer clrfix"><input type="button" class="button fr btDel" value="Delete selected" /></div>
</form>
<% else {items} %>
	<p>There are no categories</p>
<% end {items} %>



<% viewForm %>
	<!--# item form -->
<div class="tabzoneHeader clrfix">
	<h1>Deposits</h1>
	<a href="{goBack}" class="goBack">Back to list</a>
</div>
<form action="{!action}" name="frm" id="frm" method="post" class="aform">
	<input type="hidden" name="event" value="{event}" />{refresh}
	<input type="hidden" name="id" value="{id}" />
	<h2 class="formTitle">{formTitle}</h2>
	<div class="formButton fr"><input type="submit" value="Save" /> <input type="submit" name="return" value="Save &amp; return" /></div>
	<span class="clr"></span>
	<%if{error}%><div class="alerts alert-f">{error}</div><%end%>

	<%if{img}%>
	<div style=""><img src="{imgSrc}"  alt="Team Logo" /></div>
	<%end%>
	<dl>
		<dt><label for="i_title">Title</label></dt>
		<dd class="w100">
			<input type="text" name="name" id="i_name" value="{name}" size="81" maxlength="255" class="required" disabled="disabled" />
			<% if {id} %>
			<div><a href="{uriPrefix}{uri}/" onclick="window.open(this.href);return false;" class="newwindow">View this article in new window</a></div>
		<% end {id} %>
		</dd>
		
		<dt></dt>
		<dd><input type="checkbox" name="hide" value="{hide}" id="i_hide" /> <label for="i_hide">Hide this item</label></dd>

		<dt><label for="i_content">Article</label></dt>
		<dd class="w100">{toolbar}<textarea rows="20" cols="60" name="content" id="i_content" >{content}</textarea></dd>


		<dt><label for="i_meta_title">Meta title</label></dt>
		<dd class="w100"><input type="text" name="meta_title" id="i_meta_title" value="{meta_title}" size="81" maxlength="255" /></dd>

		<dt><label for="i_meta_description">Meta description</label></dt>
		<dd class="w100"><textarea rows="2" cols="60" name="meta_description" id="i_meta_description">{meta_description}</textarea></dd>

		<dt><label for="i_uri">Uri</label></dt>
		<dd>/ <input type="text" name="uri" id="i_uri" value="{uri}" size="70" maxlength="60" class="required" onfocus="fillUri(this,'i_name')" disabled="disabled" />	/</dd>
	</dl>
	<div class="formButton"><input type="submit" value="Save" /><input type="submit" name="return" value="Save &amp; return" /><input type="button" value="Cancel" onclick="window.location.href='{goBack}'" /></div>
</form>
<%if{rooms}%>
<span class="clr"></span>
<h2 class="headline topSeperator">Linked Poker Rooms</h2>
	<ul style="margin-left: 20px">
		<%loop{rooms}%>
			<li style="width: 22%; float: left; margin-right: 30px"><a href="{goRoom}">{name}</a></li>
		<%end%>
	</ul>
	<span class="clr"></span>
<%end%>
