<% info %>
titleNew=Add room
titleEdit=Edit room
404=Item not found!
error1=Room name required
error_no_meta_title=Meta title required
error_no_meta_keywords=Meta keywords required
error_no_meta_description=Meta description required
error9=System error!

<% viewList %>
<div class="tabzoneHeader clrfix">
	<h1>Poker Rooms</h1>
</div>
<div class="n sync"><a href="{url.sync}" id="sync_promos">Update list</a></div>

<!--# Filtro forma -->
<% insert {filtras} %>
	<form action="{!action}" method="post" class="filterForm{classIsOn}">
	<input type="hidden" name="event" value="{goFilter}" />
	<table>
	<tr>
		<td><label>Title: <input type="text" name="filter[text]" value="{text}" size="30" maxlength="30"/></label></td>
		<td><label><input type="checkbox" name="filter[hidden]" value="{hidden}" /> Show hidden rooms</label></td>
		<td><button type="submit" name="filtruok">Filter</button></td>
	</tr>
	</table>
	<%if{isOn}%><a href="{noFilter}" class="reset" title="Turn off filter">Turn off filter</a><%end%>
	</form>
<% end {filtras}%>


<!--# sarasas -->
<% if {items} %>
	<form action="{!action}" method="post" name="list-form">
		<input type="hidden" name="event" value="" />
		<table class="list nomarginBottom">
		<colgroup>
			<col style="width: 20px" />
			<col />
			<col />
			<col style="width: 85px" />
			<col style="width: 85px" />
			<col style="width: 85px" />
			<col style="width: 85px" />
		</colgroup>
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th><a href="{orderby1}">Room name</a></th>
				<th><span>URL address</span></th>
				<th class="tac"><span title="Room's Promotions">Promotions</span></th>
				<th class="tac"><span title="Room's Aditional Pages">Sub pages</span></th>
				<th class="tar"><span title="Acting month visits">Visits</span></th>
				<th class="tar"><span title="Acting month downloads">Downloads</span></th>
			</tr>
		</thead>
		<tbody>
		<% loop{items} %>
		<tr class="{class}">
			<td><%if{favicon}%><img src="{favicon}" alt="" style="width: 20px" /><%end%></td>
			<td><a href="{goEdit}">{title}</a></td>
			<td><%if{alias}%><a href="/{alias}/" onclick="window.open(this.href,'winroom');return false" class="explain">/{alias}/</a><%end%></td>
			<td class="tac"><a href="{url.promo}" class="edit" title="Edit Promotions">Edit</a></td>
			<td class="tac"><%if{related}%><a href="{url.related}" class="edit" title="Edit Aditional Pages">Edit</a><%end%></td>
			<td class="tar"><span class="explain">{visits}</span></td>
			<td class="tar"><span class="explainGreen">{downloads}</span></td>
		</tr>
		<% end{items} %>
		</tbody>
		</table>
	</form>
	{puslapiai}
<% else {items} %>
	<p>There are no items</p>
<% end {if} %>





<% cssForm %>

<% viewForm %>
<div class="tabzoneHeader clrfix">
<h1>{name}: {pageTitle}</h1>
{submenu}
<a href="{goBack}" class="goBack">Back to list</a>
</div>
<script language="JavaScript" type="text/javascript">
/*<![CDATA[*/
// js/modules_adm/reviews.reviews.js
/*]]>*/
</script>
<form action="{!action}" name="frm" id="frm" method="post" class="aform" enctype="multipart/form-data">
	<input type="hidden" name="event" value="{event}" />{refresh}
	<input type="hidden" name="id" value="{id}" />
	<h2 class="formTitle">{formTitle}</h2>
	<div class="formButton fr"><input type="submit" value="Save" /> <input type="submit" name="return" value="Save &amp; return" /></div>
	<span class="clr"></span>
	<%if{error}%><div class="alerts alert-f">{error}</div><%end%>
	<dl>

		<dt><label class="formHeadline">Logo</label></dt>
		<dd><div class="fr"><a href="/{alias}/" onclick="window.open(this.href);return false" class="newwindow">Preview in new tab</a></div><%if{logo}%><img src="{logo}" alt="{name}" /><%else{logo}%>{name}<%end{logo}%><br/><label><input type="checkbox" name="is_hidden" id="i_hide" value="{hide}" />Hide this room </label></dd>

		<dt><label for="i_uri">Uri</label></dt>
		<dd>/ <input type="text" name="alias" id="i_uri" value="{alias}" size="70" maxlength="60" class="required" onfocus="if(this.value=='') {this.value=makeUri('{jsName}');this.focus();}" />	/</dd>
		
		<dt><label>Bonus</label></dt>
		<dd><b>{bonus_int}, &nbsp; &nbsp; {bonus_percent}%</b></dd>


		<dt><label for="i_bonus_text">Bonus text</label></dt>
		<dd><textarea name="bonus_text" id="i_bonus_text" cols="70" rows="2">{bonus_text}</textarea><div class="explain">Short text describing the bonus.</div></dd>

		<dt><label>Rating</label></dt>
		<dd>
			<table>
				<tr>
					<td>Bonuses and Promotions</td>
					<td><input id="r1" name="r1" value="{r1}" maxlength="3" size="3" class="r" /></td>
					<td><canvas id="c1" width="200" height="20"></canvas></td>
				</tr>
				<tr>
					<td>Player Traffic</td>
					<td><input id="r2" name="r2" value="{r2}" maxlength="3" size="3" class="r" /></td>
					<td><canvas id="c2" width="200" height="20"></canvas></td>
				</tr>
				<tr>
					<td>Limits and Rake</td>
					<td><input id="r3" name="r3" value="{r3}" maxlength="3" size="3" class="r" /></td>
					<td><canvas id="c3" width="200" height="20"></canvas></td>
				</tr>
				<tr>
					<td>Software</td>
					<td><input id="r4" name="r4" value="{r4}" maxlength="3" size="3" class="r" /></td>
					<td><canvas id="c4" width="200" height="20"></canvas></td>
				</tr>
				<tr>
					<td>Customer Support</td>
					<td><input id="r5" name="r5" value="{r5}" maxlength="3" size="3" class="r" /></td>
					<td><canvas id="c5" width="200" height="20"></canvas></td>
				</tr>
				<tr>
					<td align="right"><i>Total score &nbsp;</i></td>
					<td><b id="rtotal">{r_total}</b></td>
					<td>&nbsp;</td>
				</tr>
			</table>
			<div class="explain">Rate values must be between 0.0 and 10.0 (inclusive)</div>
		</dd>

		<dt><label for="i_review">Review</label></dt>
	<dd class="dd100 w100">{toolbar}<textarea rows="30" cols="70" name="review" id="i_review">{review}</textarea></dd>

	<dt><label for="i_meta_title">Meta title</label></dt>
	<dd class="w100"><input type="text" name="meta_title" id="i_meta_title" value="{meta_title}" size="80" maxlength="255" class="count_chars_59" /></dd>

	<dt><label for="i_meta_description">Meta description</label></dt>
	<dd class="w100"><textarea rows="2" cols="60" name="meta_description" id="i_meta_description" class="count_chars_156">{meta_description}</textarea></dd>

	</dl>


	<div class="formButton"><input type="submit" value="Save" /><input type="submit" name="return" value="Save &amp; return" /><input type="button" value="Cancel" onclick="window.location.href='{goBack}'" /></div>
</form>

<%reviewTabs%>
1=Summary
2=Bonus
3=Installation
4=Tournaments