/*BG, Title*/
#promo header {background-image: url('bg.jpg'); background-color: #000000}		/* bg: #000 */

/*Bonus bg, Bonus text*/
#promo header .playCode div {background-color: #000000 !important; color: #ffffff;}								/* bg: #b3b3b3; c: #000 */
#promo header .playCode div span {color: #ffffff;}

/*Play bg, Play text*/
#promo header .playCode a {background-color: #ff0000; color: #ffffff;}												/* bg: #333; c: #fff */