<% info %>
title = {!password_reminder}
title_password = {!change_password}
mailFrom = CasinoGrinder.com <info@casinogrinder.com>
mailSubject = [CasinoGrinder.com] {!your_data}
err1 = {!err1}
err2 = {!err2}
err3 = {!err3}
err4 = {!err4}
err5 = {!err5}
err7 = {!err7}
err8 = {!err8}
err9 = {!err9}

<% viewReminder %>
<div class="widget forms">
	<%if{mailSent}%>
		<p class="successMessage">{!check_data}</p>
	<%else{mailSent}%>
		<%if{error}%><p class="error">{error}</p><%end%>
		<form action="{!action}" method="post">
			<input type="hidden" name="event" value="{event}"/>{refresh}
			<p><b>{!enter_email}</b></p>
			<label for="email" class="fl">{!email_username}:</label>
			<input type="text" name="email" value="{email}" size="30" id="email" />
			<button type="submit" class="actionButton">{!send}</button>
		</form>
	<%end{mailSent}%>
</div>



<% mail %>
CasinoGrinder {!password_reminder}

{!your_data_is}

{!username}: {nick}

{!start_changing}
--------------------------------------------------------------------
{url.change}
--------------------------------------------------------------------

{!not_working}

{!kind_regards},
CasinoGrinder.com



<% viewPassword %>
<div class="widget forms">
	<h1>{!change_password}</h1>
	<%if{saved}%>
		<p>{!changed}</p>
	<%else{saved}%>
		<%if{error}%><p class="error">{error}</p><%end%>
		<form action="{!action}" method="post">
			<input type="hidden" name="event" value="{event}"/>{refresh}
			<input type="hidden" name="pwd" value="{pwd}"/>
			<div class="col fl">
				<label>{!new_password}: <input type="password" name="pass1" value="" size="30" /></label>
			</div>
			<div class="col fr">
				<label><span>{!confirm_password}: </span><input type="password" name="pass2" value="" size="30" /></label>
			</div><span class="clr"></span>
			<button type="submit" class="actionButton">{!save}</button>
		</form>
	<%end{saved}%>
</div>