<% info %>
title = Sign In
err1 = Wrong username or password.


<% viewLogin %>
<!--# LOGIN form -->
<div class="widget">
	<h1 class="widgetTitle">Sign In</h1>
	<form action="{!action}" method="post">
		<%if{error}%><p class="error">{error}</p><br /><%end%>
		<input type="hidden" name="event" value="{eventLogin}" />
		<dl class="userForm">
			<dt><label for="name">Username</label></dt>
			<dd><input type="text" name="nick" value="{nick}" id="name" /></dd>
			<dt><label for="password">Password</label></dt>
			<dd><input type="password"  name="password"  value="{password}" id="password" /></dd>
			<dt></dt><dd><a href="{url.forgot}" id="urlForgot">Forgot password</a></dt>
			<dt></dt><dd><button type="submit" class="button">Sign In</button></dt>
		</dl>
	</form>
</div>
