<% info %>
title = Sign In
err1 = Wrong username or password.


<% viewLogin %>
<!--# LOGIN form -->
<div class="widget simpleWidget forms">
	<form action="{!action}" method="post">
		<%if{error}%><p class="error">{error}</p><%end%>
		<input type="hidden" name="event" value="{eventLogin}" />
		<p><b>Sign In</b></p>
		<div class="col fl">
			<label for="name">Username</label>
			<input type="text" name="nick" value="{nick}" id="name" />
		</div>
		<div class="col fr">
			<label for="password">Password</label>
			<input type="password"  name="password"  value="{password}" id="password" />
		</div><span class="clr"></span>
		<a href="{url.forgot}" id="urlForgot">Forgot password</a>
		<button type="submit" class="actionButton">Sign In</button>
	</form>
</div>
