/*BG, Title*/
#promo header {background-image: url('bg.jpg'); background-color: #000}		/* bg: #000 */

/*Bonus bg, Bonus text*/
#promo header .playCode div {background-color: #000; color: #fff;}								/* bg: #b3b3b3; c: #000 */
#promo header .playCode div span {color: #fff;}

/*Play bg, Play text*/
#promo header .playCode a {background-color: #e9a028; color: #fff;}												/* bg: #333; c: #fff */