/*BG:, Title:*/
#promo header {background-image: url('bg.jpg'); background-color: #008cc0; -webkit-background-size: cover;
background-size: cover;}
#promo header a.logo {margin-bottom: 220px;}
#promo header h1 {display: none;}
#promo header .subheadline {
	color: #fff;
	font-size: 40px;
	max-width: 520px;
	margin: auto;
	line-height: 50px;
}
/*Bonus bg:, Bonus text*/
#promo header .playCode div {background-color: #bab9bd; color: #fff;}	/*Default: bg: #b3b3b3; c: #000 */
#promo header .playCode div span {color: #fff;}

/*Play bg:, Play text:*/
#promo header .playCode a {background-color: #ed1c24}					/*Default: bg: #333; c: #fff */