<% info %>
titleNew=New
titleEdit=Edit

404=Item not found!
error1=Name required
error2=Uri required
error3=Description required
error4=Please choose another uri, this one is in use
error9=System error!

<% viewList %>
<div class="tabzoneHeader clrfix">
	<h1>{pageTitle}</h1>
	<div class="fr"><a href="{goNew}" class="button buttonAddNew">Add new</a></div>
</div>

<!--# Filtro forma -->
<% insert {filtras} %>
<form action="{!action}" method="post" class="filterForm{classIsOn}">
	<input type="hidden" name="event" value="{goFilter}" />
	<table>
	<tr>
		<td><label>Name: <input type="text" name="filter[name]" size="25" value="{name}" /></label></td>
		<td><button type="submit" name="filtruok" >Filter</button></td>
	</tr>
	</table>
	<%if{isOn}%><a href="{noFilter}" class="reset" title="Turn off filter">Turn off filter</a><%end%>
</form>
<% end {filtras}%>


<!--# sarasas -->
<% if {items} %>
	<form action="{!action}" method="post" name="list-form">
		<input type="hidden" name="event" value="{goDelete}" />
		<table class="list">
		<tr>
			<th width="200"><a href="{orderby1}">Name</a></th>
			<th>Description</th>
			<th width="20" class="checkall"></th>
		</tr>
			<% loop{items} %>
				<tr>
				<td><a href="{goEdit}">{name}</a></td>
				<td class="explain">{description}</td>
				<td><input type="checkbox" name="it[]" value="{id}" /></td>
			</tr>
			<% end{items} %>
		</table>

		<div class="list-footer clrfix"><input type="button" class="button fr btDel" value="Delete selected"/></div>
	</form>
	{puslapiai}
<% else {items} %>
	<p class="explain">There are no items</p>
<% end {if} %>




<% viewForm %>
<div class="tabzoneHeader clrfix">
	<h1>{pageTitle}</h1>
	<a href="{goBack}" class="goBack">Back to list</a>
</div>
<form action="{!action}" name="frm" id="frm" method="post" class="aform" enctype="multipart/form-data">
	<input type="hidden" name="event" value="{event}" />{refresh}
	<input type="hidden" name="id" value="{id}" />

	<h2 class="formTitle">{formTitle}</h2>
	<div class="formButton fr"><input type="submit" name="save" value="Save" /> <input type="submit" name="return" value="Save &amp; return" /></div>
	<span class="clr"></span>
	<%if{error}%><div class="alerts alert-f">{error}</div><%end%>

	<dl>
		<dt><label for="i_name">Name</label></dt>
		<dd><input type="text" name="name" id="i_name" value="{name}" size="70" maxlength="255" class="required" />
			<% if {id} %>
			<div class="explain">View this item in <a href="{uriPrefix}{uri}.htm" onclick="window.open(this.href);return false;">new window</a></div>
			<% end {id} %>
		</dd>

		<dt><label for="i_uri">Uri</label></dt>
		<dd>{uriPrefix}&nbsp;<input type="text" name="uri" id="i_uri" value="{uri}" size="70" maxlength="60" class="required" onfocus="fillUri(this,'i_name')" />&nbsp;.htm</dd>

		<dt><label for="i_description">Description</label></dt>
		<dd class="w100">{toolbar}<textarea rows="5" cols="70" name="description" id="i_description" class="required" >{description}</textarea></dd>


	</dl>
	<div class="formButton clrfix"><input type="submit" name="save" value="Save" /><input type="submit" name="return" value="Save &amp; return" /><input type="button" name="cancel" value="Cancel" onclick="window.location.href='{goBack}'" /></div>
</form>
