/*BG:, Title:*/
#promo header {background-image: url('bg.jpg'); background-color: #002912; color: #f0ebe0}					/*Default: bg: #000 */

/*Bonus bg:, Bonus text*/
#promo header .playCode div {background-color: #005d2e; color: #fff;}	/*Default: bg: #b3b3b3; c: #000 */
#promo header .playCode div span {color: #fff;}
#promo header .subheadline {color: #ffc100;}

/*Play bg:, Play text:*/
#promo header .playCode a {background-color: #ffc100; color: #231a00;}					/*Default: bg: #333; c: #fff */