<% info %>
error1={!1}
error2={!badlogin}
error3={!error3}

<% viewComments %>
<div class="widget comments">
	<script type="text/javascript">
	/*<![CDATA[*/
		var commMsgDelete = "{!15}";
		var commMsgSpam = "<em>Thank you. This comment will be reviewed by Moderators.</em>";
		var commCheckAll = true;
	/*]]>*/
	</script>
	<h2 class="widgetTitle" id="comm-list">Comments ({commentsCount})</h2>

	<%if{msg}%><div class="error-ok">{msg}</div><%end%>
	<%if{items}%>
		<% if {canDeleteMulti} %>
		<form action="{!action}" id="commListForm" method="post" class="faqForm">
		<input type="hidden" name="event" value="{event}" />
		<input type="hidden" name="obj_id" value="{obj_id}" />
		<%end%>
			<ul>
			<%loop{items}%>
				<li>
					<a href="{authorURL}"><img src="{authorAvatar}" alt="{author}" width="35" height="35" /></a>
					<div>
						<a href="{authorURL}">{author}</a>
						<span class="meta">{date}</span>
						<p>{comment}</p>
					</div>
					<span class="adminTools">
						<% if {goEdit} %><a href="{goEdit}#comm-form">{!14}</a> | <% end %>
						<% if {goQuote} %><a href="{goQuote}#comm-form" class="quote">{!19}</a><% end %>
						<% if {goDelete} %><a href="{goDelete}" class="delete">{!16}</a><% end %>
						<% if {goSpam} %><a href="" class="spam" id="spam{id}">{!20}</a><% end %>
						<% if {canDeleteMulti} %><input type="checkbox" name="it[]" id="i_{id}" value="{id}" /><% end %>
					</span>
				</li>
			<%end%>
			</ul>
		<% if {canDeleteMulti} %>
			<div style="margin:10px 0;float:right;">
				<button type="submit" name="save" value="1" class="button fl">{!16}</button>
				<a href="" class="button" id="commCheckAll" style="display:none">Check all</a>
			</div>
			<div style="clear:both;"></div>
		</form>
		<% end %>

			<% if {onlyLatest} %>
			<div class="commentsForum">
				<p><a href="{goShowAll}">{!26}</a></p>
			</div>
			<% else {onlyLatest} %>
			{paging}
			<% end %>

	<% else {items} %>
	<p>{!empty}</p>
	<% end %>

	{form}
</div>

<% viewForm %>

<form action="{!action}#comm-form" id="commForm" method="post" class="faqForm">
	<input type="hidden" name="event" value="{event}" />{refresh}
	<input type="hidden" name="obj_id" value="{obj_id}" />
	<input type="hidden" name="id" value="{id}" />
	<input type="hidden" name="iCard" value="{iCard}" />

	<div id="comm-form">
		<%if{error}%><p class="error"><span>{error}</span></p><%end%>

		<%if{anonymous}%>
			<p>{!registerforComment}</p>
			<input placeholder="Username" class="fl" type="text" name="username" value="{username}"/>
			<input placeholder="Password" type="password" name="pass" />
		<%end%>
		<textarea rows="5" cols="58" placeholder="Your comment" name="comment" id="i_body">{comment}</textarea>
		<%if{fbID}%>
		<label><input type="checkbox" name="facebook" value="{facebook}" /> {!postToWall}</label><br />
		<%end{fbID}%>
		<input type="submit" class="button" name="save" value="{!2}">
	</div>
</form>




<%quote%>
[QUOTE="{name}"]{text}[/QUOTE]


