<% default %>
active=<a href="{url}" class="page">{pgv}</a>&nbsp;
inactive=<span class="on">{pgv}</span>&nbsp;


<% nav_block %>
<%if{puslapiai}%>
<div class="paging">
	<%if{goPrev}%>
		<a class="prev" href="{goPrev}">‹ Previous</a>
	<%else{goPrev}%>
		<span class="prev">‹ Previous</span>
	<%end%>
	{puslapiai}
	<%if{goNext}%>
		<a class="next" href="{goNext}">Next ›</a>
	<%else{goNext}%>
		<span class="next">Next ›</span>
	<%end%>
</div>
<%end%>




<% default_adm %>
active=<a href="{url}">{pgv}</a>
inactive=<b>{pgv}</b>
left=&laquo; Prev
right=Next &raquo;
nuo_iki={from}-{to}&nbsp;of&nbsp;{atall}

<% nav_block_adm %>
<div class="paginate">
<div class="pages">{puslapiai}</div>
<div class="info">{irasai}</div>
<div class="clr"></div>
</div>