<% default %>
active=<a href="{url}" class="page">{pgv}</a>&nbsp;
inactive=<span class="page current">{pgv}</span>&nbsp;


<% nav_block %>
<%if{puslapiai}%>
<p class="pager">
	<%if{goPrev}%>
		<a class="prev" href="{goPrev}"><span class="a11y">Previous</span></a>
	<%else{goPrev}%>
		<span class="prev"><span class="a11y">Previous</span></span>
	<%end%>
	{puslapiai}
	<%if{goNext}%>
		<a class="next" href="{goNext}"><span class="a11y">Next</span></a>
	<%else{goNext}%>
		<span class="next"><span class="a11y">Next</span></span>
	<%end%>
</p>
<%end%>




<% default_adm %>
active=<a href="{url}">{pgv}</a>
inactive=<b>{pgv}</b>
left=&laquo; Prev
right=Next &raquo;
nuo_iki={from}-{to}&nbsp;of&nbsp;{atall}

<% nav_block_adm %>
<div class="paginate">
<div class="pages">{puslapiai}</div>
<div class="info">{irasai}</div>
<div class="clr"></div>
</div>
