<% ago %>
longs= {!agoLong}
shorts= {!agoShort}
ago= {!ago}
now= {!now}
and = {!and}


<% tags %>
url_our=<a href="{url}">{txt}</a>
url_newwin=<a href="{url}" onclick="window.open(this.href,'');return false;">{txt}</a>
url=<a href="{url}" onclick="window.open(this.href,'');return false;" rel="nofollow">{txt}</a>
img ### <div class="blog-photo"><img src="{url}"><div class="small">{txt}</div></div>
b=<b>{txt}</b>
i=<i>{txt}</i>
u=<u>{txt}</u>
h=</p><h3 class="smalltitle">{txt}</h3><p>
h2=</p><h2 class="title">{txt}</h2><p>
spoiler=</p><div class="spoiler"><a href="./" onclick="var nv=this.rel;this.rel=jQuery(this).html();jQuery(this).html(nv);jQuery(this).siblings().toggle();return false;" rel="Hide spoiler">Show spoiler</a><p style="display:none">{txt}</p></div><p>
sub=<sub>{txt}</sub>
sup=<sup>{txt}</sup>
strike=<strike>{txt}</strike>
quote=</p><blockquote class="forumQuoteNoName"><p>{txt}</p></blockquote><p>
quote_named=</p><blockquote><p class="source"><b>{src}</b> {!wrote}</p><div class="quoteContent"><p>{txt}</p></div></blockquote><p>
code=</p><pre class="codetext">{txt}</pre><p>
list=</p>\n<ul>{txt}\n</ul>\n<p>
list-a=</p>\n<ol type="a">{txt}\n</ol>\n<p>
list-1=</p>\n<ol type="1">{txt}\n</ol>\n<p>
li=<li>{txt}</li>
smile=<img src="/img/smilies/{0}.gif" alt="{1}" />
file=<div style="margin: 10px 0;border:1px solid;padding: 10px;padding-left:42px;background: url(/img/fico/i32_{fico}.gif) no-repeat 5px 5px"><div><b>{fname}</b> ({fsize}) <a href="{url}">Download</a></div><div>{comment}&nbsp;</div></div>
html = <div>{html}</div>
video = <div class="video-object">{html}</div>
pnvideo = </p><div class="video-object" id="{id}"></div><script src="{url}?embed=PokerNetwork&amp;into={id}" type="text/javascript"></script><noscript>Video: <a href="{url}">{url}</a></noscript><p>
game = </p><div class="game"><p>{txt}</p></div><p>
twitter = </p><div class="twitter-quoteNew">{txt}</div><p>

<% fico %>
fico_default=file
fico_show=txt, doc|docx, pdf, htm|html, ppt, gif, png, jpg, rar, zip, odt, mp3



<% smiles %>
:)=smile, Smile
:(=sad, Sad
]:D=devil, Devil
:D=biggrin, Big Grin
(lol)=laugh, Laugh
(rofl)=rofl, ROFL
(rolleyes)=rolleyes, Roll Eyes
:P=tongue, Tongue
(blush)=blush, Blush
|-(=bored, Bored
:?=confused, Confused
8-)=cool, Cool
;(=crying, Crying
(unsure)=unsure, Unsure
(!@#$)=cursing, Cursing
(blink)=blink, Blink
(huh)=huh, Huh
:@=angry, Angry
:|=speechless, Speechless
:O=ohmy, Oh My!
(doh)=doh, Doh!
(scared)=scared, Scared
(sick)=sick, Sick
|-)=sleep, Sleep
(sneaky)=sneaky, Sneaky
(n)=thumbdown, Thumb Down
(yy)=thumbsup, Thumbs Up
(y)=thumbup, Thumb Up
(drool)=drool, Drool
(w00t)=w00t, W00t
(whistling)=whistling, Whistling
(inlove)=inlove, In Love
(pokerface)=pokerface, Poker Face
(alien)=alien, Alien
(+)=yes, Yes
(-)=no, No
:-/=ehhh, Ehhh
:G=drunk, Drunk
;)=wink, Wink
(drink)=drink, Drink
(emo)=emo
(facepalm)=facepalm
(gay)=gay
(hu4)=hu4
(level)=level
(lol_broke)=lol_broke
(love_pn)=love_pn
(nuts)=nuts
(ontopic)=ontopic
(pipi)=pipi
(rooster)=rooster









<% countries %>
af=Afghanistan
al=Albania
dz=Algeria
as=American Samoa
ad=Andorra
ao=Angola
ai=Anguilla
ag=Antigua and Barbuda
ar=Argentina
am=Armenia
aw=Aruba
au=Australia
at=Austria
az=Azerbaijan
bs=Bahamas
bh=Bahrain
bd=Bangladesh
bb=Barbados
by=Belarus
be=Belgium
bz=Belize
bj=Benin
bm=Bermuda
bt=Bhutan
bo=Bolivia
ba=Bosnia and Herzegovina
bw=Botswana
bv=Bouvet Island
br=Brazil
io=British Indian Ocean Territory
vg=British Virgin Islands
bn=Brunei
bg=Bulgaria
bf=Burkina Faso
bi=Burundi
kh=Cambodia
cm=Cameroon
ca=Canada
cv=Cape Verde
ky=Cayman Islands
cf=Central African Republic
td=Chad
cl=Chile
cn=China
cx=Christmas Island
cc=Cocos (Keeling) Islands
co=Colombia
km=Comoros
cg=Congo
cd=Congo - Democratic Republic of
ck=Cook Islands
cr=Costa Rica
ci=Cote d'Ivoire
hr=Croatia
cu=Cuba
cy=Cyprus
cz=Czech Republic
dk=Denmark
dj=Djibouti
dm=Dominica
do=Dominican Republic
tp=East Timor
ec=Ecuador
eg=Egypt
sv=El Salvador
gq=Equitorial Guinea
er=Eritrea
ee=Estonia
et=Ethiopia
fk=Falkland Islands (Islas Malvinas)
fo=Faroe Islands
fj=Fiji
fi=Finland
fr=France
gf=French Guyana
pf=French Polynesia
tf=French Southern and Antarctic Lands
ga=Gabon
gm=Gambia
gz=Gaza Strip
ge=Georgia
de=Germany
gh=Ghana
gi=Gibraltar
gr=Greece
gl=Greenland
gd=Grenada
gp=Guadeloupe
gu=Guam
gt=Guatemala
gn=Guinea
gw=Guinea-Bissau
gy=Guyana
ht=Haiti
hm=Heard Island and McDonald Islands
va=Holy See (Vatican City)
hn=Honduras
hk=Hong Kong
hu=Hungary
is=Iceland
in=India
id=Indonesia
ir=Iran
iq=Iraq
ie=Ireland
il=Israel
it=Italy
jm=Jamaica
jp=Japan
jo=Jordan
kz=Kazakhstan
ke=Kenya
ki=Kiribati
kw=Kuwait
kg=Kyrgyzstan
la=Laos
lv=Latvia
lb=Lebanon
ls=Lesotho
lr=Liberia
ly=Libya
li=Liechtenstein
lt=Lithuania
lu=Luxembourg
mo=Macau
mk=Macedonia - The Former Yugoslav Republic of
mg=Madagascar
mw=Malawi
my=Malaysia
mv=Maldives
ml=Mali
mt=Malta
mh=Marshall Islands
mq=Martinique
mr=Mauritania
mu=Mauritius
yt=Mayotte
mx=Mexico
fm=Micronesia - Federated States of
md=Moldova
mc=Monaco
mn=Mongolia
ms=Montserrat
ma=Morocco
mz=Mozambique
mm=Myanmar
na=Namibia
nr=Nauru
np=Nepal
nl=Netherlands
an=Netherlands Antilles
nc=New Caledonia
nz=New Zealand
ni=Nicaragua
ne=Niger
ng=Nigeria
nu=Niue
nf=Norfolk Island
mp=Northern Mariana Islands
kp=North Korea
no=Norway
om=Oman
pk=Pakistan
pw=Palau
pa=Panama
pg=Papua New Guinea
py=Paraguay
pe=Peru
ph=Philippines
pn=Pitcairn Islands
pl=Poland
pt=Portugal
pr=Puerto Rico
qa=Qatar
re=Reunion
ro=Romania
ru=Russia
rw=Rwanda
kn=Saint Kitts and Nevis
lc=Saint Lucia
vc=Saint Vincent and the Grenadines
ws=Samoa
sm=San Marino
st=Sao Tome and Principe
sa=Saudi Arabia
sn=Senegal
cs=Serbia and Montenegro
sc=Seychelles
sl=Sierra Leone
sg=Singapore
sk=Slovakia
si=Slovenia
sb=Solomon Islands
so=Somalia
za=South Africa
gs=South Georgia and the South Sandwich Islands
kr=South Korea
es=Spain
lk=Sri Lanka
sh=St. Helena
pm=St. Pierre and Miquelon
sd=Sudan
sr=Suriname
sj=Svalbard
sz=Swaziland
se=Sweden
ch=Switzerland
sy=Syria
tw=Taiwan
tj=Tajikistan
tz=Tanzania
th=Thailand
tg=Togo
tk=Tokelau
to=Tonga
tt=Trinidad and Tobago
tn=Tunisia
tr=Turkey
tm=Turkmenistan
tc=Turks and Caicos Islands
tv=Tuvalu
ug=Uganda
ua=Ukraine
ae=United Arab Emirates
gb=United Kingdom
us=United States
vi=United States Virgin Islands
uy=Uruguay
uz=Uzbekistan
vu=Vanuatu
ve=Venezuela
vn=Vietnam
wf=Wallis and Futuna
ps=West Bank
eh=Western Sahara
ye=Yemen
zm=Zambia
zw=Zimbabwe