#promo header {
	background-color: #e1e1e1;
	background-image: url('bg.jpg');
	color: #080000;
}
#promo .playCode p {background-color: #aeaeae; color: #080000;}
#promo .playCode a {background-color: #b5121b;}