<% info %>
404=Item not found!


<% viewList %>
<div class="tabzoneHeader clrfix">
	<h1>{pageTitle}</h1>
	<div class="fr"><a href="{goNew}" class="button buttonAddNew">Add new Administrator</a></div>
</div>
<!--# Filtro forma -->
<% insert {filtras} %>
	<form action="{!action}" method="post" class="filterForm{classIsOn}">
	<input type="hidden" name="event" value="{goFilter}" />
	<table>
	<tr>
		<td><label>Permissions:
			<select name="filter[key]">
				<option value=""></option>
				<optgroup label="Admin Groups">
					{agroups}
				</optgroup>
				<optgroup label="Permissions">
					{permissions}
				</optgroup>
			</select></label>
		</td>
		<td><input type="submit" value="Filter" class="btFilter"/></td>
		</tr></table>
		<%if{isOn}%><a href="{noFilter}" class="reset" title="Turn off filter">Turn off filter</a><%end%>
	</form>
<% end {filtras}%>
<!--# sarasas -->
<% if {items} %>
	<form action="{!action}" method="post" name="list-form">
		<table class="list">
		<thead>
		<tr>
		<th><a href="{orderby1}">Nick</a></th>
			<th><span>Permissions</span></th>
			<th><span>E-mail, name</span></th>
		<th><a href="{orderby2}">Created</a></th>
		<th></th>
		</tr>
		</thead>
		<tbody>
		    <% loop{items} %>
				<tr class="{class}">
					<td class="title"><a href="{goEdit}">{nick}</a></td>
					<td>{agroup}&nbsp;</td>
					<td>{email} <%if{name}%><span class="explain"> | {name}</span><%end%></td>
				<td>{created}</td>
				<td><a href="{url.profile}">Profile</a></td>
				</tr>
			<% end{items} %>
			</tbody>
		</table>
	</form>
<% else {items} %>
	<p class="explain">There are no items</p>
<% end {if} %>



<% viewPermissions %>
<script type="text/javascript">
var rolesArr = new Array();
{jsRolesArray}
function changeRole(obj){
	if (obj.value == -1){
		//custom
		jQuery("#custom").show();
		jQuery("#predefined").hide();
	}else{
		jQuery("#custom").hide();
		if (obj.value == 0){
			//none
			jQuery("#predefined").hide();
		}else{
			//predefined
			if (rolesArr[obj.value] != undefined) {
				var pHtml = '';
				jQuery.each(rolesArr[obj.value], function() {
					if (pHtml) {
						pHtml += ', ';
					}
					pHtml += '<span class="box">';
					pHtml += this;
					pHtml += '</span>';
				});
				jQuery("#predefined").html(pHtml).show();
			}
		}
	}
}
</script>
<div class="tabzoneHeader clrfix">
	<h1>{nick}</h1>
	<a href="{goBack}" class="goBack">Back to list</a>
</div>
<form action="{!action}" method="post" name="EditForm" class="aform">
	<input type="hidden" name="event" value="{event}">{refresh}
	<input type="hidden" name="id" value="{id}">
	<h2 class="formTitle">Edit user's permissions</h2>
	<div class="formButton fr">
		<input type="submit" value="Save" /> <input type="submit" name="return" value="Save &amp; return" />
	</div><span class="clr"></span>

	<img src="/img/avatar50.png" width="50" alt="" style="float:left;margin: 0 10px 0 0" />
	<table>
		<tr><td>Id:</td><td>{id}</td></tr>
		<tr><td>E-mail:</td><td>{email}</td></tr>
		<tr><td>Name:</td><td>{name}</td></tr>
	</table>
	<br /><br />
	<table id="sites">
		<tr valign="top"{classRowHide} id="row">
			<td>
				<select name="role" onchange="changeRole(this)" style="margin-bottom: 10px"><option value="0"></option>{roles}</select> &nbsp;
				<div id="predefined">{predefined}</div>
				<div id="custom"{classHideCustom}>
				<% loop{keys} %><label><input type="checkbox" name="keys[]" value="{key}" />{kName}</label>  <br /><% end%>
				</div>
			</td>
		</tr>
	</table><br /><br />
	<div class="formButton clrfix" style="margin-left: 0"><input type="submit" value="Save" /><input type="submit" name="return" value="Save &amp; return" /><input type="button" value="Cancel" onclick="window.location.href='{goBack}'" /></div>
</form>



<% viewSearch %>
<div class="tabzoneHeader clrfix">
	<h1>{pageTitle}</h1>
	<a href="{goBack}" class="goBack">Back to list</a>
</div>

<form action="{!action}" method="post" class="filterForm{classIsOn}">
	<input type="hidden" name="event" value="{goFilter}">
	<table border="0">
	<tr>
		<td><label>Nick: <input name="nick" value="{nick}" size="20" maxlength="30"/></label></td>
		<td><input type="submit" value="Find" /></td>
	</tr>
	</table>
</form>


<% if {items} %>
<table class="list">
<thead>
<tr>
	<th><span class="order-asc">Nick</span></th>
	<th><span>Permissions</span></th>
	<th><span>E-mail, name</span></th>
</tr>
</thead>
<tbody>
	<% loop{items+=items-search} %>
		<tr class="{class}">
			<td class="title"><a href="{goEdit}">{nick}</a></td>
			<td class="title"><a href="{goEdit}">Set permissions</a></td>
			<td>{email} <%if{name}%><span class="explain"> | {name}</span><%end%></td>
		</tr>
	<% end{items-search} %>
	</tbody>
</table>

<% else {items} %>
	<%if{isOn}%>Member "<b>{nick}</b>" not found.<%end%>
<% end {items} %>
