<% all:menuTitles %>
index={!home}
schedule={!schedule}
results={!results}
terms-and-conditions={!terms}


<% all:main %>
<section id="promo" class="noBorder">
	<header>
		<%if{room.download}%><a href="{room.download}" class="logo"><img src="{room.logo}" alt="{room.name}"></a><%end%>
		<h1>{title}</h1>
		<div class="subheadline hMobile">{intro}</div>
		<%if{room.download}%><div class="playCode">
			<p>
				<%if{room.bonus_code}%><span>Bonus Code:</span> <b>{room.bonus_code}</b><%end%>
				<%if{room.marketing_code}%><span>Marketing Code:</span> <b>{room.marketing_code}</b><%end%>
			</p>
			<a href="{room.download}">Play</a>
		</div><%end%>
	</header>
	<nav class="clrfix">
		<%loop {menu += all:menu.item} %>
			<a href="{url}" <%if{active}%> class="on"<%end%>>{title}</a>
		<%end%>
	</nav>
	<article class="clrfix">{content}</article>
</section>




<% index:content %>
<%if {list.steps} %>
<ul class="promoThumbs">
	<%loop{list.steps += index:steps.item} %>
	<li>
		<img src="{img}">
		<b>{title}</b>
	</li>
	<%end%>
</ul>
<%end%>
<aside>
	<section class="summary">
		<%if{prize}%>
		<div>
			<h3>What’s In it for me?</h3>
			<strong>{prize}</strong>
		</div>
		<%end%>
		<%if{qualification}%>
		<div class="howToQualify">
			<h3>How to qualify?</h3>
			{qualification}
		</div>
		<%end%>
		<div>
			<h3>When?</h3>
			<time>{when}</time>
		</div>
	</section>
	{leaderboard}
</aside>
<section class="content">
	{description}
	{schedule}
</section>	


<% index:leaderboard %>
<h2 class="widgetTitle">{!leaders}<%if{updated}%> <time>{!updated} {updated}</time><%end%></h2>
<table>
	<colgroup>
		<col style="width: 30px">
		<col>
		<col>
	</colgroup>
	<%loop{rows += index:leaderboard.row}%>
		<tr>
			<td>{place}.</td>
			<td>{nick}</td>
			<td class="tar">{points} {!pts}</td>
		</tr>
	<%end%>
</table>
<footer class="buttonMore"><a href="{url.results}">{!all}</a></footer>


<% index:schedule %>
<h2 class="widgetTitle">{!tour}</h2>
<table>
	<colgroup>
		<col width="100"/>
		<col/>
		<%if{pwdCol}%><col/><%end%>
		<col/>
	</colgroup>
	<tr>
		<th><em>{tzName}</em></th>
		<th>{!events}<%if {events_left} %><span class="left-events">{events_left}</span><%end%></th>
		<%if{pwdCol}%><th class="hMobile">{!password}</th><%end%>
		<th class="tar noWrap hMobile">{!buyin}</th>
	</tr>
	<%loop {events += index:month.event} %>
	<tr<%if{live}%> class="live"<%end%>>
		<td class="noWrap">{date},<br />{time}
			<%if{live}%> <em>{!live}</em><%end%>
		</td>
		<td>
			<%if{url}%><a href="{url}" name="{id}">{title}</a><%else{url}%><a name="{id}"></a>{title}<%end%>
		</td>
		<%if{pwdCol}%>
			<td class="hMobile">
			<%if{pwd}%>
				<span class="password"><%insert {pwd += index:schedule.pwd_pending}%>{!passReleasedon}<%end%></span>
			<%end%>
			</td>
		<%end%>
		<td class="tar noWrap hMobile">{entryFee}+{fee} {currency}</td>
	</tr>
	<%end%>
</table>




<% results:content %>
<div class="sectionIntro">{description}</div>
<form class="liveSearch tac">
	<input type="text" name="filter" placeholder="{!3}" value="" class="ajax-suggestion url-{ajaxuri}" onfocus="$('.liveSearch button').addClass('on')" onblur="$('.liveSearch button').removeClass('on')" autocomplete="off" /><button type="reset" title="{!clear}" onclick="$(this).prev().val('').trigger('focus');return false;"></button>
	<div id="search-result-suggestions">
		<div id="search-results"></div>
	</div>
</form>
<table class="tournaments results">
	<tr><%loop {result.headers += results:header} %><th<%if {class} %> class="{class}"<%end%>>{name}</th><%end%></tr>
	<%loop {result.data.rows += results:data.row} %>
	<tr>
		<%loop {result.data += results:data} %><td<%if {class} %> class="{class}"<%end%>>{value}</td><%end%>
	</tr>
	<%end%>
</table>
{paging}

<% results:player_not_found %>
{!err}

<% results:players %>
<ul class="suggestion-list">{items}</ul>

<% results:players.item %>
<li><a class="item" href="{uri}">{name}</a></li>




<% schedule:content %>
<%if {instant_archive} %><h2>{!archive}</h2><%end%>
<%if {list} %><%loop {list += schedule.month} %>
<h3 class="widgetTitle">{date}</h3>
<table>
	<colgroup>
		<col width="130"/>
		<col/>
		<%if{pwdCol}%><col width="150" class="hMobile"/><%end%>
		<col width="100" class="hMobile"/>
	</colgroup>
	<tr>
		<th><em>{tzName}</em></th>
		<th>{!events}</th>
		<%if{pwdCol}%><th class="hMobile">{!password}</th><%end%>
		<th class="tar noWrap hMobile">{!buyin}</th>
	</tr>
	<%loop {events += schedule:month.event} %>
	<tr<%if{live}%> class="live"<%end%>>
		<td class="noWrap">
			{date},<br />{time}
			<%if{live}%> <em>{!live}</em><%end%>
		</td>
		<td>
			<%if{url}%><a href="{url}" name="{id}">{title}</a><%else{url}%><a name="{id}"></a>{title}<%end%>
		</td>
		<%if{pwdCol}%><td class="hMobile"><%if{pwd}%><span class="password"><%insert {pwd += schedule:pwd_pending}%>{!passReleasedon}<%end%></span><%end%></td><%end%>
		<td class="tar noWrap hMobile">{entryFee}+{fee} {currency}</td>
	</tr>
	<%end%>
</table>
<%end%><%end%>
<%if {has_archive} %>
<section class="loadMore"><a href="javascript:;" id="show-archive">{!show-archive}</a></section>
<div class="archive">
	<script type="text/javascript">
		$('#show-archive').click(function(){
			if (!$('#archive-content').hasClass('loaded')) {
				$('#archive-content').html('...').addClass('loaded').load('{url.archive}')
			}
			$('#archive-content').toggle();
		});
	</script>
	<div id="archive-content" style="display:none"></div>
</div>
<%end%>


<% schedule:no_scheduled_events %>
All events are over

<% schedule:content.results %>
<table>
	<tr><%loop {result.headers += schedule.results:header} %><th<%if {class} %> class="{class}"<%end%>>{name}</th><%end%></tr>
	<%loop {result.data.rows += schedule.results:data.row} %>
	<tr class="event">
		<%loop {result.data += schedule.results:data} %><td<%if {class} %> class="{class}"<%end%>>{value}</td><%end%>
	</tr>
	<%end%>
</table>
<a href="{url.schedule}">{!backSchedule}</a>
