<% info %>
titleNew=New video
titleEdit=Edit video
titleUpload=Upload video

404=Item not found!
error1=Title required
error2=Description required
error3=Please choose another uri, this one is in use
error9=System error!


<% viewList %>
<div class="tabzoneHeader clrfix">
	<h1>{pageTitle}</h1>
	<!--#
	<div class="fr"><a href="{goNew}" class="button buttonAddNew">Add video</a></div>
-->
</div>

<!--# Filtro forma -->
<% insert {filtras} %>
	<form action="{!action}" method="post" class="filterForm{classIsOn}">
	<input type="hidden" name="event" value="{goFilter}" />
	<table><tr>
		<td><label>Title: <input name="filter[text]" value="{text}" size="20" type="text" maxlength="30"/></label></td>
		<td><label>Tag: <input name="filter[tag]" value="{tag}" size="20" type="text" maxlength="30"/></label></td>
		<td><label><input type="checkbox" name="filter[hidden]" value="{hidden}" /> Show deleted</label></td>
		<td><input type="submit" value="Filter" class="btFilter"/></td>
		</tr></table>
		<%if{isOn}%><a href="{noFilter}" class="reset" title="Turn off filter">Turn off filter</a><%end%>
	</form>
<% end {filtras}%>


<!--# sarasas -->
<% if {items} %>
	<form action="{!action}" method="post" name="list-form">
		<input type="hidden" name="event" value="{goDelete}" />
		<table class="list">
		<colgroup>
			<col style="width: 130px" />
			<col />
			<col style="width: 100px" />
			<col style="width: 100px" />
		</colgroup>
		<thead>
		<tr>
			<th><span>Screenshot</span></th>
			<th><span>Title, Summary, Tags</span></th>
			<th><span>Updated</span></th>
			<th><a href="{orderby1}">Created</a></th>
		</tr>
		</thead>
		<tbody>
			<% loop{items} %>
				<tr class="{class}">
					<td><img src="{img}" width="120" height="80" alt="screenshot" /><%if{duration}%><div class="video-duration"><b>{duration}</b></div><%end%></td>
					<td class="title">
						<a href="{goEdit}">{title}</a>
						<div class="explain">{description}</div>
						<%if{tags}%><div class="explain"><i>Tags:</i> {tags}</div><%end%>
						<%if{category}%><div class="explain"><i>Playlist:</i> {category}</div><%end%>
					</td>
					<td{styleTD}>{updated}</td>
					<td>{created}</td>
				</tr>
			<% end{items} %>
		</tbody>
		</table>
		<div class="list-footer clrfix"><!--#
<input type="button" class="button fr btDel" value="Delete selected" />
--></div>
	</form>
	{puslapiai}
<% else {items} %>
	<p class="explain">There are no items</p>
<% end {if} %>



<% viewForm %>
<div class="tabzoneHeader clrfix">
	<h1>{pageTitle}</h1>
	<a href="{goBack}" class="goBack">Back to list</a>
</div>

<form action="{!action}" name="frm" id="frm" method="post" class="aform" enctype="multipart/form-data">
	<input type="hidden" name="event" value="{event}" />{refresh}
	<input type="hidden" name="id" value="{id}" />
	<h2 class="formTitle">{formTitle}</h2>
	<div class="formButton fr"><input type="submit" value="Save" /> <input type="submit" name="return" value="Save &amp; return" /></div>
	<span class="clr"></span>
	<%if{error}%><div class="alerts alert-f">{error}</div><%end%>

	<!--# forma -->
	<dl>

	<dt><label for="i_title">Title</label></dt>
	<dd class="dd100 w100">
		<div class="forSlaveOriginalText">{master_title}</div>

		<input type="text" name="title" id="i_title" value="{title}" size="80" maxlength="255" class="required"/>
		<% if {id} %>
		<div class="explain">Open a page of this video in <a href="{url.web}" onclick="window.open(this.href);return false;">new window</a></div>
		<% end {id} %>
	</dd>
	<dd class="dd100">
	 <input type="checkbox" name="hide" id="i_hide" value="{hide}" /> <label for="i_hide">Hide</label>
	</dd>


	<dt><label for="i_description">Description</label></dt>
	<dd class="dd100 w100">
		<div class="forSlaveOriginalText">{master_description}</div>
		{toolbar}<textarea rows="3" cols="70" name="description" id="i_description"  class="required">{description}</textarea>
	</dd>



	<dt><label for="i_tags">Tags</label></dt>
	<dd class="w100">
		<div class="forSlaveOriginalText">{master_tags}</div>
		<input type="text" name="tags" id="i_tags" value="{tags}" size="80" maxlength="255" />
		<div class="explain">Separate multiple tags with comma.</div>
	</dd>


	<dt><label>Category</label></dt>
	<dd>
	<table width="100%">
		<tr valign="top">
			<td width="33%"><%loop{td1+=check:category}%><label><input type="checkbox" name="category[]" value="{0}" />&nbsp;{1}</label><br/><%end%></td><td width="33%">{td2}</td><td>{td3}</td>
		</tr>
	</table>
	</dd>

	<%if{youtube_video_id}%>
	<dt><%if{thumbnail}%><img src="{thumbnail}" width="120" height="90" alt="screenshot"/><%end%>&nbsp;</dt>
	<dd class="dd100 w100">
		<div style="width:570px;float:left"><iframe width="560" height="315" src="http://www.youtube.com/embed/{youtube_video_id}" frameborder="0" allowfullscreen></iframe></div>
		<div style="width:320px;float:right">
		Embed code in the Pokernetwork:<br />
		[VIDEO]{url.web}[/VIDEO]<br /><br />

		Youtube video page:<br />
		<div class="explain"><a href="{url.youtube}" onclick="window.open(this.href);return false;">{url.youtube}</a></div>
		</div>
		<div style="clear:both"></div>
	</dd>
	<%else{youtube_video_id}%>
		<dt><label>Thumbnail</label></dt>
		<dd class="dd100 w100">
		<%if{thumbnail}%><img src="{thumbnail}" width="120" height="90" alt="screenshot"/><%end%>
		</dd>
	<%end%>

	</dl>
	<div class="formButton clrfix"><input type="submit" value="Save" /> <input type="submit" name="return" value="Save &amp; return" /> <input type="button" value="Cancel" onclick="window.location.href='{goBack}'" /></div>
</form>