<% info %>
metaTitle={!managePosts}

error404=Item not found!
error1={!titleRequired}
error2={!spamPost}
error9=System error!

<% viewList %>
<div id="mainBlock" class="managePostsPage">
	<h1 class="utilityPageTitle">{!blogManager}</h1>
	<ul class="tabs">
		<li><a href="{goNew}">{!newPost}</a></li>
		<li class="current"><a href="{goManage}">{!managePosts}</a></li>
	</ul>

	<% if {items} %>
	<form action="{!action}" method="post" name="list-form">
		<div>
			<input type="hidden" name="event" value="{goDelete}" />
			<p class="actions">
				<button type="submit" class="delete">{!deleteSelected}</button>
				<input type="checkbox" class="checkAll" />
			</p>
			<table>
				<col style="width: 44%;" />
				<col style="width: 22%;" />
				<col style="width: 16%;" />
				<col style="width: 12%;" />
				<col style="width: 6%;" />
				<tbody>
					<% loop {items} %>
					<tr>
						<td><a href="{goPost}">{title}</a></td>
						<td>{date}, {time}</td>
						<td>
							<a id="toggleHide-{id}" href="{goEdit}" class="<%if{is_hidden}%>unhide<%else{is_hidden}%>hide<%end%>">
								<span <%if{is_hidden}%>style="display:none;"<%end%>>{!hide}</span>
								<span <%if{is_hidden}%><%else{is_hidden}%>style="display:none;"<%end%>>{!unhide}</span>
							</a>
						</td>
						<td><a class="edit" href="{goEdit}">Edit</a></td>
						<td><input type="checkbox" name="it[]" value="{id}" /></td>
					</tr>
					<% end {items} %>
				</tbody>
			</table>
		</div>
	</form>
	{paging}
	<% else {items} %>
	<div class="explain">{!emptyList}</div>
	<% end %>
</div>

<% viewForm %>
<script type="text/javascript">
/*
var tagsSuggest = [{tags_autosuggest}];
$(document).ready(function(){
	$('#i_tags').autocomplete(tagsSuggest, {
		multiple: true,
		autoFill: true,
		minChars: 1,
		multipleSeparator: ','
	});
});
*/
var urlAjax = '{url.ajax}';
</script>

<div id="mainBlock" class="editPostPage">

	<h1 class="utilityPageTitle">
	<%if{title}%>{!editPost}: {title}<%else{title}%>{!newPost}<%end%>
	</h1>

	<%end%>
	<ul class="tabs">
		<li <%if{id}%><%else{id}%>class="current"<%end%>><a href="{goNew}">{!newPost}</a></li>
		<li <%if{id}%>class="current"<%end%>><a href="{goManage}">{!managePosts}</a></li>
	</ul>

	<form action="{!action}" name="frm" id="frm" method="post" class="aform" enctype="multipart/form-data">
		<%if{error}%><div class="error"><span>{error}</span></div><%end%>
		<fieldset>
			<input type="hidden" name="event" value="{event}" />{refresh}
			<input type="hidden" name="id" value="{id}" />
			<input type="hidden" name="created_on" value="{created_on}" id="i_created_on" />
			<label for="i_title">{!title}</label>
			<input type="text" name="title" id="i_title" value="{title}" size="60" maxlength="255" required="required" />
		</fieldset>

		<fieldset class="textareaRow">
			<label for="i_body">{!message}</label>
			<div class="textarea">
				{toolbar}
				<textarea rows="25" cols="65" name="body" id="i_body" required="required">{body}</textarea>
				<span class="tip" style="width: 750px">{!imageTip}</span>
			</div>
		</fieldset>

		<fieldset class="tagRow">
			<label for="i_tags">{!tags}</label>
			<input type="text" name="tags" id="i_tags" value="{tags}" size="88" maxlength="255" />
			<%if{userTags}%>
			<p class="tagSuggestions">
				<%loop{userTags}%>
				<a href="" class="addTag">{tag}</a>
				<%end%>
			</p>
			<%end%>
		</fieldset>

		<fieldset class="checkboxRow">
			<span class="label">{!postSettings}</span>
			<label><input type="checkbox" name="is_hidden" value="{is_hidden}" /> {!hidePost}</label>
			<label><input type="checkbox" name="disable_comments" value="{disable_comments}" /> {!disableComments}</label>
			<label><input type="checkbox" name="disable_smiles" value="{disable_smiles}" id="i_disable_smiles" /> {!disableSmiles}</label>
		</fieldset>

		<div class="form-footer">
			<button type="submit">{!post}</button>
			<a class="previewLink" href="">{!preview}</a>
		</div>
	</form>
</div>

<% postPreview %>
<div class="article">
	<h2><a rel="bookmark">{title}</a></h2>
	<p class="meta">
		<span class="date">{date}</span>
	</p>
	{body}
	<% if {tags} %>
		<p class="tags">
			<span class="tagsIntro" title="Tags">{!tags}:</span>
			{tags}
		</p>
	<% end %>
</div>