#promo header {background-image: url('bg.jpg'); background-color: #081520;}		/* bg: #000 */
#promo .playCode div {background-color: #1e2a36; color: #fff;}					/* bg: #b3b3b3; c: #000 */
#promo .playCode div span {color: #fff;}
#promo .playCode a {background-color: #002e65}					/* bg: #333; c: #fff */