/*BG:, Title:*/
#promo header {background-image: url('bg.jpg'); background-color: #033227;}					/*Default: bg: #000 */
#promo header .subheadline {color: #fff;}
/*Bonus bg:, Bonus text*/
#promo header .playCode div {background-color: #010f0b; color: #fff;}	/*Default: bg: #b3b3b3; c: #000 */
#promo header .playCode div span {color: #fff;}

/*Play bg:, Play text:*/
#promo header .playCode a {background-color: #9e0b0f}					/*Default: bg: #333; c: #fff */