#promo {background: #000 url('bg.jpg') no-repeat top left}

#promo .head {
	float: right;
	margin-right: 40px;
	width: 480px;
	padding-top: 50px;
	position: relative;
	margin-bottom: 0;
	min-height: 210px;
	padding-left: 0;
}
#promo .head h1 {
	font-size: 40px;
	line-height: 44px;
}
#promo .head p {font-size: 20px; color: #fff; margin-bottom: 20px}
#promo .menu {background: none; border-top: 1px solid #fff; border-bottom: 1px solid #fff}
#promo .menu a {color: #fff; border-right: 1px solid #fff}
#promo .menu a:hover {color:#fff; text-decoration: underline}
#promo .menu .active a {color: #000; background: #fff}
#promo .prize {
	border-bottom: 0 none;
	padding-bottom: 0;
	padding-top: 20px;
	clear: both;
}
#promo .prize a,
#promo .content a {color: #6094ff}
#promo .prize a:hover,
#promo .content a:hover {color: #fff}
#promo .content h2 {color: #fff}
#promo table th {background: #2059cd; color: #fff}
#promo table td {
	background: #242424;
	border-bottom: 1px dotted #001416;
}
#promo table.results td {background: #242424; border-bottom: 1px dotted #001416}
#promo table.results tr:nth-child(odd) td {background: #333333}

#promo .download {
	display: inline-block;
	min-width: 150px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border: 2px solid #fff;
	border-radius: 5px;
	background: #1c5aa5;
} #promo .download:hover {background: #fff; color: #1b54b7}
	#promo .download:after {
		content: '';
		position: absolute;
		top: 0;
		right: -120px;
		background: url('logo.png') no-repeat top right;
		height: 26px;
		width: 94px;
	}

#promo .usertable {margin-bottom: 20px}
#promo .usertable td {padding: 10px}
#promo .prize h3 {margin-bottom: 15px; font-size: 18px; line-height: 22px}
#promo .content .paging {background-color: #2059cd}

#promo .archive {border-top: 1px dotted #6094ff}
#promo .show-archive {border-bottom: 1px dashed #6094ff}
#promo .show-archive:hover {border-color:#fff}

#promo .sticker {
	float: right;
	width: 355px;
	height: 202px;
	background: url('sticker.png') no-repeat top right;
	overflow: hidden;
	text-indent: -999px;
	position: relative;
	top: -20px;
}