#promo header {background-image: url('bg.jpg'); background-color: #10001e;}
#promo .playCode p {background-color: #000; color: #fff;}
#promo .playCode p span {color: #fff;}
#promo .playCode a {background-color: #1ec6d7; color: #162c67;}