<% index %>
{header}
<div id="content">
	<div class="left fl">
		{left}

	</div>
	<div class="right fr">
		<a href="#"><img src="http://placekitten.com/348/180" alt="" /></a>
		<p>Nulla vehicula eleifend dapibus. <a href="#">Mauris</a> sollicitudin blandit arcu ut sagittis. Nunc sodales nisi sit amet nibh molestie ut tincidunt arcu lacinia.</p>
		<a href="#"><img src="http://placekitten.com/348/180" alt="" /></a>
		<p>Nulla vehicula eleifend dapibus. <a href="#">Mauris</a> sollicitudin blandit arcu ut sagittis. Nunc sodales nisi sit amet nibh molestie ut tincidunt arcu lacinia.</p>
		<a href="#"><img src="http://placekitten.com/348/180" alt="" /></a>
		<p>Nulla vehicula eleifend dapibus. <a href="#">Mauris</a> sollicitudin blandit arcu ut sagittis. Nunc sodales nisi sit amet nibh molestie ut tincidunt arcu lacinia.</p>
	</div><span class="clr"></span>
</div>
{footer}

<% col1 %>
{header}
{center}
{footer}

<% col2 %>
{header}
<div id="content">
{center}
{column}
</div>
{footer}

<% tmp %>
{header}
{page}
{footer}