<% index %>
{header}
<div id="body" class="clrfix wHalf">
	<div class="left fl">
		<div class="widget topNewsIndexBox">
			<h2 class="widgetTitle">Top Poker News from Australia<span class="auMark lightMark"></span> and around the world</h2>
			<div id="newsSlider">
				<div class="slider">
					<a href="#"><img src="http://placekitten.com/460/305" alt="Avatar" width="460" height="305" /></a>
					<strong><a href="#" class="title">Suspendisse Nec Suscipit Nisi: Ut adipiscing consequat pellentesque</a></strong>
					<span class="meta"><a href="#" class="commentIco bigCommentIco">14 comments</a>● Posted 32 minutes ago</span>
				</div>
				<div class="stepper">
					<b class="fl">1/4</b>
					<a href="#" class="prev" title="Previous">&lt;</a>
					<a href="#" class="next" title="Next">&gt;</a>
				</div>
			</div>
		</div>

		<div class="widget">
			<ul class="newslistIndexBox">
				<li class="photo">
					<a href="#"><img src="http://placekitten.com/223/147" alt="Avatar" width="223" height="147" /></a>
					<a href="#" class="title">Suspendisse lobortis, sapien tempus tincidunt, dui nisi </a><span class="meta"><a href="#" class="commentIco">7</a></span>
					<p>Sed rutrum libero vel est porttitor interdum. Phasellus justo diam, euismod at dignissim non, mattis cursus erat.</p>
				</li>
				<li>
					<a href="#" class="title">Suspendisse lobortis, sapien tempus tincidunt, dui nisi </a>
					<span class="meta"><a href="#" class="commentIco">7</a></span>
					<p>Sed rutrum libero vel est porttitor interdum. Phasellus justo diam, euismod at dignissim non, mattis cursus erat.</p>
				</li>
				<li>
					<a href="#" class="title">Suspendisse lobortis, sapien tempus tincidunt, dui nisi </a>
					<span class="meta"><a href="#" class="commentIco">7</a></span>
					<p>Sed rutrum libero vel est porttitor interdum. Phasellus justo diam, euismod at dignissim non, mattis cursus erat.</p>
				</li>
				<li>
					<a href="#" class="title">Some More News On Poker In Australia<span class="auMark blueMark"></span></a>
					<span class="meta"><a href="#" class="commentIco">7</a></span>
					<p>Sed rutrum libero vel est porttitor interdum. Phasellus justo diam, euismod at dignissim non, mattis cursus erat.</p>
				</li>
			</ul>
			<ul class="newslistIndexBox noMarginRight">
				<li>
					<a href="#" class="title">Suspendisse lobortis, sapien tempus tincidunt, dui nisi </a>
					<span class="meta"><a href="#" class="commentIco">7</a></span>
					<p>Sed rutrum libero vel est porttitor interdum. Phasellus justo diam, euismod at dignissim non, mattis cursus erat.</p>
				</li>
				<li>
					<a href="#" class="title">Suspendisse lobortis, sapien tempus tincidunt, dui nisi </a>
					<span class="meta"><a href="#" class="commentIco">7</a></span>
					<p>Sed rutrum libero vel est porttitor interdum. Phasellus justo diam, euismod at dignissim non, mattis cursus erat.</p>
				</li>
				<li>
					<a href="#" class="title">Suspendisse lobortis, sapien tempus tincidunt, dui nisi </a>
					<span class="meta"><a href="#" class="commentIco">7</a></span>
					<p>Sed rutrum libero vel est porttitor interdum. Phasellus justo diam, euismod at dignissim non, mattis cursus erat.</p>
				</li>
				<li class="photo">
					<a href="#"><img src="http://placekitten.com/223/147" alt="Avatar" width="223" height="147" /></a>
					<a href="#" class="title">Suspendisse lobortis, sapien tempus tincidunt, dui nisi </a>
					<span class="meta"><a href="#" class="commentIco">7</a></span>
					<p>Sed rutrum libero vel est porttitor interdum. Phasellus justo diam, euismod at dignissim non, mattis cursus erat.</p>
				</li>
			</ul><span class="clr"></span>
			<a href="#" class="more">More News »</a>
		</div>

		<div class="widget">
			<h2 class="widgetTitle">Videos</h2>
			<object width="461" height="309" type="application/x-shockwave-flash" data="http://c.brightcove.com/services/viewer/federated_f9?&amp;width=461&amp;height=309&amp;flashID=videoPlayerBC&amp;bgcolor=%23000000&amp;playerID=69161682001&amp;publisherID=1544546948&amp;isVid=true&amp;isUI=true&amp;dynamicStreaming=true&amp;wmode=transparent&amp;quality=high&amp;allowFullScreen=true&amp;allowScriptAccess=always&amp;autoStart=&amp;debuggerID=&amp;startTime=1327658662984" id="videoPlayerBC" class="BrightcoveExperience" seamlesstabbing="false"><param name="allowScriptAccess" value="always"><param name="allowFullScreen" value="true"><param name="seamlessTabbing" value="false"><param name="swliveconnect" value="true"><param name="wmode" value="transparent"><param name="quality" value="high"><param name="bgcolor" value="#000000"></object>
			<a href="#" class="more marginTop">More Videos »</a>
		</div>
		<div class="widget">
			<h2 class="widgetTitle">Player Focus</h2>
			<div class="playerFocusIndexBox clrfix">
				<a href="#"><img src="http://placekitten.com/125/127" alt="Avatar" width="125" height="127" class="fl" /></a>
				<div>
					<span class="meta">Australian player of the month</span>
					<a href="#" target="_blank" class="title">Leo Boxell<span class="auMark blueMark"></span></a>
					<p>Poker patriarch and skilled champion for decades, Leo Boxell recently won APPT Melbourne for the fourth six-figure payday of his impressive tournament career which totals over $1,100,000 in winnings.</p>
					<a href="#" class="more2">Read Full bio »</a>
				</div>
			</div>
			<a href="#" class="more marginTop">Previous Awards »</a>
		</div>
		<div class="widget">
			<h2 class="widgetTitle">Follow us on Facebook</h2>
			<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpokernetworkdotcom&amp;width=461&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:461px; height:290px;" allowTransparency="true"></iframe>
		</div>
	</div>
	<div class="right fr">
		<div class="widget liveReportingIndexBox">
			<h2 class="widgetTitle"><a href="#">Live reporting ON AIR</a></h2>
			<a href="#" class="tourBanner" style="background-image: url('http://placekitten.com/497/106'); background-color: #000"></a>
			<div><a href="#">NAPT Bounty Shootout</a><span class="meta">8 hours ago</span></div>
			<div><a href="#">NAPT Bounty Shootout</a><span class="meta">8 hours ago</span></div>
			<div><a href="#">NAPT Bounty Shootout</a><span class="meta">8 hours ago</span></div>
			<div><a href="#">NAPT Bounty Shootout</a><span class="meta">8 hours ago</span></div>
			<span class="clr"></span>
			<a href="#" class="more">More Coverage »</a>
		</div>
		<div class="widget noMarginBottom">
			<h2 class="widgetTitle"><a href="#">Online poker room ratings and promotions</a></h2>
			<div id="spotlightSlider">
				<div class="slider"><a href="#"><img src="http://placekitten.com/517/175" alt="Avatar" width="517" height="175" /></a></div>
				<div class="stepper">
					<b class="fl">1/4</b>
					<a href="#" class="prev" title="Previous">&lt;</a>
					<a href="#" class="next" title="Next">&gt;</a>
				</div>
			</div>
		</div>
		{right}
		<div class="widget">
			<h2 class="widgetTitle"><a href="#">Latest forum activity</a></h2>
			<table class="forumIndexBox">
				<tr>
					<th>
						<a href="#">Did you hear that i won the warmup?</a>
						<span class="meta">last post by <em>The Dhingranator</em></span>
					</th>
					<td><b>102</b> Posts</td>
				</tr>
				<tr>
					<th>
						<a href="#">Aussie Millions Main Event 2012 ticket for sale</a>
						<span class="meta">last post by <em>The Dhingranar</em></span>
					</th>
					<td><b>1222</b> Posts</td>
				</tr>
				<tr>
					<th>
						<a href="#">Aussie Millions Main Event 2012 ticket for sale  ticket for sale</a>
						<span class="meta">last post by <em>The Dhingranator</em></span>
					</th>
					<td><b>1</b> Posts</td>
				</tr>
				<tr>
					<th>
						<a href="#">Did won the warmup?</a>
						<span class="meta">last post by <em>The Dhingranator</em></span>
					</th>
					<td><b>1</b> Posts</td>
				</tr>
				<tr>
					<th>
						<a href="#">Did you hear that i won the warmup?</a>
						<span class="meta">last post by <em>The Dhingranator</em></span>
					</th>
					<td><b>102</b> Posts</td>
				</tr>
				<tr>
					<th>
						<a href="#">Aussie Millions Main Event 2012 ticket for sale</a>
						<span class="meta">last post by <em>The Dhingranar</em></span>
					</th>
					<td><b>1222</b> Posts</td>
				</tr>
				<tr>
					<th>
						<a href="#">Aussie Millions Main Event 2012 ticket for sale  ticket for sale</a>
						<span class="meta">last post by <em>The Dhingranator</em></span>
					</th>
					<td><b>1</b> Posts</td>
				</tr>
				<tr>
					<th>
						<a href="#">Did won the warmup?</a>
						<span class="meta">last post by <em>The Dhingranator</em></span>
					</th>
					<td><b>1</b> Posts</td>
				</tr>
				<tr>
					<th>
						<a href="#">Did you hear that Did you hear that i won the warmup?</a>
						<span class="meta">last post by <em>The Dhingranator</em></span>
					</th>
					<td><b>5312</b> Posts</td>
				</tr>
			</table>
			<a href="#" class="more">Visit our forums »</a>
		</div>
		<div class="widget">
			<h2 class="widgetTitle"><a href="#">Fresh Tweets</a></h2>
			<ul class="tweets clrfix">
				<li>
					<a href="#"><img src="http://placekitten.com/48/48" alt="Avatar" width="48" height="48" /></a>
					<p><b>Liv Boeree</b> <a href="#" target="_blank">@liv_boeree</a><br />Just woke up to hear that my fellow Team Just woke up to hear that my fellow Team Pro Pius Heinz <a href="#">@mastap89</a> won the 2011 WSOP Main Event last night - Congratulations!!</p>
				</li>
				<li>
					<a href="#"><img src="http://placekitten.com/48/48" alt="" /></a>
					<p><b>Liv Boeree</b> <a href="#" target="_blank">@liv_boeree</a><br />Just woke up to hear that my fellow Team Pro Pius Heinz</p>
				</li>
				<li>
					<a href="#"><img src="http://placekitten.com/48/48" alt="" /></a>
					<p><b>Liv Boeree</b> <a href="#" target="_blank">@liv_boeree</a><br />Just woke up to hear that my fellow Team Pro Pius Heinz <a href="#">@mastap89</a> won the 2011 WSOP Main Event last night - Congratulations!!</p>
				</li>
				<li>
					<a href="#"><img src="http://placekitten.com/48/48" alt="" /></a>
					<p><b>Liv Boeree</b> <a href="#" target="_blank">@liv_boeree</a><br />Just woke up to hear that my fellow Team Pro Pius Heinz <a href="#">@mastap89</a> won the 2011 WSOP Main Event last night - Congratulations!!</p>
				</li>
				<li>
					<a href="#"><img src="http://placekitten.com/48/48" alt="" /></a>
					<p><b>Liv Boeree</b> <a href="#" target="_blank">@liv_boeree</a><br />Just woke up to hear that my fellow Team Pro Pius Heinz <a href="#">@mastap89</a> won the 2011 WSOP Main Event last night - Congratulations!!</p>
				</li>
				<li>
					<a href="#"><img src="http://placekitten.com/48/48" alt="" /></a>
					<p><b>Liv Boeree</b> <a href="#" target="_blank">@liv_boeree</a><br />Just woke up to hear that my fellow Team Pro Pius Heinz <a href="#">@mastap89</a> won the 2011 WSOP Main Event last night - Congratulations!!</p>
				</li>
			</ul>
			<a href="#" class="more">More Tweets »</a>
		</div>
		<div class="banner">
			<a href="#"><img src="http://placekitten.com/468/80" alt="" /></a>
		</div>
		<div class="fl sepBottom noPadding widget">
			<div class="widget widgetW50 fl sep">
				<h2 class="widgetTitle">Poll</h2>
				<form class="poll" id="poll-85" method="post" action="/">
					<p>Will Phil Ivey's 2012 exceed Erik Seidel's amazing 2011?</p>
					<label class="correct"><input type="radio" id="id-335" value="id-335" name="vote"> Yes</label>
					<span class="rating tar"><span class="ratingBarBackground fl"><span style="width: 33%;" class="ratingBar"></span></span>&nbsp;100%</span>

					<label class="incorrect"><input type="radio" id="id-336" value="id-336" name="vote"> No</label>
					<span class="rating tar"><span class="ratingBarBackground fl"><span style="width: 67%;" class="ratingBar"></span></span>&nbsp;67%</span>

					<div class="hide vote-loading"><img alt="" src="img/loading_small.gif"></div>
					<div class="vote">
						<input type="hidden" value="85" name="question">
						<input type="hidden" value="poll.poll#vote" name="event">
						<button name="do-vote" type="submit" class="button">Vote</button>
						<a href="#">View results</a>
					</div>
				</form>
			</div>
			<div class="widget widgetW50 fr RelatedSites">
				<h2 class="widgetTitle">Hot Links</h2>
				<a href="http://www.pokernews.com" target="_blank"><img src="img/hotlink-pokernews.png" width="119" height="20" alt="PokerNews" /></a>
				<a href="http://www.rakedeals.com" target="_blank"><img src="img/hotlink-rakedeal.png" width="120" height="19" alt="RakeDeals" /></a>
				<a href="http://www.casinogrinder.com" target="_blank"><img src="img/hotlink-casinogrinder.png" width="174" height="18" alt="CasinoGrinder" /></a>
				<a href="http://pokerworks.com" target="_blank"><img src="img/hotlink-pokerworks.png" width="118" height="18" alt="PokerWorks" /></a>
			</div>
		</div><span class="clr"></span>
	</div>
</div>
{footer}

<% col1 %>
{header}
<div id="body" class="clrfix wFull">{center}</div>
{footer}

<% col1_darkright %>
{header}
<div id="body" class="clrfix wCol">{center}</div>
{footer}

<% col2 %>
{header}
<div id="body" class="clrfix wColNarrow">
	<div class="left fl">{center}</div>
	<div class="right fr">{column}</div>
</div>
{footer}

<% col %>
{header}
{center}
{footer}

<% tmp %>
{header}
{center}
{footer}