<% bannerType:html %>
<div class="baneris js-adset-el">
	{text}
</div>

<% bannerType:imagec %>
<div class="baneris js-adset-el">
<a href="{redirect_url}" rel="nofollow" title="{alternative}" target="{target}"><img src="{path}?{timestamp}" width="{width}" height="{height}" alt="{alternative}" border="0" /></a>
</div>

<% bannerType:imagenc %>
<div class="baneris js-adset-el">
<img src="{path}?{timestamp}" width="{width}" height="{height}" alt="{alternative}" border="0" />
</div>

<% bannerType:flash %>
<div class="baneris js-adset-el">

<!--[if IE]>
<object type="application/x-shockwave-flash" width="{width}" height="{height}" align="middle">
	<param name="movie" value="{path}?clickURI={redirect_url}&clickTAG={redirect_url}" />
<![endif]-->
<!--[if !IE]> -->
<object type="application/x-shockwave-flash" data="{path}?clickTAG={redirect_url}" width="{width}" height="{height}" align="middle">
<!-- <![endif]-->
	<param name="allowScriptAccess" value="always" />
	<param name="quality" value="high" />
	<param name="wmode" value="transparent" />
	{alternative}
</object>
</div>

<% bannerType:flashXml %>
<div class="baneris js-adset-el">
<!--[if IE]>
<object type="application/x-shockwave-flash" width="{width}" height="{height}" align="middle">
	<param name="movie" value="{path}?clickURI={redirect_url}&clickTAG={redirect_url}&{params}" />
<![endif]-->
<!--[if !IE]> -->
<object type="application/x-shockwave-flash"  data="{path}?clickTAG={redirect_url}&{params}" width="{width}" height="{height}" align="middle">
<!-- <![endif]-->
	<param name="allowScriptAccess" value="always" />
	<param name="quality" value="high" />
	<param name="wmode" value="transparent" />
</object>
</div>

<% viewBanner:home-2col %>
<div id="home_2col_1" class="banner" style="display:none;"></div>
<script type="text/javascript">
	/*<![CDATA[*/
	addBanner('home_2col_1', 'home:2col:1');
	/*]]>*/
</script>

<% viewBanner:right1 %>
<div id="std_right_1" class="banner" style="display:none;"></div>
<script type="text/javascript">
	/*<![CDATA[*/
	addBanner('std_right_1', 'std:right:1');
	/*]]>*/
</script>

<% viewBanner:right2 %>
<div id="std_right_2" class="banner" style="display:none;"></div>
<script type="text/javascript">
	/*<![CDATA[*/
	addBanner('std_right_2', 'std:right:1');
	/*]]>*/
</script>
