<% main %>
<div class="widget relatedSites">
	<div class="widgetInner">
		<div class="ctl"></div>
		<div class="ctr"></div>
		<div class="cbl"></div>
		<div class="cbr"></div>
		<h2 class="widgetTitle">{!related_sites}</h2>
		<ul>
			<li><a href="http://blogs.pokernews.com/" target="_blank"><img src="/img/pn-blogs.png" width="160" height="20" alt="PokerNews Blogs" /></a></li>
		</ul>
	</div>
</div>
<%insert {banner} %>
<div id="std_right_1" class="js-adset bannerFull" style="display:none;"></div>
<script type="text/javascript">
	/*<![CDATA[*/
	addBanner('std_right_1', 'std:right:1');
	/*]]>*/
</script>
<div id="std_right_2" class="js-adset bannerFull" style="display:none;"></div>
<script type="text/javascript">
	/*<![CDATA[*/
	addBanner('std_right_2', 'std:right:2');
	/*]]>*/
</script>
<%end%>




<% main2222 %>
<ul class="leftMenu">
	<li><a href="#" class="active">{!c1}</a></li>
	<li><a href="#">{!c2}</a></li>
	<li><a href="#">{!c3}</a></li>
</ul>