<% main %>
<div id="overlayHeader">
	<a href="/" class="siteLogo" title="Australia’s Poker Resource">Australia’s Poker Resource</a>
</div>

<div id="header">
	<%if{isHome}%><h1><a href="/" class="siteLogo" title="Australia’s Poker Resource">Australia’s Poker Resource</a></h1>
	<%else{isHome}%><a href="/" class="siteLogo" title="Australia’s Poker Resource">Australia’s Poker Resource</a>
	<%end%>
	<ul class="siteMenu">
		<%loop {menu += menu.item} %><li {td:class}><a href="{url}">{title}</a><% insert{submenu} %><ul>{menu}</ul><%end%></li><%end%>
	</ul>
	<div class="search">
		<form action="{url.search}" method="get">
			<input type="text" name="q" placeholder="Search" />
			<button type="submit" title="Find"><span class="hide">Find</span></button>
		</form>
	</div>
	{user_block}
</div>


<% user_block.nouser %>
<ul class="userControl">
	<li><a href="{url.register}">Sign Up</a></li>
	<li><a href="{url.forgot}">Forgot Password</a></li>
	<li class="signIn">
		<a href="{url.login}" onclick="return false;">Sign In</a>
		<form action="/" method="post" class="loginForm">
			<input type="hidden" name="event" value="{eventLogin}" />
			<!--#<div class="error" style="display:none">Bad login username or password</div>-->
			<input type="text" name="nick" value="" placeholder="Username" class="username" />
            <input type="password" name="password"  value="" placeholder="Password" /><button type="submit" title="Sign In"><span class="hide">Sign In</span></button>
			<!--#
			<label><input type="checkbox" name="remember" value="{remember}" /> {!remember_me}</label>
			<a href="{url.forgot}" id="urlForgot">{!forgot_password}</a>
			-->
		</form>
	</li>
</ul>

<% user_block.user %>
<ul class="userControl">
	<li><span>Welcome back, <b>{nick}</b></span></li>
	<li><a href="{profile_url}">Account Settings</a></li>
	<li><a href="{sign_out}">Sign Out</a></li>
</ul>


<!--# PokerStars SCOOP 2012 banner -->
<% pokerstars %>
<script language="javascript" type="text/javascript">
	var p = document.location.protocol;
	if (!p || p == null) p = "";
	var s = (p.toLowerCase().indexOf("http") == 0 ? p : "http:") + "//pokerstars.com/{siteID}/ad/11216421/1000x150zoomtakeover.js";
	var r = Math.floor(Math.random()*999999)+''+Math.floor(Math.random()*999999);
	var c = document.createElement("script");
	c.type = "text/javascript";
	c.src = s+"?r="+r;
	c.id = ""+r;
	c.async = true;
	var a = document.getElementsByTagName("script");
	var t = a[a.length-1];
	t.parentNode.insertBefore(c, t);
</script>
<noscript><a href="http://pokerstars.com/{siteID}/ad/11216421/1000x150zoomtakeover.gif.click?rq=noscript&vs="><img src="http://pokerstars.com/{siteID}/ad/11216421/1000x150zoomtakeover.gif?rq=noscript&vs=" width="1000" height="150" alt="" border="0"/></a></noscript>