<% common_header %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<base href="{home_url}" />
	<title>{title}</title>
	<link rel="stylesheet" href="/css/style.css?{main.css-timestamp}" type="text/css" media="screen" />
	<% if {googleID} %>
		<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', '{googleID}']);
		_gaq.push(['_trackPageview']);
		_gaq.push(['_trackPageLoadTime']);
		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
		</script>
	<% end %>
	{head.tags}
</head>


<% page %>
{common_header}
<body>
<div id="wrapper">
{content}
</div>
<% if {bannersOn} %>
<script type="text/javascript" src="{bnDataUrl}"></script>
<script type="text/javascript">
/*<![CDATA[*/
jQuery(document).ready(function () {
	if(typeof(banners)=='undefined') {
		banners = new Banners();
	};
	banners.roomId = '{bnRoomId}';
	banners.geoTarget = '{bnGeoTarget}';
	banners.statsUrl = '{bnStatsUrl}';
	banners.uriList = {uriList};
	banners.process();
});
/*]]>*/
</script>
<% end {bannersOn} %>
{foot.scripts}
</body>
</html>


<% print %>
<div class="print article">
	<div class="content">
		<div id="printHeader"><img src="/img/site_logo.png" alt="" border="0" /></div>
		{content}<div id="printFootnotes"></div>
		<div id="printFooter"><a href="{url}" class="ignore">{url}</a></div>
	</div>
</div>
<script type="text/javascript">
<!--
//naudoja print.js
var linksHeading = "Links";
//-->
</script>


<% html:breadcrumb %>
	<div id="std_wide_1" class="wFullDark banner728x90" style="display:none;"></div>
	<script type="text/javascript">
		/*<![CDATA[*/
		addBanner('std_wide_1', 'std:wide:1');
		/*]]>*/
	</script>
	<div class="widgetTitle path">
			<a href="/">Home</a>
			<%loop{breadcrumb}%>
				<%if{url}%>
				 &rsaquo; <a href="{url}">{title}</a>
				<%else{url}%>
				 &rsaquo; <span>{title}</span>
				<%end%>
			<%end%>
	</div>

