<% tabs %>
news = Articles
video = Video
images = Images


<% main %>
<div class="widget searchResults">
	<%if{word}%>
		<h1 class="pageTitle">{countTotal} search results for: <span class="searchTerm">{word}</span></h1>
	<%else{word}%>
		<h1 class="pageTitle">{pageTitle}</h1>
	<%end%>
	<form action="{!action}" class="refineSearchTermsForm">
		<div>
			<label class="textField"><input type="text" name="q" placeholder="Search terms" value="{word}" /></label>
			<button type="submit"><span class="hide">Find</span></button>
		</div>
	</form>
	<div class="filterTabs filterTabsTopLine clrfix">
		<%if{tab-item}%><b>Show:</b><%end%>
		<ul>
			<%loop{tab-item}%>
				<%if{on}%>
					<li class="on"><a>{title} ({count})</a> </li>
				<%else{on}%>
					<li><a href="{url}">{title} ({count})</a></li>
				<%end%>
			<%end%>
			<%if {clear_url} %>
				<li><a href="{!action}">Clear search</a></li>
			<%end%>
		</ul>
	</div>
	<!-- 
	gallery
	newsList
	videoList
	-->
	<ul class="{tabId}List clrfix">
		{results}
	</ul>
	{puslapiai}
</div>

<% itemArticle %>
<li>
	<a href="{url}"><img src="{img}" alt="{img_alt}" width="120" /></a>
	<div>
		<a href="{url}" class="title">{title}</a>
		<%if{date}%><span class="meta">{date}</span><%end%>
		<p>{summary}</p>
	</div><span class="clr"></span>
</li>

<% itemVideo %>
<li>
	<a href="{url.video}" class="thumb"><img alt="{title}" src="{thumbSrc}" width="120" height="90" /><span>{length}</span></a>
	<b><a href="{url.video}">{title}</a></b>
	<span class="meta">{date}</span>
</li>

<% itemsImg %>
{photos}

<script type="text/javascript">
/*<![CDATA[*/
jQuery(document).ready(function(){
	jQuery('a[rel*=lightbox]').click(function(e){
		e.preventDefault();
	});
	jQuery('ul.gallery').each(function(){
		jQuery('a[rel*=lightbox]', this).lightBox();
	});
});
/*]]>*/
</script>

<% itemImg %>
<li>
	<a href="{src_big}" rel="lightbox" title="<%if {alt} %>{alt} | <%end%> {event_name} | {tournament_name}"><img src="{src}" alt="{alt}" width="89" /></a>
	<span>{alt}</span>
</li>


<% item %>
<div class="articlePreview">
	<h2 class="articleTitle"><a href="{url}">{title}</a></h2>
	<p>{summary}&nbsp;</p>
	<div class="cb"></div>
</div>