<% controls:event %>
<div id="rq-wm" style="<%if {cm.unhide} %><%else {cm.unhide} %>display:none;<%end%>">
<form method="post" class="control js-row-mark-container" action="{!action}">
	<input type="hidden" name="event" value="{cm.save_event}" />
	<input type="hidden" name="event_id" value="{ce.event_id}" />
	<% if {cm.master} %><input type="hidden" name="master" value="{cm.master}" /><%end%>
	<fieldset>
		<legend>Event: Misc.</legend>
		<table>
			<tr><td>
			<p><label style="width: 100px;">Prizepool:</label>
			   <input name="prizepool" size="10" maxlength="10" value="{cm.prizepool}" type="text" />
			</p>
			<p><label style="width: 100px;">Chips total:</label>
			   <input name="chipspool" size="10" maxlength="10" value="{cm.chipspool}" type="text" />
			</p>
			<p><label style="width: 100px;">Players total:</label>
			   <input name="players_total" size="10" maxlength="10" value="{cm.players_total}" type="text" />
			</p>
			<p><label style="width: 100px;">Players left:</label>
			   <input name="players_left" size="10" maxlength="10" value="{cm.players_left}" type="text" />
			</p>
		</td><td style="padding-left: 25px;">
			<p><label style="width: 100px;">Buy-in:</label>
			   <input name="buyin" size="10" maxlength="10" value="{cm.buyin}" type="text" />
			</p>
			<p><label style="width: 100px;">Fee:</label>
			   <input name="fee" size="10" maxlength="10" value="{cm.fee}" type="text" />
			</p>
			<p><label style="width: 100px;">Rebuys:</label>
			   <input name="rebuy" size="10" maxlength="10" value="{cm.rebuy}" type="text" />
			</p>
			<p><label style="width: 100px;">Addons:</label>
			   <input name="addon" size="10" maxlength="10" value="{cm.addon}" type="text" />
			</p>
		</td></tr><tr><td colspan="2">
			<p><input type="submit" value="Save" /></p>
		</td></tr>
		</table>
	</fieldset>
</form>
</div>
<div id="rq-we" style="<%if {ce.unhide} %><%else {ce.unhide} %>display:none;<%end%>">
<form method="post" class="control js-row-mark-container" action="{!action}">
	<input type="hidden" name="event" value="{ce.save_event}" />
	<input type="hidden" name="event_id" value="{ce.event_id}" />
	<input type="hidden" name="day_id" value="{ce.day_id}" />
	<% if {ce.master} %><input type="hidden" name="master" value="{ce.master}" /><%end%>
	<fieldset>
		<legend>Event: 
			<span id="rq-we-sect-prizepool-c2">Prizepool and payouts</span>
			<span id="rq-we-sect-winners-c2">Winners order finetune</span>
			<span id="rq-we-sect-list-c2">Players info</span>
		</legend>
		<script type="text/javascript">
		var write_event_load_url = '{ce.url.ajax_load}';
		</script>
		<div id="rq-we-sect-prizepool" <%if {ce.sect_prizepool_active}%>style="display:block;"<%end%>>
			<div id="rq-we-places-load" style="display:none;"><img src="/img/load-wgite.gif" alt="" /></div>
			<div id="rq-we-places">
				{ce.sc.places}
			</div>
			<br />
			<p>
				<input type="submit" name="action_save_prizepool" id="action_save_prizepool" value="Save" style="width:100px;"/>
				<input type="submit" name="action_delete_prizepool" id="action_delete_prizepool" value="Delete marked" style="width:100px;display:none;" class="js-row-mark-sc" />
			</p>
		</div>
		<div id="rq-we-sect-winners" <%if {ce.sect_winners_active}%>style="display:block;"<%end%>>
			<div id="rq-we-winners-load" style="display:none;"><img src="/img/load-wgite.gif" alt="" /></div>
			<div id="rq-we-winners">
				{ce.sc.winners}
			</div>
			<br />
			<p>
				<input type="submit" name="action_save_winners" id="action_save_winners" value="Save" style="width:100px;"/>
			</p>
		</div>
		<div id="rq-we-sect-list" <%if {ce.sect_list_active}%>style="display:block;"<%end%>>
			<div id="rq-we-list-load" style="display:none;"><img src="/img/load-wgite.gif" alt="" /></div>
			<script type="text/javascript">
			var write_event_list_page_by = {ce.list.page_by};
			var write_event_load_list_url = '{ce.url.ajax_list_load}';
			var write_event_list_sponsors = {ce.sponsors};
			<%if {ce.sect_list_active}%> var write_event_sect_list_launch = true;<%end%>
			<%if {ce.sect_winners_active}%>	var write_event_sect_winners_launch = true;<%end%>
			<%if {ce.sect_prizepool_active}%> var write_event_sect_prizepool_launch = true; <%end%>
			</script>
			<div id="rq-we-list">
				<p>
				<%if {ce.sect_list_paging} %>
					Filter by name index: <br />
					<select id="rq-we-list-pager">{ce.sect_list_paging}</select>
				<% end %>
				</p>
				<p>
					Filter by name: <br />
					<input type="text" id="rq-we-list-filter" value="" />
				</p>
				<table class="longtable">
					<colgroup>
						<col style="width:100px;" />
						<col style="width:270px;" />
					</colgroup>
					<tbody id="rq-we-list-data" style="display:none;">
					<tr id="rq-we-list-row--id-">
						<td><a href="{ce.sect_list.evurl}">-card-</a></td>
						<td><a href="{ce.sect_list.evurl}">-name-</a></td>
						<td>-sponsor-</td>
						<td>-status-</td>
					</tr>
					</tbody>
				</table>
				<hr style="margin:1em 0 0.5em 0" />
				<p>Import records from Excel file &ndash; Select &amp; Paste new players data into the text area:</p>
				<p><select><option>player [, id, sponsor, initial_chips]</option></select></p>
				<p><textarea name="new_players_list" id="new_players_list_ta" rows="5" cols="40"></textarea></p>
				<p><input type="button" value="Preview data" id="rq-we-list-preview" name="action_preview_new_plist" /> <img src="/img/loading_small.gif" style="vertical-align:middle;display:none" class="action_new_plist_loading" alt="" /></p>
				<p id="rq-we-list-previewarea"></p>
				<p id="rq-we-list-save-p" style="display:none"><input type="submit" name="action_save_new_plist" disabled="disabled" value="Save" id="rq-we-list-save" /></p>
				<% if {ce.special_import} %>
					<hr style="margin:1em 0 0.5em 0" />
					<p>Wsop.com provides pokernews.com with a special feed of event players. You can import it here.</p>
					<p id="rq-we-list-import-p"><input type="button" name="action_import_new_plist" value="Import WSOP players preview" id="rq-we-list-import" /> <img src="/img/loading_small.gif" style="vertical-align:middle;display:none" class="action_new_plist_loading" alt="" /></p>
				<% end %>
			</div>
		</div>
	</fieldset>
</form>
</div>


<% controls:event.statuses %>
1=Pro
2=Online Qualifier
3=Sponsored Player
11=* Team PokerStars Pro
22=* Team PokerStars PRO: Argentina
23=* Team PokerStars PRO: Australia
44=* Team PokerStars PRO: Austria
47=* Team PokerStars PRO: Belarus
40=* Team PokerStars PRO: Belgium
24=* Team PokerStars PRO: Brazil
25=* Team PokerStars PRO: Canada
26=* Team PokerStars PRO: Costa Rica
48=* Team PokerStars PRO: Denmark
42=* Team PokerStars PRO: Finland
27=* Team PokerStars PRO: France
28=* Team PokerStars PRO: Germany
29=* Team PokerStars PRO: Italy
30=* Team PokerStars PRO: Mexico
31=* Team PokerStars PRO: Netherlands
32=* Team PokerStars PRO: Nordics
46=* Team PokerStars PRO: Norway
33=* Team PokerStars PRO: South Africa
34=* Team PokerStars PRO: Spain
41=* Team PokerStars PRO: Sweden
45=* Team PokerStars PRO: Switzerland
35=* Team PokerStars PRO: USA
36=* Team PokerStars PRO: Poland
37=* Team PokerStars PRO: Russia
38=* Team PokerStars PRO: Portugal
39=* Team PokerStars PRO: UK/Ireland
43=* Team PokerStars PRO: Ukraine
12=* Friend of PokerStars
13=* PokerStars Player
14=* Team PokerStars Sports Star
15=* Team PokerStars Online


<% controls:event.sect_list_paging.item %>
<option value="{page}">{name}</option>


<% controls:event.place_list %>
<table class="longtable" id="rq_we_pl_placetable">
<tr>
	<td style="width: 24px;"></td>
	<td style="width: 140px;">Place</td>
	<td style="width: 140px;">Prize</td>
	<td>Winner</td>
</tr>
<%loop {place_list += controls:event.place_list.item} %>
<tr><td><%if {repeated} %><%else {repeated} %><input type="checkbox" class="checkbox js-row-mark" name="delete[{id}]" value="1" /><%end%></td>
	<td><%if {repeated} %>{place}<%else {repeated} %><input type="text" name="place[{id}]"  value="{placev}" size="8" /><%end%></td>
	<td><%if {repeated} %>{prize}<%else {repeated} %><input type="text" name="prize[{id}]" value="{prizev}" size="8" /><%end%></td>
	<td>{name}</td></tr>
<%end%>
<tr>
	<td></td>
	<td><input type="text" name="new_place[]" value="" size="8" class="rq-we-pl-newplace" /></td>
	<td><input type="text" name="new_prize[]" value="" size="8" /></td>
	<td>&nbsp;</td>
</tr>
</table>
<script type="text/javascript">
/*<![CDATA[*/
var rq_we_pl_newplace={rq_we_pl_newplace};
/*]]>*/
</script>


<% controls:event.place_list.newitem %>
<tr>
	<td></td>
	<td><input type="text" name="new_place[]" value="" size="8" class="rq-we-pl-newplace" /></td>
	<td><input type="text" name="new_prize[]" value="" size="8" /></td>
	<td>&nbsp;</td>
</tr>


<% controls:event.winner_list %>
<p>Take note that any player in this list may be auto-reordered anytime he is mentioned in &quot;full players listing&quot; batch chipcount import. <br />You should also normally not enter players in the list by hand, but manage existing ones when necessary (this is possible though, whenever the player was mentioned at least in one chipcount update).
</p>
<table class="colsym2">
<tr>
	<td style="width:30px;padding:2px 10px 0 0;"><%loop {rows += controls:event.winner_list.row} %>{nr}<br/><%end%></td>
	<td><textarea name="winner_list" style="height:{height}px;background-image:none;" cols="20" rows="2">{winners}</textarea></td>
</tr>
</table>


<% controls:plist.save_preview %>
<table class="longtable">
<tr>
	<th style="width:100px">Id</th>
	<th>Name</th>
	<th>Sponsor</th>
</tr>
<%loop {cc.plist += controls:plist.save_preview.item} %>
<tr class="<%if {is_new_player} %>green<%end%> <%if {is_del_player} %>red<%end%>">
<td>{id}</td>
<td>{name}</td>
<td>{sponsor}</td>
</tr>
<%end%>
</table>
Legend:<br />
<span class="green">New player</span>
<span class="red">Deleted player</span>




<% logTab:main %>
<%if {entries} %>
<table class="payouts tal" summary="Payout statistics">
	<col class="position" />
	<col class="player" />
	<col class="sponsor" />
	<col class="prize" />
	<tbody>
	{entries}
	</tbody>
</table>
<%else {entries} %>
<p>{!nopaystats}</p>
<%end%>


<% logTab:entries.item %>
<tr class="{evenodd}">
	<td class="numeric">{place}</td>
	<td><%if {url} %><a href="{url}">{name}</a>
		<%else {url} %>{name}<%end%>
	</td>
	<td class="sponsor">
		<%if {sponsor} %>
		<%if {sponsorurl} %>
		<a href="{sponsorurl}"><img src="{sponsorimg}" alt="" /> {sponsor}</a>
		<% else {sponsorurl} %>
		<img src="{sponsorimg}" alt="" /> {sponsor}
		<%end%>
		<%end%>
	</td>
	<td class="numeric">{wins}</td>
</tr>