<% index:meta %>
live_reporting={!live_reporting}
tournaments_archive={!tournaments_archive}


<% index:main %>
<div class="widget livePokerPage livePokerHomePage">
	<h1 class="pageTitle">{!live_poker}</h1>
	<!-- running -->
	<% if {running_tournaments} %>
	{running_tournaments}
	<% end %>
	<!-- /running -->
</div>
<div class="widget livePokerPage">
	<!-- upcoming -->
	<%if {upcoming_tournaments} %>
	<h3 class="widgetTitle">{!uptour}</h3>
	<div class="livePokerBlock" style="margin-top: 30px; margin-bottom: 20px">
		{upcoming_tournaments}
	</div>
	<%else {upcoming_tournaments} %>
	<div class="livePokerBlock">
		{tournaments_archive}
	</div>
	<% end %>
	<!-- /upcoming -->
</div>

<!-- tours -->
<% if {tours} %>
<div class="widget livePokerBlockTourGallery clrfix">
	<h3 class="widgetTitle">{!tournaments}</h3>
	<ul class="tourGallery clrfix">
		{tours}
	</ul>
</div>
<% end %>
<!-- /tours -->

<% index:running_tournaments.item %>
<div class="livePokerBlock">
	<div class="livePokerFeature {uriClass}" style="background-image: url('<%if {logo} %>{logo}<%else {logo} %>{skin_logo}<%end%>'); background-color:{skin_color};">
		<%if {logo} %>
			<h2 class="imageHead"><a href="{url}"><span class="a11y"><%if {tour} %>{tour} – <%end%>{name}</span></a></h2>
		<%else {logo} %>
			<h2 class="imageHead"><a href="{url}"><%if {tour} %>{tour}<br /><%end%>{name}</a></h2>
		<%end%>
		<%if {live_coverage} %><p class="liveCoverage">{!live_coverage}</p><%end%>
		{running_events}
		<%if {upcoming_events} %>
		<table class="upcomingEvents" summary="{!upcoming_events}">
			<thead>
				<tr>
					<th colspan="2">{!upcoming_events}</th>
				</tr>
			</thead>
			<tbody>
				{upcoming_events}
			</tbody>
		</table>
		<%end%>
	</div>
</div>

<% index:running_tournaments.post_by_event.item %>
<div class="article<%if{dark_background}%> darkBackground<%end%>">
	<p class="eventDay"><%if {dname} %>{!day} {dname}<%end%>&nbsp;</p>
	<p class="eventMeta">
		<% if {players_left} %>{!players_left}: {players_left}<br /><%end%>
		<%if {average_chip_stack} %>{!average_chip_stack}: {average_chip_stack}<%end%>
	</p>
	<h3 class="eventTitle">
		<%if {clickable} %>
		<a href="{url}">{evname}</a>
		<%else {clickable} %>
		{evname}
		<%end%>
	</h3>
	<% if {clickable} %>
	<p class="articleTitle"><a href="{spec_url}">{post_title}</a></p>
	<p class="articleMeta"><%if {post_ago} %><span class="date">{post_ago} – </span><%end%>{post_date}</p>
	{post}
		<% if {list.photos} %>
		<ul class="gallery">
			{list.photos}
		</ul>
		<div class="cb"></div>
		<%end%>
	<%end%>
</div>

	
<% logEntry:photos.item %>
<li><dl><dt><a href="{src_big}" rel="lightbox" title="{alt} | {event_name} | {tournament_name}"><img src="{src}" alt="{alt}" width="89" /></a></dt><dd>{alt}</dd></dl></li>




<% index:running_tournaments.upcoming_events.item %>
<tr class="<%if {strange} %>odd<%else {strange} %>even<%end%>">
	<td class="eventTitle">{name}</td>
	<td class="eventDate">{dateFrom}<%if {dateTo} %> – {dateTo}<%end%></td>
</tr>
	

<% index:upcoming_tournaments.item %>
<div class="upcoming-tournament">
	<%if {logo} %>
		<h2 style="background: url('{logo}') {skin_color};" class="imageHead"><a href="{url}"><span class="a11y"><%if {tour} %>{tour} – <%end%>{name}</span></a></h2>
	<%else {logo} %>
		<h2 style="background: url('{skin_logo}') {skin_color};" class="imageHead"><a href="{url}"><%if {tour} %>{tour}<br /><%end%>{name}</a></h2>
	<%end%>
	<% if {events} %>
	<table class="upcomingEvents">
		<tbody>
			{events}
		</tbody>
	</table>
	<% end %>
</div>
<% if {tournaments_archive} %>
{tournaments_archive}
<% end %>


<% index:upcoming_tournaments.events.item %>
<tr>
	<td class="eventTitle">{name}</td>
	<td class="eventDate">{dateFrom}<%if {dateTo} %> – {dateTo}<%end%></td>
</tr>


<% index:tournaments_archive %>
<div class="tar"><a class="livePokerArchiveButton" href="{url}"><span class="linkText">{!tournaments_archive}</span><span class="cbr"></span></a></div>



<% tournaments-archive:main %>
<div class="widget livePokerPage livePokerArchive">
	<h1 class="pageTitle">{!live_poker}</h1>
	<ul class="tourArchive">
	{tournaments}
	</ul>
	{paginator}
</div>


<% tournaments-archive:tournaments.item %>
<li>
	<div class="fr">
		<h2><a href="{url}">{name}</a></h2>
		<%if {events} %>
		<ul>
			{events}
		</ul>
		<%end%>
	</div>
	<%if {logo} %>
	<a href="{url}"><img src="{logo}" width="260" height="106" alt="<%if {tour} %>{tour} – <%end%>{name}" /></a>
	<%else {logo} %>
	<a href="{url}" class="skin-picture" style="background: url('{skin_logo}') {skin_color}"><%if {tour} %>{tour} – <%end%>{name}</a>
	<%end%>
	<div class="cb"></div>
</li>


<% tournaments-archive:tournaments.events.item %>
<li><%if {show_url} %>
	<a href="{url}">{name}</a>
	<%else {show_url} %>
	{name}
	<%end%>
</li>


<% widget_index:main %>
<div class="widget liveReportingIndexBox">
	<h2 class="widgetTitle"><a href="{url.reporting}">Live reporting ON AIR</a></h2>
	{tournaments}
	<a href="{url.reporting}" class="more">More Coverage »</a>
</div>


<% widget_index:tournaments.item %>
<a href="{url}" class="tourBanner" <%if {logo} %>style="background: {skin_color} url('{logo}');"<%else {logo} %>style="background-image: url('{skin_logo}');"<%end%>><span class="hide"><%if {tour} %>{tour} – <%end%>{name}</span></a>
<!--# {live_coverage} -->
{events}
<span class="clr"></span>


<% widget_index:events.item %>
<div><a href="{url}">{name}</a></div>


<% widget_live:main %>
<div class="widget liveTournaments overBreadcrumb">
	<h2 class="widgetTitle">{!live-tournaments}<span class="live">On Air Now</span></h2>
	{tournaments}
</div>


<% widget_live:tournaments.item %>
<div class="tournament">
	<h3 class="tournamentTitle">{name}</h3>
	<ul>{running_events}</ul>
</div>


<% widget_live:running_events.item %>
<li class="event"><a href="{url}">{evname}</a></li>




<% widget_countdown:main %>
{list}

<% widget_countdown:item %>
<div class="lrCountDown">
	<a href="{url}" style="background-image: url('{bg}')"><span>Live Reporting <b>{days}</b><span> Days left</span></span></a>
</div>

<% widget_countdown:item.end %>
<div class="lrCountDown lrCountDownEnd">
	<a href="{url}" style="background-image: url('{bg}')"><span><strong>Live Reporting</strong></span></a>
</div>