<% log:t9n %>
live_reporting={!live_reporting}
day.named = {!day_named}
day.all   = {!day_all}
filter.none  = {!filter_none}
filter.post  = {!filter_post}
filter.chips = {!filter_chips}
filter.day   = {!filter_day}
filter.round = {!filter_rounds}
filter.audio = {!filter_audio}
filter.video = {!filter_video}
filter.photos= {!filter_photos}


<% log:tabs %>
log     =         | {!live_reporting}
chips   = chips   | {!chipcounts}
gallery = gallery | {!photo_gallery}
payouts = payouts | {!payouts}


<% log:events.pop.item.active %>
<li class="pg pg{page}"><a href="{url}">{name}</a></li>

<% log:events.pop.item.current %>
<li class="pg pg{page}"><b>{name}</b></li>

<% log:events.pop.pager.active %>
<a class="minipager pgg pgg{page}" id="switch-{page}" rel="#tab-{page}" href="#" title="Page {pageTitle}">•</a>

<% log:events.pop.pager.current %>
<a class="minipager current pgg pgg{page} pgga" id="switch-{page}" rel="#tab-{page}" href="#" title="Page {pageTitle}">•</a>


<% log:main %>
<div id="body" class="clrfix wColNarrow">
	<div class="left fl">
		<div class="widget livePokerPage livePokerEventPage" id="{mainContainerId}">
			<h1 class="pageTitle">{tournament_name} › <span>{event_name}</span></h1>
			<%if {list.days} %>
			<div class="dayListing">
				<span class="dayListingTitle">{!days} </span>
				<ul>
					{list.days}
				</ul>
			</div>
			<%end%>
			<div class="filterTabs filterTabsTopLine clrfix">
				<b>Show:</b>
				<ul>
					{list.tabs}
				</ul>
			</div>

			<%if {launch_live_count} %>
			<script type="text/javascript">
			/*<![CDATA[*/
				var miscAjaxUrl = '{misc_ajax_url}';
				var launchLiveCount = {
					day : {launch_live_day_id},
					evt : {launch_live_event_id},
					since : {launch_live_since}
				};
			/*]]>*/
			</script>
			<%end%>
			<%if {showControls} %><div id="rq-log-controls"> {controls} </div><% end %>
			{list.entries}
			{paginator}
		</div>
	</div>
	<div class="right fr">
		<%if {eventlist.singleevent} %>
		<%else {eventlist.singleevent} %>
			<div class="widget overBreadcrumb">
				<h3 class="widgetTitle" id="widgetELShow">{!events_list}</h3>
				<div class="widgetEventsList" id="widgetEL">
					<ul>
					{eventlist.list.events}
					</ul>
					<div class="paging clrfix">
						<a href="#" class="fl" title="Previous" id="widgetELPrev">‹ Previous</a>
						<a href="#" class="fr" title="Next" id="widgetELNext">Next ›</a>
					</div>
					<span class="clr"></span>
				</div>
				
			</div>
		<%end%>
		<%if {showControls} %>
		<div class="widget widgetChipsCount">
			<h3 class="widgetTitle">Controls</h3>
			{sidebar_controls}
		</div>
		<%end%>
		<%if {widget.winner} %>
		<div class="widget widgetEventWinner">
			<h3 class="widgetTitle">{!winner}</h3>
			<%if {winner.winnerimg} %><img width="48" height="48" alt="" src="{winner.winnerimg}" /><br /><%end%>
			<table>
				<tr>
					<th>{!winner}</th>
					<td class="tar"><%if {winner.winnerurl} %><a href="{winner.winnerurl}">{winner.winner}</a><%else {winner.winnerurl} %>{winner.winner}<%end%></td>
				</tr>
				<%if {winner.cards} %>
				<tr>
					<th>{!winning_hand}</th>
					<td class="tar">{winner.cards}</td>
				</tr>
				<%end%>
				<%if {winner.prize} %>
				<tr>
					<th>{!prize}</th>
					<td class="tar">{winner.prize}</td>
				</tr>
				<%end%>
			</table>
		</div>
		<%end%>
		<%if {widget.latest_updates} %>
			<div class="widget widgetLatestUpdates">
			<h3 class="widgetTitle">{!level_info}</h3>
			<table>
				<%if {round.round_block} %>
				<tr>
					<th>{!round}</th>
					<td class="tar">{round.round}</td>
				</tr>
				<%if {round.limit_not_blind} %>
				<tr>
					<th>Limits</th>
					<td class="tar">{round.smallblind} / {round.bigblind}</td>
				</tr>
				<%else {round.limit_not_blind} %>
				<tr>
					<th>{!blinds}</th>
					<td class="tar">{round.smallblind} / {round.bigblind}</td>
				</tr>
				<%end%>
				<tr>
					<th>{!ante}</th>
					<td class="tar">{round.ante}</td>
				</tr>
				<%end%>
			</table>
			</div>
			<div class="widget widgetLatestUpdates">
				<h3 class="widgetTitle">{!players_info}</h3>
				<%if {pl.players_block} %>
				<table>
					<%if {pl.ptotal} %>
					<tr>
						<th>{!players_left}</th>
						<td class="tar">{pl.pleft}</td>
					</tr>
					<tr>
						<th>{!entries}</th>
						<td class="tar">{pl.ptotal}</td>
					</tr>
					<%end%>
					<%if {pl.chips_avg} %>
					<tr>
						<th>{!average_chip_stack}</th>
						<td class="tar">{pl.chips_avg}</td>
					</tr>
					<tr>
						<th>{!chips_total}</th>
						<td class="tar">{pl.chips_total}</td>
					</tr>
					<%end%>
					<%if {pl.prizepool} %>
					<tr>
						<th>{!prize_pool}</th>
						<td class="tar">{pl.prizepool}</td>
					</tr>
					<%end%>
				</table>
				<%end%>
				<%if {npj.npj_block} %>
				<table>
					<tr>
						<th>{!next_pay_jump}</th>
						<td class="tar">{!place} {npj.place}, {npj.sum}</td>
					</tr>
				</table>
				<%end%>
			</div>
		<%end%>
		<% if {widget.top_chip_counts} %>
		<div class="widget widgetChipsCount">
			<h3 class="widgetTitle">{!top_chip_counts}</h3>
			<table class="chipsCount tal" summary="{!chip_statistics}">
				<col class="position" />
				<col class="player" />
				<col class="sponsor" />
				<col class="chipsTotal" />
				<col class="chipsDelta" />
				<tbody>
					{chips.top_chip_counts}
				</tbody>
			</table>
		</div>
		<% end %>
		<div id="lrep_right_1" class="js-adset bannerFull" style="display:none;"></div>
		<script type="text/javascript">
		/*<![CDATA[*/
		addBanner('lrep_right_1', 'lrep:right:1');
		/*]]>*/
		</script>
		{right_twitter_stars_pro}
		{right_twitter}
		<div id="lrep_right_2" class="js-adset bannerFull" style="display:none;"></div>
		<script type="text/javascript">
		/*<![CDATA[*/
		addBanner('lrep_right_2', 'lrep:right:2');
		/*]]>*/
		</script>
		{right_shoutbox}
		<% if {list.event_photos} %>
		<div class="widget widgetWithMoreLink widgetPhotos">
			<h3 class="widgetTitle">{!photos}</h3>
			<ul class="gallery lightbox-gallery">
				{list.event_photos}
			</ul>
			<a href="{url.more_photos}"  class="more">{!view_more_photos}</a>
		</div>
		<% end %>
		<% if {com_social} %>
		<div class="widget widgetTwitterLinks">
			<div class="widgetInner">
				<ul><li class="twitterLink1"><a href="http://twitter.com/PokerNews_Live">Live Reporting<br />on Twitter</a></li><li class="twitterLink2"><a href="http://twitter.com/pokernews/">PokerNews<br />on Twitter</a></li></ul>
			</div>
		</div>
		<%end%>
	</div>
</div>
<% log:days.active %>
<li class="<%if {nextDay}%>nextDay <%end%>current"><span>{name}</span></li>


<% log:days.inactive %>
<li <%if {nextDay}%>class="nextDay"<%end%>><a href="{url}">{name}</a></li>


<% log:tab.part.liveupdate %>
<sup id="lrAjaxLiveUpdate"></sup>


<% log:tab.active %>
<li class="on"><a href="{url}">{name}</a></li>


<% log:tab.inactive %>
<li><a href="{url}">{name}</a></li>


<% log:tab.inactive_empty %>
<li class="empty"><a>{name}</a></li>


<% log:top_chip_counts.item %>
<tr class="{evenodd} <%if{is_busted}%> busted<%end%>">
	<td>{place}</td>
	<td>
		<%if {playerurl} %><a href="{playerurl}">{player}</a>
		<%else {playerurl} %>{player}<%end%>
	</td>
	<td><%if {player_sponsorimg} %><img src="{player_sponsorimg}" alt="" class="splogo" /><%end%></td>
	<td class="numeric"><%if {is_busted} %>{!busted}<%else {is_busted} %>{chips}<%end%></td>
</tr>

<% log:top_chip_counts.item_ %>
	<td class="numeric"><%if {is_busted} %><%else {is_busted} %>
		<%if {chips_change_direction} %><img src="/img/live-poker/delta-{chips_change_direction2}.png" width="7" height="8" alt="{chips_change_direction}" /><%end%>
	<%end%></td>

<% log:event_photos.item %>
<li><dl><dt><a href="{src_big}" rel="lightbox" title="{alt} | {event_name} | {tournament_name}"><img src="{src}" width="89" alt="{alt}" /></a></dt><dd>{alt}</dd></dl></li>

<% entry:t9n %>
live_reporting={!live_reporting}
day.named= {!day_named}
day.all=   {!day_all}

<% sidebar:main %>
<div id="rq-sidebar">
	<%if {show_write_controls} %>
		<strong>Actions for this day</strong>
		<ul class="rq-side{active} rq-sidembx">
			<li><a href="{url.write-post}" id="rq-wp-start" class="rq-qn-startable">Write post</a>
				<%if {show_full_controls} %>(<a href="{url.write-chips}" id="rq-wc-start" class="rq-qn-startable">+chips</a>)<%end%>
				<%if {url.write-tweet} %>	(<a href="{url.write-tweet}" id="rq-wt-start" class="rq-qn-startable">*tweet</a>)<%end%>
			</li>
			<li><a href="{url.write-photos}"     id="rq-wx-start" class="rq-qn-startable">Photos selection</a></li>
			<li><a href="{url.upload-photos}"    id="rq-wp-upload">Upload</a>
				or <a href="{url.review-photos}" id="rq-wp-review">Review</a> photos</li>
			<%if {show_full_controls} %>
			<li><a href="{url.write-round}"      id="rq-wr-start" class="rq-qn-startable">Manage betting structure</a></li>
			<li><a href="javascript:;"           id="rq-wd-toggle-actions">Post day state</a>
				<ul id="rq-wd-actions">
				<%if {url.dprogress} %><li><a href="{url.dprogress}" class="rq-confirm-change-day">{dprogress}</a></li><%end%>
				<%if {url.dregress} %><li><a  href="{url.dregress}"  class="rq-confirm-change-day">{dregress}</a></li><%end%>
				</ul>
			</li>
			<%end%>
		</ul>
		<hr size="1" />
	<%end%>
	<%if {show_event_controls} %><%if {show_full_controls} %>
		<strong>Actions for this event</strong>
		<ul class="rq-side{active} rq-sidembx">
			<li><a href="{ce.url.sect-prizepool}" id="rq-wepp-start" class="rq-qn-startable">Prizepool and payouts</a></li>
			<li><a href="{ce.url.sect-winners}"   id="rq-wew-start"  class="rq-qn-startable">Winners order finetune</a></li>
			<%if {show_write_controls} %>
			<li><a href="{ce.url.sect-list}"      id="rq-wep-start"  class="rq-qn-startable">Players info</a></li>
			<%end%>
			<li><a href="{url.write-evmisc}"      id="rq-wm-start"   class="rq-qn-startable">Miscellaneous</a></li>
			<%if {show_event_progress_change} %>
			<li><a href="javascript:;" id="rq-we-toggle-actions">Event state</a>
				<ul id="rq-we-actions">
				<%if {url.eprogress} %><li><a href="{url.eprogress}" class="rq-confirm-change-evt">{eprogress}</a></li><%end%>
				<%if {url.eregress} %><li><a href="{url.eregress}" class="rq-confirm-change-evt">{eregress}</a></li><%end%>
				</ul>
			</li>
			<%end%>
		</ul>
		<hr size="1" />
	<%end%><%end%>
	<strong>Event</strong> <span class="small gray">({evtstate})</span> <br />
	<strong>Event days</strong>
	<ul>
		<% loop {days+=sidebar:day} %>
		<li><a href="{url}">{name}</a>
		<%if {is_started} %><span class="small gray">(started)</span><%end%>
		<%if {is_completed} %><span class="small gray">(completed)</span><%end%>
		</li>
		<% end {days} %>
	</ul>
	<%if {show_event_controls} %>
	<hr size="1" />
	<strong>Players left</strong>
	<ul>
		<li><input type="text" id="rSbPleft" value="{pl.pleft}" size="3" /> of
			<input type="text" id="rSbPTotal" value="{pl.ptotal}" size="3" />
			<input type="hidden" id="rSbPEvent" value="{pl.event}" size="3" />
			<a href="javascript:;" id="rSbPSave">Save</a>
			<script type="text/javascript">
			var write_sbplayers_url = '{write_sbplayers_url}';
			</script>
		</li>
	</ul>
	<%end%>
</div>

<% sidebar:t9n %>
day.named={!day_named}
day.all={!day_all}
day.start=Start day
day.complete=Complete day
day.undo_started=Stop day
day.undo_completed=Resume day
day.not_started=Not started
day.started=Started
day.completed=Completed
evt.started=Started
evt.completed=Completed
evt.complete=Complete event
evt.resume=Resume event
evt.scheduled=Scheduled

<% tour:cards.item %>
<span class="card card{color}" title="{value}-{suit}"><img src="/img/suits/suit-{isuit}.png" width="13" height="13" alt="{valueRaw}" /><span class="cardValue">{value}</span></span>