<% logEntry:round.limits-round %>
<div class="article <%if{is_hidden}%>article-hidden<%end%><%if{is_temporally_hidden}%>article-temporally-hidden<%end%>" id="round-{id}">
	<h3 class="articleTitle" id="no{id}">{!round} {round} {!started}</h3>
	<p class="meta">{!posted} <span class="date">{created_on}</span> <%if {author_name} %>{!posted_by}<%end%>
		<%if {show_controls} %><span class="postActionIcons"><a href="{url.edit}" class="editIco" title="Edit Post">edit</a></span><%end%>
	</p>
	<div class="changedBets">
		<dl><dt>{!round}:</dt> <dd>{round}</dd></dl>
		<dl><dt>Limits:</dt> <dd>{small_blind}/{big_blind}</dd></dl>
		<dl><dt>{!ante}:</dt> <dd>{ante}</dd></dl>
	</div>
	<span class="clr"> </span>
</div>

<% logEntry:round.blinds-round %>
<div class="article <%if{is_hidden}%>article-hidden<%end%><%if{is_temporally_hidden}%>article-temporally-hidden<%end%>" id="round-{id}">
	<h3 class="articleTitle" id="no{id}">{!round} {round} {!started}</h3>
	<p class="articleMeta">{!posted} <span class="date">{created_on}</span> <%if {author_name} %>{!posted_by}<%end%>
		<%if {show_controls} %><span class="postActionIcons"><a href="{url.edit}" class="editIco" title="Edit Post">edit</a></span><%end%>
	</p>
	<div class="changedBets">
		<dl><dt>{!round}:</dt> <dd>{round}</dd></dl>
		<dl><dt>{!blinds}:</dt> <dd>{small_blind}/{big_blind}</dd></dl>
		<dl><dt>{!ante}:</dt> <dd>{ante}</dd></dl>
	</div>
	<span class="clr"> </span>
</div>

<% logEntry:round.custom %>
<div class="article <%if{is_hidden}%>article-hidden<%end%><%if{is_temporally_hidden}%>article-temporally-hidden<%end%>" id="round-{id}">
	<h3 class="articleTitle" id="no{id}">{!round} {round} {!started}</h3>
	<p class="articleMeta">{!posted} <span class="date">{created_on}</span> <%if {author_name} %>{!posted_by}<%end%>
		<%if {show_controls} %><span class="postActionIcons"><a href="{url.edit}" class="editIco" title="Edit Post">edit</a></span><%end%>
	</p>
	<div class="changedBets">
		<p>{!round}: {round}</p>
		<p>{description}</p>
	</div>
	<span class="clr"> </span>
</div>

<% logEntry:round.break %>
<div class="article <%if{is_hidden}%>article-hidden<%end%><%if{is_temporally_hidden}%>article-temporally-hidden<%end%>" id="round-{id}">
	<h3 class="articleTitle" id="no{id}">Break {!started}</h3>
	<p class="articleMeta">{!posted} <span class="date">{created_on}</span> <%if {author_name} %>{!posted_by}<%end%>
		<%if {show_controls} %><span class="postActionIcons"><a href="{url.edit}" class="editIco" title="Edit Post">edit</a></span><%end%>
	</p>
	<div class="changedBets">
		Break: {duration} min.
	</div>
	<span class="clr"> </span>
</div>



<% entry:round %>
<%if {control} %>
<div id="rq-entry-control">
	{control}
</div>
<%end%>
<div class="article">
	<h3 class="articleTitle" id="no{id}">{!round} {round}</h3>
	<p class="meta">{!posted} <span class="date">{created_on}</span> {!posted_by}</p>
	<span class="clr"> </span>
	<p><a href="{url.up}">{!back}</a></p>
</div>


<% controls:round %>
<div id="rq-wr" style="<%if {cr.unhide} %><%else {cr.unhide} %>display:none;<%end%>">
<form method="post" class="control" action="{!action}">
	<input type="hidden" name="event" value="{cr.save_event}" />
	<input type="hidden" name="day_id" value="{cr.day_id}" />
	<input type="hidden" name="round_id" value="{cr.round_id}" />
	<% if {cr.master} %><input type="hidden" name="master" value="{cr.master}" /><%end%>
	<div class="aform clrfix">
		<ul class="tabs"><li class="current">Betting structure<span class="edge"></span></li></ul>
		<dl>
			<dt><label>Level</label></dt>
			<dd><input type="text" size="2" name="round" value="{cr.round}" style="width: 50px" /></dd>
			
			<dt><label>Duration</label></dt>
			<dd><input type="text" size="3" name="duration" value="{cr.duration}" style="width: 50px" />&nbsp;&nbsp;min.</dd>
		
			<dt></dt>
			<dd><input type="checkbox" name="limit_not_blind" id="rq-wr-limit-not-blind" style="position:relative; top: 2px" <%if {cr.limit_not_blind} %> checked="checked"<%end%> /> <label for="rq-wr-limit-not-blind">Use limits instead of blinds</label></dd>
		</dl>
		<dl id="rq-wr-small-blind-p">
			<dt><label>Small blind</label></dt>
			<dd><input type="text" name="small_blind" size="7" maxlength="9" value="{cr.small_blind}" style="width: 80px" /></dd>
		</dl>
		<dl id="rq-wr-small-limit-p">
			<dt><label>Small limit</label></dt>
			<dd><input type="text" name="small_limit" size="7" maxlength="9" value="{cr.small_blind}" style="width: 80px" /></dd>
		</dl>
		<dl id="rq-wr-big-blind-p">
			<dt><label>Big blind</label></dt>
			<dd><input type="text" name="big_blind" size="7"  maxlength="9" value="{cr.big_blind}" style="width: 80px" /></dd>
		</dl>
		<dl id="rq-wr-big-limit-p">
			<dt><label>Big limit</label></dt>
			<dd><input type="text" name="big_limit" size="7"  maxlength="9" value="{cr.big_blind}" style="width: 80px" /></dd>
		</dl>
		<dl>
			<dt><label>Ante</label></dt>
			<dd><input type="text" name="ante" size="7" maxlength="9" value="{cr.ante}" style="width: 80px" /></dd>
			<dt><label>Custom description</label></dt>
			<dd class="w100">
				<textarea name="description" style="height:72px;" cols="50" rows="4">{cr.description}</textarea>
				<div class="explain">Note: Entering custom description will ignore blinds and ante fields.</div>
			</dd>
		</dl>

		<dl>
			<dt></dt>
			<dd><input type="checkbox" name="has_break" id="rq-wr-has-break" style="position:relative; top: 2px" <%if {cr.has_break} %> checked="checked"<%end%> /> <label for="rq-wr-has-break">Has break</label></dd>
		</dl>
		<dl id="rq-wr-break-data">
			<dt><label>Break duration</label></dt>
			<dd><input type="text" size="3" name="break_duration" value="{cr.break_duration}" style="width: 50px" />&nbsp;&nbsp;min.</dd>
		</dl>

		<div class="formButton clrfix"><input type="submit" value="Save" /></div>

		<%if {rounds} %>
		<br /><h3>{!rounds}</h3>
		<div id="rq-wr-rounds-load" style="display:none;"><img src="/img/load-wgite.gif" alt="" /></div>
		<div id="rq-wr-rounds">
			<script type="text/javascript">
			var write_round_rounds_url = '{cr.url.ajax_rounds}';
			</script>
			{rounds}
		</div>
		<%end%>
	</div>
</form>
</div>

<% controls:round.round_list %>
<%if {rounds} %>
<table class="rounds list">
<colgroup>
	<col style="width: 35px" />
	<col style="width: 65px" />
	<col />
	<col />
	<col style="width: 90px" />
</colgroup>
<tbody>
	<%loop {rounds += controls:round.item} %>
		<tr>
			<td>{round}</td>
			<td class="postActionIcons" style="white-space: nowrap">
				<a href="{url.edit}" class="editIco" title="Edit Round">edit</a>
				<%if{url.delete}%><a href="{url.delete}" class="deleteIco rq-confirm-delete" title="Delete Round">delete</a><%end%>
			</td>
			<td>
				<%if {custom} %>{description}<%else {custom} %>
					{small_blind} / {big_blind}; {ante}
				<%end%>
			</td>
			<td class="grayText">
				<%if {started_on} %>
					Started: <span style="white-space:nowrap">{started_on}</span>.
					<%if {url.stop} %><a href="{url.stop}" class="confirm-change-round">Stop round</a>.<%end%>
					<%if {url.start_break} %><a href="{url.start_break}" class="confirm-change-round">Start break now</a>.<%end%>
					<%if {url.stop_break} %><a href="{url.stop_break}" class="confirm-change-round">Stop break</a>.<%end%>
				<%else {started_on} %>
					Duration: {duration} min. <%if{break_duration}%> + {break_duration} min. break.<%end%>
					<%if {url.start} %><a href="{url.start}" class="confirm-change-round">Start round now</a>.<%end%>
					<%if {moveDay} %><br /> Move to: <%loop {moveDay += controls:round.item.moveDay} %><a href="{url.move}" class="rq-confirm-change-round">day {name}</a>;&nbsp;<%end%><%end%>
				<%end%>
			</td>
			<td><%if {startable} %><a href="{url.edit}" class="small">start</a>&nbsp;<a href="{url.delete}" class="small">move</a><% end %></td>
		</tr>
	<%end%>
</tbody>
</table>
<%end%>


<% controls.datetime:round %>
<div id="rq-wr">
<form method="post" class="control" action="{!action}">
	<input type="hidden" name="event" value="{cr.save_event}" />
	<input type="hidden" name="day_id" value="{cr.day_id}" />
	<input type="hidden" name="round_id" value="{cr.round_id}" />
	<div class="aform clrfix">
		<dl>
			<dt>Date:</dt>
			<dd class="dateSelectionItems">{cr.custom_datetime} {cr.custom_tz}</dd>
		</dl>
		<div class="formButton clrfix"><input type="submit" name="update_round_data" value="Save"/></div>
	</div>
</form>
</div>


<% controls:round.datetime_options.items %>
old_dt=Leave as is
now_dt=Now
sct_dt=Set custom