<% logEntry:post %>
<div class="article <%if{is_hidden}%>article-hidden<%end%>" id="post-{id}">
	<h3 class="articleTitle" id="no{id}"><a href="{url.view}">{title}</a></h3>
	<div class="articleMeta">{!posted} <span class="date">{created_on}</span> <%if {author_name} %>{!posted_by}<%end%>
		<%if {round_id} %> &bull; {!round} {round_nr}<%if {round_details} %>: {round_small_blind}-{round_big_blind}, {round_ante} ante<%end%><%end%> {sociallinks}
		<%if {show_controls} %> | <a href="{url.edit}">edit</a> | <a href="{url.delete}" class="rq-confirm-delete">delete</a><%end%>
	</div>
	<% if {image} %><div class="fl10">
		<div><img src="{image_src}" alt="{image_description}" /></div>
		<% if {image_description} %><div class="caption" style="width:{image_width}px;">{image_description}</div><%end%>
	</div><% end %>
	{body}
	<%if {tags} %><p class="postTags">{!tags}: 
		<% loop {tags += logEntry:tag} %>
		<a href="{url}">{tag}</a>{comma}
		<%end%>.</p>
	<%end%>
	<%if {is_preview} %><p><a href="{url.view}">{!read_full}</a></p><%end%>
	<span class="clr"></span>
</div>



<% entry:post %>
<%if {control} %>
<div id="rq-entry-control">
	{control}
</div>
<%end%>
<div class="article">
	<h3 class="articleTitle" id="no{id}">{title}</h3>
	<div class="articleMeta">{!posted} <span class="date">{created_on}</span> <%if {author_name} %>{!posted_by}<%end%> {sociallinks}</div>
	<% if {image} %><div class="fl10">
		<div><img src="{image_src}" alt="{image_description}" /></div>
		<% if {image_description} %><div class="caption" style="width:{image_width}px;">{image_description}</div><%end%>
	</div><% end %>
	{body}
	<%if {tags} %><p class="postTags">{!tags}: 
		<% loop {tags += entry:tag} %>
		<a href="{url}">{tag}</a>{comma}
		<%end%>.</p>
	<%end%>
	<span class="clr"> </span>
	<p><a href="{url.up}" id="urlup">{!back}</a></p>
</div>


<% controls:post %>
<%if {cp.bundled_control} %><p><a href="#" id="rq-wp-start-bun">Edit</a></p><%end%>
<div id="rq-wp" style="<%if {cp.unhide} %><%else {cp.unhide} %>display:none;<%end%>">
<form method="post" class="control" action="{!action}">
	<input type="hidden" name="event"   value="{cp.save_event}" />
	<input type="hidden" name="day_id"  value="{cp.day_id}" />
	<input type="hidden" name="post_id" value="{cp.id}" />
	<fieldset>
		<legend>Post</legend>
		<p><label>Title:</label><input type="text" name="title" maxlength="255" class="full-width" value="{cp.title}" /></p>
		<p><label>Date:</label>
			<select name="datetime_options" id="rq-wp-datetime-options">{cp.datetime_options}</select>
			<span class="input-padright" id="rq-wp-datetime-custom" style="display:none;">{cp.custom_datetime} {cp.custom_tz}</span>
		</p>
		{cp.toolbar}
		Text:
		<p><textarea name="body" id="rq-wp-body" cols="55" rows="10">{cp.body}</textarea></p>
		<%if{hl}%><a href="/h/?a={hl}" onclick="var w=window.open('/h/?a={hl}', 'hb', 'width=840,height=645,toolbar=no,scrollbars=yes,resizable=yes');w.focus();return false;">Add hand log</a><%end%>
		<p><label>Tags:</label> <input type="text" name="tags" maxlength="255" class="full-width" value="{cp.tags}" /></p>
		<p>
			<input type="hidden" name="ipnimageid"    value="{cp.ipnimageid}" />
			<input type="hidden" name="ipnimagemisc"  value="{cp.ipnimagemisc}" />
			<input type="hidden" name="ipnimagesrc"   value="{cp.ipnimagesrc}" />
			<input type="hidden" name="round_id"   value="{cp.round_id}" />
			<input type="hidden" id="ipnbase"   value="{cp.url.ipn}" />
			<label>Image:</label> <br />
			<a href="{cp.url.ipnpreview}" id="rq-wp-ipnattach">Select</a> or 
			<a href="{cp.url.ipnupload}" id="rq-wp-ipnupload">Upload</a> 
			<span id="rq-wp-ipndelete2" <%if {cp.ipnimageid} %><%else {cp.ipnimageid} %>style="display:none"<%end%>>or</span>
			<a href="javascript:;" id="rq-wp-ipndelete" <%if {cp.ipnimageid} %><%else {cp.ipnimageid} %>style="display:none"<%end%>>Delete</a> image <br />
			<span style="display:block;padding-bottom:0.5em;<%if {cp.ipnimageid} %><%else {cp.ipnimageid} %>display:none<%end%>" id="rq-wp-ipnpreview">
				<a href="{cp.url.ipnpreview}" id="rq-wp-ipnattach2"><img src="<%if {cp.ipnimageid} %>{cp.url.ipn}{cp.ipnimagesrc}<%else {cp.ipnimageid} %>/img/spc.gif<%end%>" width="100" style="float:left; padding-right:.5em;" alt="" /></a>
				Image title:<br />
				<textarea name="ipnimagetitle" style="width:320px;height:45px;" rows="3" cols="40">{cp.ipnimagetitle}</textarea>
				<br style="clear: both" />
			</span>
		</p>
		<p><label>Published:</label> <input type="checkbox" name="published" value="1" class="checkbox"<%if {cp.published} %> checked="checked"<%end%> /></p>
		<p><label>Exportable:</label> <input type="checkbox" name="is_exportable" value="1" class="checkbox"<%if {cp.is_exportable} %> checked="checked"<%end%> /><span class="small gray"> &nbsp; (WSOP xml)</span></p>
		<p><label>&nbsp;</label>
			<input type="submit" value="Save"/>
		</p>
	</fieldset>
</form>
</div>