<% logEntry:round %>
<div class="article <%if{is_hidden}%>article-hidden<%end%>" id="round-{id}">
	<h3 class="articleTitle" id="no{id}">{!round} {round} {!started}</h3>
	<p class="articleMeta">{!posted} <span class="date">{created_on}</span> <%if {author_name} %>{!posted_by}<%end%>
		<%if {show_controls} %> | <a href="{url.edit}">edit</a> <%if {show_fullcontrols} %> | <a href="{url.stop}">stop</a><%end%><%end%>
	</p>
	<div class="changedBets">
		<% if {custom} %>
			<p>{!round}: {round}</p>
			<p>{description}</p>
		<% else {custom} %>
			<dl><dt>{!round}:</dt> <dd>{round}</dd></dl>
			<%if {limit_not_blind} %>
			<dl><dt>Limits:</dt> <dd>{small_blind}/{big_blind}</dd></dl>
			<%else {limit_not_blind} %>
			<dl><dt>{!blinds}:</dt> <dd>{small_blind}/{big_blind}</dd></dl>
			<%end%>
			<dl><dt>{!ante}:</dt> <dd>{ante}</dd></dl>
		<% end %>
	</div>
	<span class="clr"> </span>
</div>




<% entry:round %>
<%if {control} %>
<div id="rq-entry-control">
	{control}
</div>
<%end%>
<div class="article">
	<h3 class="articleTitle" id="no{id}">{!round} {round}</h3>
	<p class="articleMeta">{!posted} <span class="date">{created_on}</span> {!posted_by}</p>
	<span class="clr"> </span>
	<p><a href="{url.up}">{!back}</a></p>
</div>


<% controls:round %>
<div id="rq-wr" style="<%if {cr.unhide} %><%else {cr.unhide} %>display:none;<%end%>">
<form method="post" class="control" action="{!action}">
	<input type="hidden" name="event" value="{cr.save_event}" />
	<input type="hidden" name="day_id" value="{cr.day_id}" />
	<input type="hidden" name="round_id" value="{cr.round_id}" />
	<% if {cr.master} %><input type="hidden" name="master" value="{cr.master}" /><%end%>
	<fieldset>
		<legend>Betting structure</legend>
		<p><label>Level:</label><input type="text" size="2" name="round" value="{cr.round}" style="float:left;margin-right: 130px" />
		   <label>Duration:</label><input type="text" size="3" name="duration" value="{cr.duration}" />min.</p>
		<%if {cr.show_single_entry} %>
		<p><label>Date:</label>
			<select name="datetime_options" id="rq-wr-datetime-options">{cr.datetime_options}</select>
			<span class="input-padright" id="rq-wr-datetime-custom" style="display:none;">{cr.custom_datetime} {cr.custom_tz}</span>
		</p>
		<%end%>
		<p>Use limits instead of blinds <input type="checkbox" name="limit_not_blind" id="rq-wr-limit-not-blind" style="position:relative; top: 2px" <%if {cr.limit_not_blind} %> checked="checked"<%end%> /></p>
		<table>
			<tr><td>&nbsp;</td><td style="padding-left:8px">Custom description:</td></tr>
			<tr><td>
				<p id="rq-wr-small-blind-p"><label>Small blind:</label> <input type="text" name="small_blind" size="7" maxlength="9" value="{cr.small_blind}" /></p>
				<p id="rq-wr-small-limit-p"><label>Small limit:</label> <input type="text" name="small_limit" size="7" maxlength="9" value="{cr.small_blind}" /></p>
				</td>
				<td rowspan="3" style="vertical-align:top;padding-left:8px">
				<textarea name="description" style="height:72px;" cols="50" rows="4">{cr.description}</textarea>
				</td></tr>
			<tr><td>
				<p id="rq-wr-big-blind-p"><label>Big blind:</label> <input type="text" name="big_blind" size="7"  maxlength="9" value="{cr.big_blind}" /></p>
				<p id="rq-wr-big-limit-p"><label>Big limit:</label> <input type="text" name="big_limit" size="7"  maxlength="9" value="{cr.big_blind}" /></p>
			</td></tr>
			<tr><td><p><label>Ante:</label> <input type="text" name="ante" size="7" maxlength="9" value="{cr.ante}" /></p></td></tr>
		</table>
		<p>Note: Entering custom description will ignore blinds and ante fields.</p>
		<p><label>&nbsp;</label>
			<input type="submit" value="Save"/>
		</p>
		<%if {cr.show_single_entry} %>
		<%else {cr.show_single_entry} %>
		<hr size="1" style="clear:both;margin: 5px 0;" />
		{!rounds}
		<div id="rq-wr-rounds-load" style="display:none;"><img src="/img/load-wgite.gif" alt="" /></div>
		<div id="rq-wr-rounds">
			<script type="text/javascript">
			var write_round_rounds_url = '{cr.url.ajax_rounds}';
			</script>
			{rounds}
		</div>
		<%end%>
	</fieldset>
</form>
</div>

<% controls:round.round_list %>
<%if {rounds} %>
<table class="rounds">
<%loop {rounds += controls:round.item} %>
	<tr>
		<td>{round}</td>
		<td>
			<a href="{url.edit}" class="small">edit</a>&nbsp;<a href="{url.delete}" class="small rq-confirm-delete">delete</a>&nbsp;&nbsp;
		</td>
		<td>
			<%if {custom} %>{description}<%else {custom} %>
				<%if {limit_not_blind} %>
				Limits: {small_blind} / {big_blind};  ante: {ante}
				<%else {limit_not_blind} %>
				Blinds: {small_blind} / {big_blind};  ante: {ante}
				<%end%>
			<%end%>
		</td>
		<td>
			<%if {started_on} %>
				Started: <span style="white-space:nowrap">{started_on}</span>.
				<%if {stop} %><a href="{url.stop}" class="confirm-change-round">Stop</a><%end%>
			<%else {started_on} %>
				Duration: {duration} min.
				<%if {start} %><a href="{url.start}" class="confirm-change-round">Start now</a><%end%>
				<%if {move} %>&nbsp; Move to day: <%loop {moveDay += controls:round.item.moveDay} %><a href="{url.move}" class="rq-confirm-change-round">{name}</a>&nbsp;<%end%><%end%>
			<%end%>
		</td>
		<td><%if {startable} %>
			<a href="{url.edit}" class="small">start</a> &nbsp; &nbsp;
			<a href="{url.delete}" class="small">move</a>
			<% end %>
		</td>
	</tr>
<%end%>
</table>
<%end%>


<% controls:round.datetime_options.items %>
old_dt=Leave as is
now_dt=Now
sct_dt=Set custom