<% main %>
<span class="clr"></span>
<div id="reportingSlider">
	<div class="eChoise">{!editorChoise}</div>
	<% if {list.entries} %>
	<div id="slides">
		<a href="#prev" class="prev">»</a>
		<a href="#next" class="next">«</a>
		<div class="hidden">
			<ul>
				{list.entries}
			</ul>
		</div>
	</div>
	<% end %>
</div>

<% entries.event %>
<li class="event"><a href="{url}" <%if {initiallyVisible} %>style="background: url({image}) white"<%else {initiallyVisible} %>data-bg="{image}" style="background: white"<%end%>>{title}</a></li>

<% entries.story %>
<li class="story"><a href="{url}" <%if {initiallyVisible} %>style="background: url({image}) white"<%else {initiallyVisible} %>data-bg="{image}" style="background: white"<%end%>><span>{title}</span></a></li>
