/*BG:, Title:*/
#promo header {background-image: url('bg.jpg'); background-color: #111111}					/*Default: bg: #000 */

/*Bonus bg:, Bonus text*/
#promo header .playCode div {background-color: #7b1600; color: #fff;}	/*Default: bg: #b3b3b3; c: #000 */
#promo header .playCode div span {color: #fff;}

/*Play bg:, Play text:*/
#promo header .playCode a {background-color: #f93b00}					/*Default: bg: #333; c: #fff */