<% main %>
<div class="left fl tournaments">
		<div class="widget">
			<h1 class="pageTitle">{pageTitle}</h1>
			<%if{pageIntro}%><div class="article freerollsIntro">{pageIntro}</div><%end%>

		
	<%insert{filter}%>
		<form action="{!action}" class="filterForm{classIsOn}" id="formfilter">
			<table class="tournamentsFilter">
				<tr>
					<%if{rooms}%><th><label for="select_room">Room</label></th><%end%>
					<th><label for="select_prize">Prize</label></th>
					<th></th>
				</tr>
				<tr>
					<%if{rooms}%>
					<td>
						<select name="room" size="1" id="select_room">
							<option value=""></option>{rooms}
						</select>
					</td>
					<%end%>
					<td>
						<select name="prize" size="1" id="select_prize">{prizes}</select>
					</td>
					<td><button type="submit" title="Filter"  class="grayButton">Filter</button> </td>
				</tr>
			</table>
		</form>

	<%end%>

<%if{items}%>
<ul class="specFreerolls">
<% loop{items} %>
<%if{spotlight}%>
<li>
	<% if {logo} %><a href="{goRoom}" rel="nofollow"><img src="{logo}" alt="{room}" class="roomLogo" /></a><% end %>
	<table>
		<colgroup>
			<col style="width: 219px" />
			<col />
		</colgroup>
		<tr>
			<td class="vab">
				<b>Start date</b>
				<p>{tourDate} {gmt} <%if{startsIn}%><span class="startsIn cr">(starts in {startsIn})</span><%end%></p>
				<% insert {subscribe} %>
					<%if {subscribed} %>
					<a href="{sub_link}" class="grayButton removeAlert ab{id}">Remove Alert</a>
					<%else {subscribed} %>
					<a href="{sub_link}" class="grayButton ab{id}">Alert me!</a>
					<%end%>
				<%end%>

			</td>
			<td>
				<a href="{url.freeroll}" class="title">{name}</a>
				<%if{spotlight}%><a href="{url.freeroll}"><img width="517" height="175" alt="" src="{spotlight}" /></a><%end%>
			</td>
		</tr>
		<tr class="paddingTop">
			<td><b>Qualification Period</b></td>
			<td><% if {qualificationFrom} %>{qualificationFrom} -<% end %> {qualificationTo} <%if{qStarted}%><span class="timeLeft alreadyStarted">Already Started</span><%end{qStarted}%></td>
		</tr>
		<tr>
			<td><b>Prize Pool</b></td>
			<td>{prizePool}</td>
		</tr>
		<tr>
			<td><b>Points Req.</b></td>
			<td>{pointsReq}</td>
		</tr>
		<tr>
			<td><b>Bonus</b></td>
			<td>{bonus}</td>
		</tr>
		<%if{bonusCode}%>
		<tr class="paddingTop">
			<td><b>Bonus Code</b></td>
			<td><b>{bonusCode}</b></td>
		</tr>
		<%end%>
		<%if{marketingCode}%>
		<tr>
			<td><b>Marketing Code</b></td>
			<td><b>{marketingCode}</b></td>
		</tr>
		<%end%>
		<%if{password}%>
		<tr>
			<td><b>Password</b></td>
			<td><% if {passFrom} %>Password will be released on {passFrom} <span title="{tzName}">{gmt}</span><% else{passFrom} %><b>{password}</b><% end %></td>
		</tr>
		<%end%>
	</table>
	<a href="{goRoom}" class="button">Start Playing</a> <a href="{url.freeroll}" class="more2">More Information »</a>
</li>
<%else{spotlight}%>
<li class="nopromoPicture">
	<table>
		<colgroup>
			<col style="width: 219px" />
			<col />
		</colgroup>
		<tr>
			<td><% if {logo} %><a href="{goRoom}" rel="nofollow"><img src="{logo}" alt="{room}" class="roomLogo" /></a><% end %></td>
			<td><a href="{url.freeroll}" class="title">{name}</a></td>
		</tr>
		<tr class="paddingTop">
			<td class="vab"><b>Start date</b></td>
			<td class="vab">{tourDate} {gmt} <%if{startsIn}%><span class="startsIn cr">(starts in {startsIn})</span><%end%> {subscribe}</td>
		</tr>
		<tr class="paddingTop">
			<td><b>Qualification Period</b></td>
			<td><% if {qualificationFrom} %>{qualificationFrom} -<% end %> {qualificationTo} <%if{qStarted}%><span class="timeLeft alreadyStarted">Already Started</span><%end{qStarted}%></td>
		</tr>
		<tr>
			<td><b>Prize Pool</b></td>
			<td>{prizePool}</td>
		</tr>
		<tr>
			<td><b>Points Req.</b></td>
			<td>{pointsReq}</td>
		</tr>
		<tr>
			<td><b>Bonus</b></td>
			<td>{bonus}</td>
		</tr>
		<%if{bonusCode}%>
		<tr class="paddingTop">
			<td><b>Bonus Code</b></td>
			<td><b>{bonusCode}</b></td>
		</tr>
		<%end%>
		<%if{marketingCode}%>
		<tr>
			<td><b>Marketing Code</b></td>
			<td><b>{marketingCode}</b></td>
		</tr>
		<%end%>
		<%if{password}%>
		<tr>
			<td><b>Password</b></td>
			<td><% if {passFrom} %>Password will be released on {passFrom} <span title="{tzName}">{gmt}</span><% else{passFrom} %><b>{password}</b><% end %></td>
		</tr>
		<%end%>
	</table>
	<a href="{goRoom}" class="button">Start Playing</a> <a href="{url.freeroll}" class="more2">More Information »</a>
</li>
<%end{if-spotlight}%>
<%end{loop}%>
</ul>
{paging}
<%end{if}%>
	</div>
</div>
<!--# end -->

<!--# Naudojama rss'ui; + sys.rss -->
<% rss-item %>
<p><strong>{room} | Exclusive PokerNews Freeroll</strong></p>
<% if {addNotes} %>{addNotes}<% end %>
<dl>
	<dt>Prize Pool:</dt><dd>{prizePool}</dd>
	<dt>Points Req.:</dt><dd>{pointsReq}</dd>
	<dt>Bonus:</dt><dd>{bonus}</dd>
	<dt>Qualification Period:</dt>
		<dd><% if {qualificationFrom} %>{qualificationFrom} - <% end %> {qualificationTo}</dd>
	<dt>Start date:</dt><dd>{tourDate}</dd>
</dl>
	
	
<% alerts:main %>
<div class="widget overBreadcrumb myAlerts" id="freerollAlerts">
			<h2 class="widgetTitle">Freeroll alerts</h2>
			<div class="roomsAlert">
				<a href="#" class="grayButton">Rooms to Alert</a>
				<div class="popup">
					<form action="{!action}" method="post">
					<input type="hidden" name="event" value="{save_rooms_event}" />
					<table>
						<colgroup>
							<col style="width: 30px" />
							<col />
							<col style="width: 30px" />
						</colgroup>
						<% loop {list.rooms+=alerts:room.item} %>
 							<tr>
							<td><img src="{img}" alt="" /></td>
							<td>{title}</td>
							<td class="tar"><input type="checkbox" name="room[{id}]"<%if {checked} %> checked="checked"<%end%> /></td>
							</tr>
						<% end {list.rooms} %>
						<tr>
							<td></td>
							<td>All</td>
							<td class="tar"><input type="checkbox" class="toggleAll" /></td>
						</tr>
					</table>
					<button type="submit" class="submit">Save</button>
					</form>
				</div>
			</div>
			<ul class="myAlertsList">
				<% loop {list.freerolls += alerts:freeroll.item} %>
				<li>
					<a href="{urlunsub}" class="remove" title="Remove Alert">&times;</a>
					<p>{date}</p>
					<a href="{url}">{title}</a>
				</li>
				<% end {list.freerolls} %>
				<li id="i"<%if{hI}%> class="hide"<%end%>>Click "Alert me!" to add a freeroll</li>
			</ul>
			<div class="widgetMiniPager<%if{hPg}%> hide<%end%>" id="freerollAlertsPager">
				<a href="#" class="previous" title="Prev">Prev</a>
				<input id="p" type="text" value="1/{pCnt}" />
				<a href="#" class="next" title="Next">Next</a>
			</div>
		</div>
