#promo {background: #101010 url('bg.jpg') no-repeat top left}
#promo .head {
	float: right;
	margin-right: 40px;
	width: 450px;
	padding-top: 50px;
	position: relative;
	margin-bottom: 0;
	min-height: 200px;
	padding-left: 0;
}
#promo .head h1 {
	line-height: 44px;
	margin-bottom: 5px;
}
#promo .head p {font-size: 20px; color: #fff; margin-bottom: 20px}
#promo .menu {background: #fe9100 url('menu.png') repeat-x top right}
#promo .menu a {background: url('menu-sep.png') no-repeat top right; color: #fff}
#promo .menu a:hover {color:#fff}
#promo .menu .active a {color: #fff}
#promo .menu .active, #promo .menu .active:hover {background: url('menu.png') repeat-x 0px -43px; color: #fff}
#promo .menu li:hover {background: url('menu.png') repeat-x bottom left}
#promo .prize {
	border-bottom: 0 none;
	padding-bottom: 0;
}
#promo .prize a,
#promo .content a {color: #ffcc00}
#promo .prize a:hover,
#promo .content a:hover {color: #ffea94}
#promo .content h2 {color: #fff}
#promo table th {background: #fe7a00; color: #fff}
#promo table td {
	background: #312828;
	border-bottom: 1px dotted #001416;
}
#promo table.results td {background: #3c3232; border-bottom: 1px dotted #001416}
#promo table.results tr:nth-child(odd) td {background: #312828}

#promo .download {
	display: inline-block;
	min-width: 150px;
	color: #5b000a;
	font-size: 14px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	background: #fe9f00;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
} #promo .download:hover {background-color: #e11127; color: #fff;}
	#promo .download:after {
		content: '';
		position: absolute;
		top: 4px;
		right: -150px;
		background: url('logo.png') no-repeat top right;
		height: 39px;
		width: 135px;
	}

#promo .usertable {margin-bottom: 20px}
#promo .usertable td {padding: 10px}
#promo .prize h3 {margin-bottom: 15px; font-size: 18px; line-height: 22px}
#promo .content .paging {background-color: #fe7a00}

#promo .archive {border-top: 0 none}
#promo .show-archive {border-bottom: 1px dashed #ffea94}
#promo .show-archive:hover {border-color:#fff}