/*BG:, Title:*/
#promo header {background-image: url('bg.jpg?1'); background-color: #110203}					/*Default: bg: #000 */

/*Bonus bg:, Bonus text*/
#promo header .playCode div {background-color: #620403; color: #fff;}	/*Default: bg: #b3b3b3; c: #000 */
#promo header .playCode div span {color: #fff;}

/*Play bg:, Play text:*/
#promo header .playCode a {background-color: #ea0300}					/*Default: bg: #333; c: #fff */